Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Account for git-lfs requirement in README, run.py build, and Docker setup
  Dockerfile
  README.md
  build.py
  dev.py
Due: none

Be a bit less brittle parsing pd seasons in search, to avoid exceptions
  find/find_test.py
  find/search.py
Due: none

[docker] preserve git tree to allow running git lfs in compose env
  Dockerfile
  README.md
Due: none

hub commandline isn't used any more
  dev.py
Due: none

Update README now that docker-compose can run dev.py
  README.md
Due: none

Do not allow git lfs to get confused when building fonts
  build.py
Due: none

Put test back in correct order
  magic/rotation_test.py
Due: magic

Be sure to init-cards in CI before calling build because buildfonts needs cards
  .github/workflows/build.yml
Due: none

Defend against stale signup form
  decksite/form.py
Due: decksite

Skip flakey test
  magic/rotation_test.py
Due: magic

ci(mergify): upgrade configuration to current format
  .mergify.yml
Due: none

Fix sponsorship message
  decksite/templates/competition.mustache
Due: decksite

Fix typo
  decksite/templates/competition.mustache
Due: decksite

Add competition_flag for Super Saturday
  decksite/sql/76.sql
Due: decksite

Be clearer about supplemental rotation
  discordbot/commands/explain.py
Due: discordbot

Show top 16 finish for Super Saturday decks
  decksite/prepare.py
Due: decksite

Update vscode settings to match our standards
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Complete move from flake8 to ruff
  .flake8
  .github/workflows/build.yml
  Pipfile
  Pipfile.lock
  dev.py
  maintenance/dev_db.py
Due: none

Remove a now-unused type ignore
  discordbot/commands/modobug.py
Due: discordbot

Workaround the perennial issue with pipenv and better profanity
  Pipfile.lock
Due: none

Get the real stack trace into GitHub issues
  shared/repo.py
Due: shared

Defend against multiple signups in the same second from the same player
  decksite/data/deck.py
Due: decksite

Handle special unicode chars that force color
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

To prevent ligatures like the pride flag getting mangled, do not merge fonts
  .gitignore
  Pipfile
  Pipfile.lock
  decksite/templates/header.mustache
  maintenance/fonts.py
  shared_web/base_view.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Use the underlying original exception not the skinny werkzeug wrapper
  shared/repo.py
  shared_web/flask_app.py
Due: shared, shared_web

Move where we declare react version to avoid warning while linting
  eslint.config.mjs
Due: none

Make sure season id shows up in dark mode
  shared_web/static/css/pd.css
Due: shared, shared_web

Revert "To prevent ligatures like the pride flag getting mangled, do not merge fonts"
  .gitignore
  Pipfile
  Pipfile.lock
  decksite/templates/header.mustache
  maintenance/fonts.py
  shared_web/base_view.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Fix security vulnerability via update
  package-lock.json
Due: none

Omit Super Saturday from list of tourneys as well as from ch prizes
  decksite/views/prizes.py
Due: decksite

If someone submits a form with missing fields that's a 400 not a 500
  decksite/form.py
  logsite/views/bad_request.py
  shared/pd_exception.py
  shared_web/flask_app.py
  shared_web/views/__init__.py
  shared_web/views/bad_request.py
Due: decksite, shared, shared_web

Don't show rotation emoji during supplemental rotation
  discordbot/emoji.py
  magic/rotation.py
Due: discordbot, magic

Don't let a None get through to format_exception which does not handle that
  shared_web/flask_app.py
Due: shared, shared_web

don't hide search box on small screens
  decksite/templates/header.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

[decksite] ensure hamburger and header text remain on the same line
  decksite/templates/header.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Hardcode the date of the second Super Saturday
  magic/tournaments.py
Due: magic

Get type of exception as well as message in case it has no message
  magic/multiverse.py
Due: magic

Add new meld to our fallback helper as Scryfall is slightly invalid currently
  magic/multiverse.py
Due: magic

Tell the truth about Super Saturday 2 prizes
  decksite/templates/supersaturday.mustache
  decksite/templates/supersaturdaynotice.mustache
Due: decksite

Remove 16th place claim from Super Saturday banner
  decksite/templates/supersaturdaynotice.mustache
Due: decksite

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
