Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Switch to using pytest.raises in "expected exception" tests, for brevity
  decksite/data/query_test.py
  decksite/data/season_test.py
  magic/seasons_test.py
  shared/database_test.py
Due: decksite, magic, shared

Don't allow negative season_id in API calls (or anywhere)
  magic/seasons.py
  magic/seasons_test.py
Due: magic

Surface issues with caching of applied rules when sorting decks
  decksite/data/rule.py
  decksite/views/edit_archetypes.py
Due: decksite

Repurpose the "No Matching Rule" section of /admin/rules to be more useful
  decksite/templates/editrules.mustache
  decksite/views/edit_rules.py
Due: decksite

Remove spurious double slash in API routes
  shared_web/flask_app.py
  shared_web/smoke.py
Due: shared, shared_web

Fix import order in a bunch of places
  decksite/auth.py
  decksite/data/permission.py
  decksite/smoke_test.py
  discordbot/commands/explain.py
  discordbot/commands/welcome.py
  logsite/smoke_test.py
  magic/whoosh_write.py
  maintenance/fonts.py
  maintenance/update_translations.py
Due: decksite, discordbot, magic

Add extra speculation warning to explain rotation during rotation
  discordbot/commands/explain.py
Due: discordbot

Order people dropdowns by mtgo username in admin pages
  decksite/controllers/admin.py
  decksite/data/person.py
  decksite/templates/playernotes.mustache
Due: decksite

Don't sort imports in node_modules if it happens to contain some python files
  dev.py
Due: none

Don't display a mana cost splitter for mdfcs if one or more sides is a land
  discordbot/command.py
Due: discordbot

Remove ' // ' more clearly
  discordbot/command.py
Due: discordbot

Give explicit width and height for sponsor logo to reduce layout shift on load
  decksite/templates/footer.mustache
Due: decksite

Make it clearer that the dropdown on deck detail page is to change archetype
  decksite/templates/deck.mustache
Due: decksite

Display mtgo username all lowercase on achievements detail page
  decksite/views/person_achievements.py
Due: decksite

Lowercase mtgo usernames in urls
  decksite/prepare.py
Due: decksite

Clean up a little something that pyupgrade made silly
  decksite/data/archetype.py
Due: decksite

Lint after pyupgrade
  magic/card.py
Due: magic

Add a /odds command to do hypergeometric calculations
  discordbot/commands/odds.py
Due: discordbot

Better plurals
  discordbot/commands/odds.py
Due: discordbot

Submitting an empty rule now deletes the rule
  decksite/data/rule.py
Due: decksite

Only store well-cased names in rules
  decksite/data/rule.py
Due: decksite

Don't lowercase deck names when sanitizing them, allows stuff like AggroSlide
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Lint found an issue
  decksite/deck_name.py
Due: decksite

Log a github issue if modo_bugs fails
  run.py
Due: none

Don't error out running modo bugs scheduled task if we don't fetch forum
  modo_bugs/update.py
Due: none

Lint suggested change
  modo_bugs/update.py
Due: none

Allow Kiki-Titi as a deck name
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Don't store 0 wins/draws/losses/etc. on CARDS_BY_NAME, make a new Card
  decksite/data/card.py
Due: decksite

Fix a typo
  logsite/data/tournament.py
Due: none

E713 - Test for membership should be 'not in'
  .flake8
  decksite/data/news.py
  discordbot/background.py
  discordbot/bot.py
  discordbot/commands/configure.py
  discordbot/generate_readme.py
  magic/legality.py
  magic/rotation.py
  maintenance/insert_seasons.py
  modo_bugs/update.py
Due: decksite, discordbot, magic

Fix some flake8 stuff
  .flake8
  decksite/views/card.py
  discordbot/background.py
  magic/whoosh_search.py
Due: decksite, discordbot, magic

Upgrade a bunch of js libraries, move dev things to devDependencies
  package-lock.json
  package.json
Due: none

Remove webpack-cli/migrate
  package-lock.json
  package.json
Due: none

Ignore deck_id if no such deck exists on league signup
  decksite/controllers/league.py
Due: decksite

Use CSS special properties (variables) for colors
  shared_web/static/css/pd.css
  shared_web/static/js/table.jsx
Due: shared, shared_web

Confirmation dialog if manual report is against a new deck of prior opponent
  decksite/controllers/league.py
  decksite/league.py
  decksite/templates/report.mustache
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Lint issue
  shared_web/static/js/pd.js
Due: shared, shared_web

Make 'o' and 'oracle' behave as they do on Scryfall in search, remove 'text'
  find/find_test.py
  find/search.py
Due: none

Cleanup CSS after transition to vars
  shared_web/static/css/pd.css
Due: shared, shared_web

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
