Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Show top archetypes by deck count on home page (#12568)
  decksite/main.py
  decksite/templates/home.mustache
  decksite/views/home.py
Due: decksite

Avoid loading full Deck objects on person page for colors chart (#11295)
  decksite/data/deck.py
  decksite/views/person.py
Due: decksite

Show archetype tree even when archetype has no decks in season (#11284)
  decksite/controllers/metagame.py
  decksite/views/archetype.py
Due: decksite

sweep state 2026-09-01T20:16:13Z
  escalations/11232.json
  escalations/11246.json
  escalations/11631.json
  evidence/11231.json
  evidence/11232.json
  evidence/11236.json
  evidence/11237.json
  evidence/11243.json
  evidence/11244.json
  evidence/11245.json
  evidence/11246.json
  evidence/11248.json
  evidence/11249.json
  evidence/11250.json
  evidence/11252.json
  evidence/11253.json
  evidence/11254.json
  evidence/11279.json
  evidence/11284.json
  evidence/11295.json
  evidence/11298.json
  evidence/11304.json
  evidence/11307.json
  evidence/11320.json
  evidence/11342.json
  evidence/11410.json
  evidence/11411.json
  evidence/11443.json
  evidence/11462.json
  evidence/11466.json
  evidence/11568.json
  evidence/11639.json
  evidence/11677.json
  evidence/12568.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Fix case-sensitive archetype name comparison in deck_name.normalize (#11680)
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Clear cached decks after archetype assignment
  decksite/controllers/admin.py
  decksite/controllers/api.py
  decksite/data/archetype.py
  decksite/data/archetype_test.py
Due: decksite

sweep state 2026-09-01T20:32:04Z
  escalations/11680.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Add keyrune attribution to footers (#11252)
  decksite/templates/footer.mustache
  logsite/templates/footer.mustache
Due: decksite

Exclude bakert from automatic Mergify queue
  .mergify.yml
Due: none

sweep state 2026-09-01T20:47:36Z
  escalations/11300.json
  escalations/11325.json
  evidence/11243.json
  evidence/11252.json
  evidence/11279.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-09-01T21:03:00Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-09-01T21:22:43Z
  escalations/11150.json
  escalations/11151.json
  escalations/11165.json
  escalations/11166.json
  escalations/11168.json
  escalations/11170.json
  escalations/11176.json
  escalations/11181.json
  escalations/11184.json
  escalations/11186.json
  escalations/11193.json
  escalations/11194.json
  escalations/11196.json
  escalations/11201.json
  escalations/11206.json
  escalations/11209.json
  escalations/11212.json
  escalations/11213.json
  escalations/11215.json
  escalations/11216.json
  escalations/11219.json
  escalations/11220.json
  escalations/11222.json
  escalations/11223.json
  escalations/11229.json
  escalations/11231.json
  escalations/11236.json
  escalations/11248.json
  escalations/11249.json
  escalations/11250.json
  escalations/11253.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-09-01T21:30:34Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-09-01T21:48:43Z
  escalations/10512.json
  escalations/10531.json
  escalations/10771.json
  escalations/10780.json
  escalations/11082.json
  escalations/11291.json
  escalations/11712.json
  escalations/11735.json
  escalations/11950.json
  escalations/12191.json
  escalations/12244.json
  escalations/12284.json
  escalations/12569.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-09-01T21:57:35Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-09-01T22:12:52Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-09-01T22:44:22Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Differentiate missing flavor text, unprinted card, and unknown set (#7835)
  discordbot/commands/flavor.py
  magic/oracle.py
Due: discordbot, magic

Suppress pkg_resources DeprecationWarning in pytest output (#11249)
  pytest.ini
Due: none

Add CSV download button to rotation table (#8578)
  shared_web/static/js/rotationtable.jsx
Due: shared, shared_web

Fall back to non-playable cards in Whoosh search when no playable card matches (#7766)
  magic/whoosh_search.py
  magic/whoosh_search_test.py
  magic/whoosh_write.py
Due: magic

Make 'retire page' an HTML link in active league run error (#11248)
  decksite/league.py
  decksite/templates/signup.mustache
Due: decksite

Give each archetype dropdown a unique name to prevent tab-restore misassignment (#8508)
  decksite/controllers/admin.py
  decksite/views/edit_archetypes.py
Due: decksite

Replace N+1 per-person DB queries with two bulk queries in /people/ (#11236)
  logsite/views/people.py
Due: none

Pre-select archetype in New Rule form when following 100% similarity link (#8714)
  decksite/controllers/admin.py
  decksite/views/edit_archetypes.py
  decksite/views/edit_rules.py
Due: decksite

Include bug description in /deckcheck/ card error/warning messages (#8595)
  decksite/form.py
  decksite/form_test.py
Due: decksite

Check discord_id when gatherling mtgo_username is unset (#8428)
  decksite/scrapers/gatherling.py
  decksite/scrapers/gatherling_test.py
Due: decksite

Move url_for calls from data layer to prepare layer (#8435)
  decksite/data/match.py
  decksite/data/news.py
  decksite/prepare.py
  decksite/view.py
Due: decksite

Return error when requested set has no printing for art command (#8451)
  discordbot/commands/art.py
  discordbot/commands/network_io_test.py
Due: discordbot

Clarify game loss and sideboarding procedures in bug policy (#12380)
  decksite/templates/bugpolicy.mustache
Due: decksite

Load test DB from schema.sql instead of running all migrations (#8433)
  decksite/schema.sql
  decksite/testutil.py
Due: decksite

Show date, description, and top prize in !pd500 command (#8241)
  discordbot/commands/pd500.py
Due: discordbot

Support personId, archetypeId, deckType, competitionSeriesId in /api/matches (#8096)
  decksite/controllers/api.py
Due: decksite

Add Elo to head-to-head table (#7998)
  decksite/data/clauses.py
  decksite/data/person.py
  shared_web/static/js/headtoheadtable.jsx
Due: decksite, shared, shared_web

Validate that match results total 2 or 3 games (#8104)
  decksite/league.py
  decksite/league_test.py
Due: decksite

Handle babel parse errors in validate_translations so one bad .po file does not abort the rest (#11231)
  maintenance/validate_translations.py
  maintenance/validate_translations_test.py
Due: none

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
