Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Include NONE in permissions enum to avoid 500 error
  decksite/data/permission.py
Due: decksite

Make it explicit that smoke test needs a test db
  shared_web/smoke.py
Due: shared, shared_web

Add Bloomburrow to magic.seasons.SEASONS
  magic/seasons.py
Due: magic

Allow upgrade to pytest 8 by fixing some funkiness with db and with_test_db
  Pipfile.lock
  decksite/database.py
  decksite/testutil.py
Due: decksite

Make smoke test work when run in isolation
  decksite/smoke_test.py
Due: decksite

Upgrade to pytest 8.1.1 from 7.x.x
  Pipfile
  Pipfile.lock
Due: none

Don't actually upgrade pytest
  Pipfile
  Pipfile.lock
Due: none

A tiny commit to see if this breaks CI/CD
  decksite/smoke_test.py
Due: decksite

Test fixture should return db config to initial value after test
  decksite/testutil.py
Due: decksite

Store database under its own name not under 'database'
  decksite/database.py
Due: decksite

Upgrade from pytest 7.x.x to 8.1.1
  Pipfile
  Pipfile.lock
Due: none

pipenv lock --pre --clear
  Pipfile.lock
Due: none

Get some debug help on pytest upgrade issue
  .github/workflows/build.yml
Due: none

Downgrade pytest again to see what verbose outputs says in CI/CD
  Pipfile
  Pipfile.lock
Due: none

Upgrade from pytest 7.x.x to 8.1.1 and manually edit Pipfile.lock to keep better-profanity sane
  Pipfile
  Pipfile.lock
Due: none

Reinstate editing a deck's archetype from the deck detail page
  decksite/auth.py
  decksite/controllers/api.py
  decksite/controllers/metagame.py
  decksite/views/deck.py
Due: decksite

welcome and back-for-more commands
  discordbot/commands/welcome.py
Due: discordbot

Make deck names smarter about seasons, "version", and roman numerals
  decksite/data/deck.py
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Update hq_artcrops.json
  hq_artcrops.json
Due: none

Hide match logs for 24 hours from non-admins
  logsite/templates/match.mustache
  logsite/views/match_view.py
Due: none

Switch from GPLv3 to MIT license
  LICENSE.md
Due: none

Prevent scrollbar on /metagame
  shared_web/static/css/pd.css
Due: shared, shared_web

Add an achievement for "played this season"/"played N seasons"
  decksite/data/achievements.py
Due: decksite

Don't error if an archetype has "no" win percent, just don't show it
  decksite/views/metagame.py
Due: decksite

Fix language switcher links on competition detail page
  decksite/templates/language_switcher.mustache
Due: decksite

Detect phyrexian hybrid mana properly
  discordbot/emoji.py
Due: discordbot

Add rule ids to rules page when there are conflicts
  decksite/data/rule.py
  decksite/templates/editrules.mustache
Due: decksite

Shorter history display for the bot
  discordbot/commands/history.py
Due: discordbot

More feedback on rule update failure
  shared_web/static/js/pd.js
Due: shared, shared_web

Remove some dead code
  decksite/prepare.py
  decksite/templates/card.mustache
Due: decksite

Keep is:spikey up to date instead of using a list from 2021
  .gitignore
  find/search.py
  maintenance/spikey.py
  shared/configuration.py
Due: shared

Don't show all legal seasons in deck table, show the deck's season
  decksite/prepare.py
  decksite/templates/archetypesearch.mustache
  decksite/templates/deckrow.mustache
  decksite/templates/decktable.mustache
  decksite/templates/livedecktable.mustache
  decksite/view.py
  decksite/views/matchups.py
  shared_web/static/js/decktable.jsx
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Fix some lint issues
  find/search.py
  maintenance/spikey.py
Due: none

Display congrats message for pd 500 winner from end of pd 500 to end of season
  decksite/view.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Missing template for pd 500 winner banner
  decksite/templates/pd500winner.mustache
Due: decksite

Standardize trailing slash on paths
  decksite/controllers/api.py
  decksite/controllers/banners.py
  decksite/smoke_test.py
  dev.py
  logsite/api.py
  logsite/smoke_test.py
  shared_web/flask_app.py
  shared_web/smoke.py
Due: decksite, shared, shared_web

Fix spurious assert False
  logsite/smoke_test.py
Due: none

Use one of our exceptions not a generic Exception in spikey task
  maintenance/spikey.py
Due: none

Two tests from a conversation with Honorbound84
  decksite/deck_name_test.py
Due: decksite
