Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Make gbug a slash command with title and body, fix bug
  discordbot/commands/bug.py
Due: discordbot

Check for sitemap slightly more robustly
  magic/fetcher.py
Due: magic

Put exact search matches at the top of search results
  decksite/controllers/api.py
Due: decksite

Whitelist a deck name
  decksite/deck_name.py
Due: decksite

Wrenn and Six card alias
  card_aliases.tsv
Due: none

Add test for Mono Black Reanimator deck name
  decksite/deck_name_test.py
Due: decksite

Tell folks to use /explain rather than having a broken !explain
  discordbot/commands/explain.py
Due: discordbot

Update package-lock.json version
  package-lock.json
Due: none

Serve the dev db copy in such a way that it downloads gzipped
  decksite/main.py
Due: decksite

Fix /explain nextround and link to #league and #tournament-room in explain
  discordbot/commands/explain.py
Due: discordbot

Exclude snow basics from most common cards lists
  decksite/prepare.py
  decksite/view.py
  magic/multiverse_test.py
Due: decksite, magic

Order the leaderboards on /tournaments/leaderboards by day of week
  decksite/data/competition.py
  decksite/sql/64.sql
Due: decksite

Index cards that start with "the" also without the "the"
  magic/whoosh_write.py
Due: magic

Support Adventure as part of card name in decklist
  magic/decklist_test.py
Due: magic

A feed of pd legality with playability rank included, for Scryfall
  decksite/controllers/api.py
Due: decksite

Add per-archetype cards table
  decksite/controllers/api.py
  decksite/data/card.py
  decksite/templates/archetype.mustache
  decksite/templates/livecardtable.mustache
  decksite/view.py
Due: decksite

Send null for never played before not sys.maxsize
  decksite/controllers/api.py
Due: decksite

Acknowledge that the search term was not found in /resources failure
  discordbot/commands/resources.py
Due: discordbot

Give both face names for modal dfcs in scryfall feed
  decksite/controllers/api.py
Due: decksite

Don't error if more than one pipe provided in card text
  discordbot/command.py
Due: discordbot

Add a test for a deck name that failed once
  decksite/deck_name_test.py
Due: decksite

Fix a deck name sanitization
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Cleaned up some type hints
  Pipfile
  Pipfile.lock
  decksite/__init__.py
  decksite/data/deck.py
  decksite/data/season.py
  decksite/view.py
  decksite/views/resources.py
  discordbot/bot.py
  discordbot/generate_readme.py
  magic/abc/__init__.py
  magic/abc/card_description.py
  magic/card.py
  magic/fetcher.py
  magic/models/card.py
  run.py
  shared/database.py
  shared_web/base_view.py
Due: decksite, discordbot, magic, shared, shared_web

Update Docker to match prod versions
  Dockerfile
  docker-compose.yml
Due: none

Add hq art for Drowned Catacomb
  hq_artcrops.json
Due: none

Make Snow and Colorless symbol sort ordering stable, fix issues with sort_score
  magic/mana.py
  magic/mana_test.py
Due: magic

Clean up sort_score so it more properly ignores any dupes passed in
  magic/mana.py
Due: magic

Add a test for deck 112057's issues
  magic/decklist_test.py
Due: magic

Seasonize URLs in all react cards tables
  decksite/controllers/api.py
  decksite/prepare.py
Due: decksite

Actually respect decksite_port setting
  run.py
Due: none

Skip problematic cards when trying to import immediately after a set is renamed
  dev.py
  magic/multiverse.py
Due: magic

Skip tournaments with no matches in Gatherling scraper
  decksite/scrapers/gatherling.py
Due: decksite

Expand the number of layouts where we show all faces in cardfeed
  decksite/controllers/api.py
Due: decksite

Improve comment after code change
  decksite/controllers/api.py
Due: decksite

Reinstate PD Tuesdays
  magic/tournaments.py
Due: magic

Update sponsor status of PD Tuesdays
  decksite/sql/65.sql
Due: decksite
