Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Update sponsor status of PD Tuesdays
  decksite/sql/65.sql
Due: decksite

Add PD Tuesday properly
  magic/tournaments.py
Due: magic

Remove incorrect sponsorship information
  magic/tournaments.py
Due: magic

Retire EU Wednesdays tournament series
  magic/tournaments.py
Due: magic

Remove last reference to EU Wednesdays
  magic/tournaments.py
Due: magic

Remove unused var
  magic/tournaments.py
Due: magic

Move PD Tuesdays an hour later
  magic/tournaments.py
Due: magic

lint
  dev.py
Due: none

Add new test to ensure the mismatch we experienced last night can't happen again
  magic/tournaments_test.py
Due: magic

Use defer on commands that query external resources
  discordbot/commands/resources.py
  discordbot/commands/rulings.py
  discordbot/commands/search.py
  discordbot/commands/version.py
Due: discordbot

Intents is now keyword only
  discordbot/bot.py
Due: discordbot

Another place where we forgot to specify encoding
  magic/fetcher.py
Due: magic

Use discord timestamps
  discordbot/commands/search.py
  discordbot/commands/version.py
Due: discordbot

More rotation_script improvements
  rotation_script/rotation_script.py
Due: none

I keep trying to type `post-rotation`. Make it work
  run.py
Due: none

Revamp the placeholder banner a bit
  decksite/main.py
  hq_artcrops.json
Due: decksite

Better rotation instructions
  decksite/templates/rotationchecklist.mustache
Due: decksite

Always show all colors in 'Colors Played' graph labels
  decksite/views/person.py
Due: decksite

Add achievement for winning the PD 500
  decksite/data/achievements.py
Due: decksite

Penny Dreadful 500 Top 8 achievement
  decksite/data/achievements.py
Due: decksite

Support is:checkland and is:triland in search
  find/find_test.py
  find/search.py
Due: none

Scroll into view when moving pages in react tables
  shared_web/static/js/table.jsx
Due: shared, shared_web

Skip some CMB1 cards in whoosh indexing so Wasteland and Bind work correctly
  discordbot/command_test.py
  magic/whoosh_search_test.py
  magic/whoosh_write.py
Due: discordbot, magic

Give the site heading a drop shadow so it shows up on light backgrounds
  shared_web/static/css/pd.css
Due: shared, shared_web

Add DMU to seasons
  magic/seasons.py
Due: magic

Account for nonstandard naming of Kick Off tournament this season in prizes
  magic/tournaments.py
Due: magic

HQ Shardless Agent crop
  Pipfile
  hq_artcrops.json
Due: none

Use can actual cast rather than cast to prevent possible sql injection
  decksite/data/query.py
Due: decksite

Update flake8 configuration to match new code for 'print found'
  .flake8
Due: none

Some typing changes to handle inflect update
  decksite/view.py
  magic/tournaments.py
Due: decksite, magic

Stage changes
  dev.py
  discordbot/bot.py
  discordbot/commands/__init__.py
  discordbot/commands/configure.py
  discordbot/commands/drc.py
  discordbot/commands/whois.py
  mypy.ini
  run.py
  shared/database.py
Due: discordbot, shared

Enforce a limit of 500 results in API queries and Bad Request if exceeded
  decksite/controllers/api.py
  decksite/data/query.py
  decksite/data/query_test.py
Due: decksite

Lock file
  Pipfile.lock
Due: none

Lint
  discordbot/bot.py
  discordbot/command.py
  discordbot/commands/__init__.py
  discordbot/commands/art.py
  discordbot/commands/barbs.py
  discordbot/commands/bug.py
  discordbot/commands/clearimagecache.py
  discordbot/commands/configure.py
  discordbot/commands/drc.py
  discordbot/commands/echo.py
  discordbot/commands/explain.py
  discordbot/commands/google.py
  discordbot/commands/quality.py
  discordbot/commands/resources.py
  discordbot/commands/swiss.py
  discordbot/commands/sync.py
  discordbot/commands/whois.py
Due: discordbot

naff 1.6
  Pipfile.lock
  discordbot/bot.py
Due: discordbot

Big sigh
  discordbot/functional_test.py
Due: discordbot

oops
  discordbot/bot.py
Due: discordbot

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
