Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Rebuild symbols font outside deploy request
  shared_web/api.py
  shared_web/api_test.py
Due: shared, shared_web

Use Python interpreter for font rebuild
  shared_web/api.py
  shared_web/api_test.py
Due: shared, shared_web

Fix font loading warnings
  decksite/view_test.py
  shared_web/base_view.py
  shared_web/font_test.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Share symbols font rebuild launcher
  decksite/data/deck.py
  decksite/data/deck_test.py
  shared_web/api.py
  shared_web/api_test.py
  shared_web/fonts.py
  shared_web/fonts_test.py
Due: decksite, shared, shared_web

Restore symbols font cache busting
  decksite/view_test.py
  shared_web/base_view.py
Due: decksite, shared, shared_web

Wait for fonts before rendering charts
  shared_web/static/js/pd.js
Due: shared, shared_web

Support equivalent Universes Within card names
  .gitignore
  README.md
  decksite/data/clauses.py
  decksite/data/clauses_test.py
  decksite/data/deck.py
  decksite/data/deck_test.py
  decksite/form.py
  decksite/form_test.py
  dev.py
  magic/decklist.py
  magic/decklist_test.py
  magic/multiverse.py
  magic/multiverse_test.py
  magic/omenpaths_test.py
  magic/oracle.py
  magic/oracle_test.py
  magic/whoosh_write.py
  magic/whoosh_write_test.py
  maintenance/card_database_diff.py
  rotation_script/rotation_script.py
  rotation_script/rotation_script_test.py
Due: decksite, magic

Fix random deck API
  decksite/league.py
  decksite/league_test.py
Due: decksite

Test Discord network responsiveness
  discordbot/commands/network_io_test.py
  discordbot/commands/spoiler_test.py
Due: discordbot

Migrate stored card aliases to canonical names
  decksite/data/rotation.py
  decksite/data/rotation_test.py
  magic/oracle.py
  magic/rotation.py
  magic/rotation_test.py
  maintenance/canonicalize_card_names.py
  maintenance/canonicalize_card_names_audit.py
  maintenance/canonicalize_card_names_test.py
  maintenance/deck_hash.py
  maintenance/deck_hash_test.py
  rotation_script/rotation_script.py
  rotation_script/rotation_script_test.py
Due: decksite, magic

Redirect alternate card names to canonical pages
  decksite/controllers/metagame.py
  decksite/controllers/metagame_test.py
Due: decksite

Speed up card name canonicalization
  maintenance/canonicalize_card_names.py
  maintenance/canonicalize_card_names_test.py
Due: none

Correct Decksite development port documentation
  README.md
Due: none

Show official alternate card names
  decksite/controllers/metagame.py
  decksite/controllers/metagame_test.py
  decksite/main.py
  decksite/main_test.py
  decksite/prepare.py
  decksite/prepare_test.py
  decksite/templates/card.mustache
  decksite/templates/entry.mustache
  decksite/views/card.py
  decksite/views/card_test.py
  discordbot/command.py
  discordbot/command_test.py
  discordbot/commands/__init__.py
  magic/image_fetcher.py
  magic/image_fetcher_test.py
  magic/oracle.py
  magic/oracle_test.py
  shared_web/static/css/pd.css
Due: decksite, discordbot, magic, shared, shared_web

Refine alternate card name presentation
  decksite/prepare.py
  decksite/prepare_test.py
  decksite/templates/card.mustache
  decksite/templates/entry.mustache
  decksite/views/card_test.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

sweep state 2026-08-23T21:29:33Z
  config.json
  journal.jsonl
  metrics.json
  reports/daily-2026-08-23.md
  reports/phase0.md
  snapshot.json
Due: none

sweep state 2026-08-23T21:29:50Z
  journal.jsonl
Due: none

sweep state 2026-08-23T21:31:28Z
  config.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-23T21:36:32Z
  escalations/12669.json
  escalations/12670.json
  escalations/12671.json
  escalations/12710.json
  escalations/12758.json
  evidence/12664.json
  evidence/12665.json
  evidence/12666.json
  evidence/12669.json
  evidence/12670.json
  evidence/12671.json
  evidence/12685.json
  evidence/12708.json
  evidence/12709.json
  evidence/12710.json
  evidence/12711.json
  evidence/12712.json
  evidence/12713.json
  evidence/12714.json
  evidence/12715.json
  evidence/12716.json
  evidence/12717.json
  evidence/12718.json
  evidence/12719.json
  evidence/12722.json
  evidence/12729.json
  evidence/12730.json
  evidence/12758.json
  evidence/12759.json
  evidence/12760.json
  journal.jsonl
  metrics.json
  reports/phase0.md
  snapshot.json
Due: none

Fix bug_blog always being False by reading 'From Bug Blog' label (#12719)
  modo_bugs/update.py
Due: none

Add Price of Progress to promo explanation list (#12730)
  discordbot/commands/explain.py
Due: discordbot

sweep state 2026-08-23T21:40:34Z
  config.json
  evidence/12615.json
  evidence/12616.json
  evidence/12617.json
  evidence/12618.json
  evidence/12621.json
  evidence/12639.json
  evidence/12647.json
  evidence/12660.json
  evidence/12661.json
  evidence/12662.json
  evidence/12685.json
  evidence/12722.json
  evidence/12761.json
  evidence/12762.json
  evidence/12769.json
  evidence/12778.json
  evidence/12781.json
  journal.jsonl
  metrics.json
  reports/adjudicated-12669.json
  reports/adjudicated-12670.json
  reports/adjudicated-12671.json
  reports/adjudicated-12710.json
  reports/adjudicated-12758.json
  reports/human_digest.md
  snapshot.json
Due: none

Fix misleading 'Not available online' message for missing Cardhoarder price (#12769)
  magic/card_price.py
Due: magic

Make player names links on /admin/people/notes (#12717)
  decksite/templates/playernotes.mustache
  decksite/views/player_notes.py
Due: decksite

Fix League > Records menu entry not highlighting when viewing active league (#12760)
  decksite/__init__.py
  decksite/controllers/competitions.py
  decksite/view_test.py
Due: decksite

Fix oldstyle numeric figures on /matchups/ archetype names (#12762)
  shared_web/static/css/pd.css
Due: shared, shared_web

Stop calling cleanup() so old price data is no longer deleted (#12781)
  price_grabber/price_grabber.py
Due: price_grabber

Make archetypes-to-assign badge a real circle badge (#12715)
  shared_web/static/css/pd.css
Due: shared, shared_web

Make player notes and alias table rows clickable (#12778)
  decksite/templates/editaliases.mustache
  decksite/templates/playernotes.mustache
  decksite/views/edit_aliases.py
  decksite/views/player_notes.py
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Remove broken status.pennydreadfulmagic.com link from /about/ (#12714)
  decksite/templates/aboutpdm.mustache
Due: decksite

Pre-select machine guess archetype in edit archetypes queue (#12712)
  decksite/templates/editarchetypes.mustache
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Remove date column from Latest Tournament Top 8 (#12761)
  decksite/templates/deckrow.mustache
  decksite/templates/decktable.mustache
  decksite/templates/home.mustache
  decksite/views/home.py
Due: decksite

Fix menu and submenu independent scrolling (#12666)
  shared_web/static/css/pd.css
Due: shared, shared_web

Remove TappedOut and MTGGoldfish from /link (#12711)
  decksite/templates/linkaccounts.mustache
  decksite/views/link_accounts.py
Due: decksite

Hide forbidden admin menu items from demimod users (#12709)
  decksite/controllers/admin.py
  decksite/controllers/admin_test.py
Due: decksite

Show quality score in metagame grid (#12708)
  decksite/data/archetype.py
  shared_web/static/js/metagamegrid.jsx
Due: decksite, shared, shared_web

Add Escape key and close button to dismiss the popover menu (#12665)
  decksite/templates/menu.mustache
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Silence duplicate-entry stack trace in /spoiler command (#12647)
  magic/oracle.py
  magic/oracle_test.py
Due: magic

sweep state 2026-08-23T21:54:35Z
  config.json
  escalations/12716.json
  evidence/12616.json
  evidence/12639.json
  evidence/12647.json
  evidence/12662.json
  evidence/12664.json
  evidence/12665.json
  evidence/12666.json
  evidence/12708.json
  evidence/12709.json
  evidence/12711.json
  evidence/12712.json
  evidence/12714.json
  evidence/12715.json
  evidence/12717.json
  evidence/12719.json
  evidence/12730.json
  evidence/12760.json
  evidence/12761.json
  evidence/12762.json
  evidence/12769.json
  evidence/12778.json
  evidence/12781.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none
