Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Hide source on top league decks and latest tournament top 8
  decksite/views/home.py
Due: decksite

Add UNIQUE constraint on permission_changes
  decksite/sql/73.sql
Due: decksite

Align news item icons more neatly
  shared_web/static/css/pd.css
Due: shared, shared_web

Make the margin big enough for even fat news icons
  shared_web/static/css/pd.css
Due: shared, shared_web

In a search meta share should still be over the entire cohort
  decksite/data/archetype.py
Due: decksite

Sleep for 1s before each forum fetch to try not to get blocked by Daybreak
  modo_bugs/fetcher.py
Due: none

Yet more fiddling with news story icons
  shared_web/static/css/pd.css
Due: shared, shared_web

Submenu should popover not push right in middle width view
  shared_web/static/css/pd.css
Due: shared, shared_web

Make sure that the font metrics we force are for 2048 units-per-em
  maintenance/fonts.py
  shared_web/static/css/pd.css
Due: shared, shared_web

Dark mode
  decksite/templates/header.mustache
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Dark mode js
  decksite/templates/darkmode.mustache
Due: decksite

Restore full width of marginalia
  shared_web/static/css/pd.css
Due: shared, shared_web

Fix is:canopyland now that Horizon of Progress exists
  find/search.py
Due: none

Float buttons right not left so they hug the right when they wrap under
  shared_web/static/css/pd.css
Due: shared, shared_web

Pretty sad hack to make sure we get our apostrophe from the desired font
  maintenance/fonts.py
  shared_web/static/css/pd.css
Due: shared, shared_web

Scale to 1000 upem not 2048 upem
  maintenance/fonts.py
Due: none

Lighten dark mode a little, ironically
  shared_web/static/css/pd.css
Due: shared, shared_web

If PDBot sends us a match log we can't parse, return a 400 not a 500
  logsite/importing.py
Due: none

If PDBot sends us a match log we can't parse, return a 400 not a 500
  logsite/api.py
  logsite/importing.py
Due: none

Last resort attempt to stop infinite errors
  logsite/api.py
Due: none

Remove not-in-rotation decorator, it's needless complication
  decksite/data/rotation.py
Due: decksite

More caution around bug fetching
  modo_bugs/fetcher.py
Due: none

Clean up the display of the tournament diary a little
  decksite/view.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Switch to oklch color space over rgb
  shared_web/static/css/pd.css
Due: shared, shared_web

Use another shade of our highlight color for highlight border
  shared_web/static/css/pd.css
Due: shared, shared_web

Clean up css a little
  shared_web/static/css/pd.css
Due: shared, shared_web

Fix highlight on marginalia
  shared_web/static/css/pd.css
Due: shared, shared_web

Don't strip leading emojis and similar from deck names
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

A little script to test deck name sanitization changes
  maintenance/deck_name.py
Due: none

Fix typo
  shared_web/static/css/pd.css
Due: shared, shared_web

Update symbol font
  shared_web/static/css/pd.css
Due: shared, shared_web

Lint
  maintenance/deck_name.py
Due: none

Update modo bugs regex
  modo_bugs/fetcher.py
Due: none

Reenable downtimes command now that modo-bugs is scraping it successfully again
  discordbot/commands/downtimes.py
Due: discordbot

Introduce standard text padding
  decksite/templates/home.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Don't include leylines in a deck's colors in case they are played off-color
  magic/colors.py
  magic/colors_test.py
Due: magic

A pseudo element is preceded by two colons not one
  decksite/controllers/banners.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Dim images in dark mode
  shared_web/static/css/pd.css
Due: shared, shared_web

Remove unused CSS rule
  shared_web/static/css/pd.css
Due: shared, shared_web

Lint
  magic/colors.py
Due: magic
