Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Update Invite Splash as well
  discordbot/background.py
Due: discordbot

Bail before we do a NOP
  discordbot/background.py
Due: discordbot

Mypy is currently broken with 3.10.7, pin to previous version
  .github/workflows/build.yml
Due: none

Fix League End background task
  discordbot/background.py
  discordbot/bot.py
Due: discordbot

Linting
  discordbot/background.py
Due: discordbot

Add timers to reprime_cache, so we know which sub-tasks are causing problems
  maintenance/reprime_cache.py
Due: none

Add IPC Lockfile to task runner
  run.py
Due: none

Fix a silly mistake
  discordbot/background.py
Due: discordbot

Add prices tasks to Pipfile
  Pipfile
Due: none

Handle incorrect name for Tura Kennerüd, Skyknight
  price_grabber/parser.py
Due: price_grabber

Remove pylint comment
  price_grabber/parser.py
Due: price_grabber

Fix some mypy issues
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  discordbot/bot.py
  shared/lazy.py
Due: discordbot, shared

Add meld fallback
  magic/multiverse.py
Due: magic

Fall back to last-known-good-cards if we fail during insertion
  Pipfile
  magic/fetcher.py
  magic/multiverse.py
Due: magic

Typing
  magic/multiverse.py
Due: magic

A second meld card was just previewed
  magic/multiverse.py
Due: magic

More Mishra support
  magic/multiverse.py
  shared/settings.py
Due: magic, shared

Close file handle when saving config.json
  shared/configuration.py
  shared/settings.py
Due: shared

Use ImageOps.fit instead of smooshing an artwork into 16:9
  hq_artcrops.json
  magic/image_fetcher.py
Due: magic

Restoration Angel hq artcrop
  hq_artcrops.json
Due: none

Remove unused type: ignore
  .gitignore
  modo_bugs/verification.py
Due: none

Remove more type ignores
  discordbot/bot.py
  discordbot/command.py
Due: discordbot

Revert hype hack. Closes #10481
  discordbot/commands/hype.py
Due: discordbot

Use pypi pystache
  Pipfile
  Pipfile.lock
Due: none

Hook /status against the new Daybreak API.
  magic/fetcher.py
Due: magic

Add fdoc, and allow for trailing newlines in card_aliases.tsv
  card_aliases.tsv
  magic/whoosh_write.py
Due: magic

remove unused duplicate code
  magic/fetcher.py
  shared/fetch_tools.py
Due: magic, shared

Make mypy happy
  decksite/controllers/admin.py
  decksite/controllers/api.py
  decksite/controllers/banners.py
  decksite/controllers/league.py
  decksite/controllers/metagame.py
  decksite/data/archetype.py
  decksite/data/news.py
  decksite/data/person.py
  decksite/league.py
  decksite/views/report.py
  decksite/views/unlink.py
  discordbot/command.py
  discordbot/commands/configure.py
  discordbot/commands/quality.py
  discordbot/functional_test.py
  logsite/views/matches.py
  magic/fetcher.py
  magic/image_fetcher.py
  magic/legality.py
  magic/oracle.py
  modo_bugs/strings.py
  price_grabber/price.py
  shared/database.py
  shared/dtutil.py
  shared/fetch_tools.py
  shared/settings.py
  shared_web/base_view.py
  shared_web/oauth.py
  shared_web/template.py
Due: decksite, discordbot, magic, price_grabber, shared, shared_web

remove unused ignore
  discordbot/commands/configure.py
Due: discordbot

Modo-bugs improvements
  modo_bugs/fetcher.py
  modo_bugs/main.py
  modo_bugs/scrape_announcements.py
  modo_bugs/scrape_bugblog.py
  modo_bugs/strings.py
  modo_bugs/update.py
Due: none

oops
  modo_bugs/update.py
Due: none

Include comment when bumping forum status
  modo_bugs/update.py
Due: none

Scan forum posts for Confirmed bugs, and post them to discord for triage
  modo_bugs/fetcher.py
  modo_bugs/main.py
  modo_bugs/scrape_announcements.py
  modo_bugs/scrape_forum.py
  shared/fetch_tools.py
Due: shared

Links to the "How to Report" page are not links.
  modo_bugs/scrape_bugblog.py
  modo_bugs/update.py
Due: none

Kill bugblog
  modo_bugs/main.py
Due: none

More modo-bugs tracking
  modo_bugs/scrape_forum.py
  modo_bugs/verification.py
Due: none

/modo-bugs triage command
  discordbot/commands/modobug.py
  magic/fetcher.py
Due: discordbot, magic

Typing
  discordbot/bot.py
  discordbot/command.py
  discordbot/commands/modobug.py
  discordbot/functional_test.py
Due: discordbot

naff 2.0
  Pipfile
  Pipfile.lock
Due: none

Sigh
  discordbot/commands/modobug.py
Due: discordbot
