Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Move active league runs text out of table body into pagination (#7951)
  decksite/templates/decktable.mustache
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Add exact date tooltips to display dates (#8101)
  decksite/data/news.py
  decksite/prepare.py
  decksite/templates/competitions.mustache
  decksite/templates/deckmatches.mustache
  decksite/templates/deckrow.mustache
  decksite/templates/news.mustache
  decksite/templates/personmatches.mustache
  decksite/templates/playernotes.mustache
  decksite/templates/subtitle.mustache
  decksite/view.py
  decksite/views/player_notes.py
  shared/dtutil.py
Due: decksite, shared

Always show latest tournament top 8 on homepage (#7924)
  decksite/data/deck.py
Due: decksite

Fix leaderboard finish rank when filtering by person name (#7933)
  decksite/controllers/api.py
  decksite/data/competition.py
Due: decksite

301 redirect /x/{id} URLs to vanity URLs for person and archetype (#7729)
  decksite/controllers/metagame.py
  decksite/controllers/people.py
Due: decksite

Include 0-hit currently-legal cards in rotation cache (#7881)
  decksite/data/rotation.py
Due: decksite

Show archetype description on archetype detail pages (#8070)
  decksite/templates/archetype.mustache
Due: decksite

Support order: and sort: params in card search queries (#8608)
  decksite/controllers/api.py
  find/find_test.py
  find/search.py
  find/tokens.py
Due: decksite

Ignore bracketed cards inside Discord quote lines (#7895)
  discordbot/command.py
  discordbot/command_test.py
Due: discordbot

Fix scryfall compatibility mode always being disabled (#7921)
  discordbot/command.py
Due: discordbot

Add explain scryfall (#11216)
  discordbot/commands/explain.py
Due: discordbot

Raise InvalidSearchException for non-colon operators with is:/has:/not: (#11215)
  find/find_test.py
  find/search.py
Due: none

Remove redundant number column from season table (#12352)
  decksite/data/playability.py
  decksite/league.py
  decksite/sql/77.sql
  maintenance/insert_seasons.py
Due: decksite

Qualify door prize text to exclude Kick Off and PD 500 (#11222)
  discordbot/commands/explain.py
Due: discordbot

Style toggle-illegal as a button instead of a plain checkbox (#11201)
  decksite/templates/bugs.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Inline banner CSS rules into pd.css, remove dynamic /banner/banner.css request (#11082)
  decksite/templates/header.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Add People table to archetype detail page (#11219)
  decksite/controllers/api.py
  decksite/templates/archetype.mustache
  decksite/templates/livepeopletable.mustache
Due: decksite

Fix nwdl_join to use LEFT JOIN so byes are counted as wins (#11194)
  decksite/data/deck.py
Due: decksite

Fix new-this-season cards showing NULL rank on /rotation after rotation (#12353)
  decksite/data/rotation.py
Due: decksite

Remove unused _arch_disjoint_person_stats and _matchup_ps_stats preaggregation (#11168)
  decksite/data/archetype.py
Due: decksite

Show top players on card detail page (#11206)
  decksite/controllers/metagame.py
  decksite/controllers/metagame_test.py
  decksite/data/card.py
  decksite/templates/card.mustache
  decksite/views/card.py
Due: decksite

Fix card search error handling to use success/reason fields (#10172)
  discordbot/commands/dreadrise.py
Due: discordbot

Raise InvalidSearchException for empty search expressions like () (#10105)
  find/find_test.py
  find/search.py
Due: none

Exclude active league runs from sort queue for non-admin sorters (#10771)
  decksite/controllers/admin_test.py
  decksite/views/edit_archetypes.py
Due: decksite

Add top players table to archetype detail page (#8667)
  decksite/controllers/metagame.py
  decksite/data/archetype.py
  decksite/templates/archetype.mustache
  decksite/views/archetype.py
Due: decksite

Fix UnboundLocalError in search_scryfall when Scryfall is unreachable (#11151)
  magic/fetcher.py
  magic/fetcher_test.py
Due: magic

Fix uniqify_cards to preserve multiple explicit set-code printings (#10531)
  discordbot/command.py
  discordbot/command_test.py
Due: discordbot

Add avg copies and % of decks columns to archetype card table (#7588)
  decksite/data/card.py
  shared_web/static/js/cardtable.jsx
Due: decksite, shared, shared_web

Prefer geographic results when looking up time by location (#7165)
  magic/fetcher.py
  magic/fetcher_test.py
Due: magic

Add !explain sorting/archetypes/archetype-sorting command (#7327)
  discordbot/commands/explain.py
Due: discordbot

Disable tablesorter on tournament calendar table (#6770)
  shared_web/static/js/pd.js
Due: shared, shared_web

Add Scryfall link to card details page (#6886)
  decksite/templates/card.mustache
  decksite/views/card.py
Due: decksite

Indicate current section/subsection in footer menu (#6776)
  decksite/templates/footer.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Avoid sending Set-Cookie header with static assets (#7461)
  decksite/main.py
Due: decksite

Make rotation script idempotent when called frequently (#7488)
  rotation_script/rotation_script.py
  rotation_script/rotation_script_test.py
Due: none

Add page number display and first/last page navigation to pagination (#6657)
  shared_web/static/js/table.jsx
Due: shared, shared_web

Use Flask defaults= for optional deck_type route param (#6753)
  decksite/controllers/metagame.py
Due: decksite
