Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Fix typeahead menus in scrolling tables
  .agents/skills/seeit/SKILL.md
  .conductor/README.md
  AGENTS.md
  decksite/browser_test.py
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Give browser auth test a signing key
  decksite/browser_test.py
Due: decksite

Keep typeahead browser assertion in viewport
  decksite/browser_test.py
Due: decksite

Add backlog sweep orchestration skill
  .agents/skills/backlog-sweep/SKILL.md
  .agents/skills/backlog-sweep/references/state.md
Due: none

Restore nearest-deck archetype guessing
  decksite/data/archetype_classifier.py
  decksite/data/archetype_classifier_test.py
  maintenance/classify_archetypes.py
  maintenance/guess_league_archetypes.py
  maintenance/guess_league_archetypes_test.py
  shared/configuration.py
Due: decksite, shared

Fix Discord card update locking
  shared/decorators.py
  shared/decorators_test.py
Due: shared

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
