Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Trying to fix Pipfile
  Pipfile
  Pipfile.lock
Due: none

Update CSS fonts to cover every symbol used in a deck name so far
  maintenance/fonts.py
  shared_web/static/css/pd.css
Due: shared, shared_web

Update card_aliases.tsv
  card_aliases.tsv
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

Tweak prefixed commands a bit
  discordbot/command.py
  discordbot/commands/price.py
Due: discordbot

Background task for MOS premodern scaffolding
  discordbot/background.py
  magic/fetcher.py
  shared/configuration.py
Due: discordbot, magic, shared

Premodern announcements
  discordbot/background.py
Due: discordbot

Cleanup code a bit, pull start date from event.
  discordbot/background.py
Due: discordbot

!pr works again
  discordbot/command.py
  discordbot/commands/price.py
Due: discordbot

Linter warnings
  discordbot/background.py
  discordbot/command.py
Due: discordbot

Correct indentation
  discordbot/background.py
Due: discordbot

Discern between the premodern league and the championships / alternative swiss events.
  discordbot/background.py
Due: discordbot

Fix card autocomplete and /explain
  discordbot/bot.py
  discordbot/command.py
  discordbot/commands/art.py
  discordbot/commands/explain.py
  discordbot/commands/flavor.py
  discordbot/commands/history.py
  discordbot/commands/legal.py
  discordbot/commands/modobug.py
  discordbot/commands/oracle.py
  discordbot/commands/price.py
  discordbot/commands/rulings.py
Due: discordbot

Fixed message times, rather than 12 hours after reboot
  discordbot/background.py
Due: discordbot

Typing
  discordbot/commands/explain.py
Due: discordbot

TimeTriggers are apparently bugged AF. Don't use them for now.
  discordbot/background.py
Due: discordbot

Fix /scry
  discordbot/bot.py
  discordbot/shared.py
Due: discordbot

Use SlashCommand as base class
  discordbot/command.py
Due: discordbot

I assume this is a cache_size issue?
  discordbot/command.py
Due: discordbot

Add Murders at Karlov Manor now set code is known
  magic/seasons.py
Due: magic

Add new card layout, 'case'
  magic/layout.py
Due: magic

Bug Fixes
  maintenance/validate_translations.py
  modo_bugs/strings.py
Due: none

I'm being lazy
  maintenance/validate_translations.py
Due: none

Switch from MTGO Traders to Cardhoarder as league sponsor
  decksite/resources.json
  decksite/sql/68.sql
  decksite/templates/faqsbody.mustache
  decksite/templates/footer.mustache
  decksite/templates/kickoff.mustache
  decksite/templates/kickoffnotice.mustache
  decksite/templates/leagueinfo.mustache
  decksite/templates/pd500.mustache
  decksite/templates/signup.mustache
  decksite/templates/tournaments.mustache
  decksite/view.py
  decksite/views/deck.py
  decksite/views/kickoff.py
  decksite/views/league_info.py
  decksite/views/pd500.py
  decksite/views/signup.py
  discordbot/commands/explain.py
  magic/tournaments.py
  price_grabber/parser.py
  price_grabber/price_grabber.py
  rotation_script/rotation_script.py
  shared/configuration.py
  shared_web/translations/messages.pot
Due: decksite, discordbot, magic, price_grabber, shared, shared_web

Don't produce first runs prizes lists any more - we don't have them any more
  decksite/controllers/admin.py
  decksite/league.py
  decksite/templates/prizes.mustache
  decksite/views/prizes.py
  magic/tournaments_test.py
Due: decksite, magic

Show 25 cards not 4 when showing confirmed and eliminated in rotation
  magic/rotation.py
Due: magic

Increase tolerance for stale prices to 7 hours
  magic/card_price.py
Due: magic

Sofi alias
  card_aliases.tsv
Due: none

added support for smart quotes
  find/find_test.py
  find/search.py
Due: none

fixed tests
  find/find_test.py
  find/search.py
Due: none

Fix card name autocomplete in bot commands
  discordbot/command.py
Due: discordbot

Update rotation checklist to be more truthful
  decksite/templates/rotationchecklist.mustache
Due: decksite

Add OTJ to seasons
  magic/seasons.py
Due: magic

Defend more properly against GithubException in repo.py
  shared/repo.py
Due: shared

Make update translations ad hoc until it is unbugged
  maintenance/update_translations.py
Due: none

Add facility to change permissions without logout
  decksite/auth.py
  decksite/data/permission.py
  decksite/main.py
  decksite/sql/69.sql
Due: decksite

Don't delete perm changes after one use
  decksite/auth.py
  decksite/data/permission.py
Due: decksite

Include NONE in permissions enum to avoid 500 error
  decksite/data/permission.py
Due: decksite

Update syntax of labeler config file
  .github/labeler.yml
Due: none

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
