Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Catch only DatabaseNoSuchTableException in retry_after_calling (#12411)
  shared/decorators.py
Due: shared

Replace print() calls with logger in shared/repo.py (#12364)
  shared/repo.py
Due: shared

Remove dead bluebones_image() function that always 500s (#12421)
  discordbot/unit_test.py
  magic/image_fetcher.py
Due: discordbot, magic

Add season_id path route to person_decks_api to fix funky URL (#12485)
  decksite/controllers/api.py
Due: decksite

Replace name LIKE patterns with competition_flag_id for PD500 and Kick Off (#12385)
  decksite/data/achievements.py
  decksite/view.py
Due: decksite

Include newly legal cards with no plays in /matchups card selector (#12350)
  decksite/controllers/metagame.py
Due: decksite

Normalize dotted version numbers appended directly to deck names (#12377)
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Increase playability column precision from DECIMAL(6,5) to DECIMAL(10,9) (#12331)
  decksite/data/playability.py
Due: decksite

Handle missing oracle card gracefully in rotation cache (#12299)
  decksite/data/rotation.py
Due: decksite

Use RANK() instead of ROW_NUMBER() for card rank so ties share a rank (#12342)
  decksite/data/query.py
Due: decksite

Add RotationStatus StrEnum to replace magic strings (#12304)
  decksite/controllers/api.py
  decksite/data/clauses.py
  decksite/data/rotation.py
  discordbot/commands/history.py
  magic/rotation.py
Due: decksite, discordbot, magic

Guide users to /rotation page when rotation is in progress (#12308)
  discordbot/commands/rotation.py
Due: discordbot

Fix _archetype_playability to exclude illegal seasons from denominator (#12323)
  decksite/data/playability.py
Due: decksite

Fix percent_needed type inconsistency in process_score (#12307)
  magic/rotation.py
Due: magic

Rename percent/percent_needed to hits_percent/hits_needed_percent (#12292)
  decksite/data/rotation.py
  magic/rotation.py
  shared_web/static/js/rotationtable.jsx
Due: decksite, magic, shared, shared_web

Support != operator in color search (#12256)
  find/find_test.py
  find/search.py
  find/tokens.py
Due: none

Sort bot card responses by rotation status during rotation (#12257)
  discordbot/command.py
Due: discordbot

Show latest rotation hype message at top of /rotation (#12282)
  decksite/templates/rotation.mustache
  decksite/views/rotation.py
Due: decksite

Fix hitInLastRun default sort direction and initial UI state (#12285)
  decksite/templates/rotation.mustache
  shared_web/static/js/rotationtable.jsx
Due: decksite, shared, shared_web

Don't cast personId/seasonId to int when absent in decks_where (#12297)
  decksite/data/clauses.py
  decksite/data/clauses_test.py
Due: decksite

Add next-elimination countdown and fix 'hours' wording in hype message (#12248)
  magic/rotation.py
  magic/rotation_test.py
Due: magic

Skip loading deck detail for unearned achievements (#12305)
  decksite/data/achievements.py
Due: decksite

sweep state 2026-09-01T19:15:16Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Use direct SQL query against card_legality instead of search.search in preaggregate_legal_cards (#12343)
  decksite/data/playability.py
Due: decksite

Remove unused shared.decorators.lock no-op decorator (#12296)
  shared/decorators.py
Due: shared

Stretch notice banner to full browser width (#12218)
  shared_web/static/css/pd.css
Due: shared, shared_web

sweep state 2026-09-01T19:18:45Z
  escalations/12140.json
  escalations/12305.json
  evidence/12138.json
  evidence/12140.json
  evidence/12141.json
  evidence/12142.json
  evidence/12144.json
  evidence/12236.json
  evidence/12248.json
  evidence/12296.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Support >=, >, <=, < operators for PD season format filter (#12233)
  find/find_test.py
  find/search.py
Due: none

Support smart single quotes in card search by converting to apostrophe (#12226)
  find/find_test.py
  find/search.py
Due: none

Fix remove_pd to handle apostrophe-season format like [PD '32] (#12271)
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Supply colors and archetype for bare-version deck names (#12144)
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Redirect /seasons/all/decks/ to /decks/ (#12524)
  decksite/main.py
Due: decksite

Add TournamentTop8 achievement for reaching elimination rounds (#12209)
  decksite/data/achievements.py
Due: decksite

Surface card rank on card detail page (#12105)
  decksite/controllers/metagame.py
  decksite/templates/stats.mustache
Due: decksite

Fix Completionist achievement to allow retiring finished league runs (#12243)
  decksite/data/achievements.py
Due: decksite

Cache notice_html result to prevent double invocation (#12182)
  decksite/view.py
Due: decksite

Add WotC-standard swiss rounds table to Kick Off and PD500 pages (#12179)
  decksite/templates/kickoff.mustache
  decksite/templates/pd500.mustache
  decksite/views/kickoff.py
  decksite/views/pd500.py
Due: decksite
