Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Increase deck tooltip width
  shared_web/static/js/pd.js
Due: shared, shared_web

Link netdecking explanation to metagame
  discordbot/commands/explain.py
Due: discordbot

Support is:party in card search
  find/find_test.py
  find/search.py
Due: none

Prefer standard image for requested sets
  magic/image_fetcher.py
  magic/image_fetcher_test.py
Due: magic

Prevent external authentication redirects
  shared_web/flask_app.py
  shared_web/flask_app_test.py
Due: shared, shared_web

Reject invalid spoiler images
  discordbot/commands/spoiler.py
  discordbot/commands/spoiler_test.py
  shared/fetch_tools.py
  shared/fetch_tools_test.py
Due: discordbot, shared

Exclude card preaggregation from performance timing
  decksite/data/card_test.py
Due: decksite

Make notice banner links obvious
  shared_web/static/css/pd.css
Due: shared, shared_web

Update Magic Online guide resource
  decksite/resources.json
  discordbot/command_test.py
Due: decksite, discordbot

Fix Season 1 on seasons page
  decksite/views/seasons.py
  decksite/views/seasons_test.py
Due: decksite

Remove misleading netdecking advice
  discordbot/commands/explain.py
Due: discordbot

Point intro deck link to metagame
  decksite/templates/faqsbody.mustache
  decksite/view.py
  decksite/view_test.py
  shared_web/translations/messages.pot
Due: decksite, shared, shared_web

Keep spoiler requests responsive
  discordbot/commands/spoiler.py
  discordbot/commands/spoiler_test.py
Due: discordbot

Restore decks URL helper
  decksite/view.py
Due: decksite

Update intro Magic Online guide link
  decksite/templates/faqsbody.mustache
  decksite/views/faqs_test.py
  shared_web/translations/messages.pot
Due: decksite, shared, shared_web

Keep Discord network commands responsive
  discordbot/commands/art.py
  discordbot/commands/downtimes.py
  discordbot/commands/modobug.py
  discordbot/commands/mos_league.py
  discordbot/commands/network_io_test.py
  discordbot/commands/randomcard.py
  discordbot/commands/randomdeck.py
  discordbot/commands/resources.py
  discordbot/commands/rhinos.py
  discordbot/commands/rulings.py
  discordbot/commands/scry.py
  discordbot/commands/status.py
  discordbot/commands/time.py
  discordbot/commands/welcome.py
  discordbot/commands/whois.py
  magic/fetcher.py
  magic/fetcher_test.py
Due: discordbot, magic

Fix metagame controls in narrow views
  shared_web/static/css/pd.css
Due: shared, shared_web

Differentiate form element backgrounds
  shared_web/static/css/pd.css
Due: shared, shared_web

Update chart colors when dark mode changes
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: shared, shared_web

Keep site heading within narrow viewports
  shared_web/static/css/pd.css
Due: shared, shared_web

Make season icons dark mode aware
  decksite/prepare.py
  decksite/prepare_test.py
  decksite/views/person.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Include sparkles in deployed symbol font
  bootstrap.sh
  maintenance/fonts.py
Due: none

Keep intro box within narrow viewports
  shared_web/static/css/pd.css
Due: shared, shared_web

Report invalid cards in archetype search
  decksite/controllers/admin.py
  decksite/controllers/admin_test.py
  decksite/templates/editarchetypes.mustache
  decksite/views/edit_archetypes.py
Due: decksite

Require authentication for all admin routes
  decksite/auth.py
  decksite/controllers/admin.py
  decksite/controllers/admin_test.py
  decksite/controllers/banners.py
  decksite/smoke_test.py
Due: decksite

Prevent duplicate cards in archetype rules
  decksite/data/rule.py
  decksite/data/rule_test.py
Due: decksite

Show seasons for cards played first
  decksite/controllers/people.py
  decksite/data/card.py
  decksite/data/card_test.py
  decksite/templates/person.mustache
  decksite/views/person.py
  decksite/views/person_test.py
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Hide rotation forecast when no cards remain
  magic/rotation.py
  magic/rotation_test.py
Due: magic

Populate legal cards during post-rotation
  maintenance/post_rotation.py
  maintenance/post_rotation_test.py
Due: none

Fix initial metagame quality sorting
  shared_web/static/js/datamanager.jsx
  shared_web/static/js/metagamegrid.jsx
Due: shared, shared_web

Show win rate in archetype history tooltips
  decksite/controllers/metagame.py
  decksite/data/archetype.py
  decksite/data/archetype_test.py
  decksite/views/archetype.py
  decksite/views/archetype_test.py
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Index flavor names for bot card search
  magic/whoosh_search_test.py
  magic/whoosh_write.py
Due: magic

Satisfy mypy in admin redirect test
  decksite/controllers/admin_test.py
Due: decksite

Rebuild symbols font during production deploy
  bootstrap.sh
  shared_web/api.py
  shared_web/api_test.py
Due: shared, shared_web

Show active league runs in achievement tables
  decksite/view_test.py
  decksite/views/person_achievements.py
Due: decksite

Validate admin match form
  decksite/controllers/admin.py
  decksite/controllers/admin_test.py
  decksite/league.py
  decksite/league_test.py
  decksite/templates/editmatches.mustache
  decksite/views/edit_matches.py
Due: decksite

Rebuild symbols font outside deploy request
  shared_web/api.py
  shared_web/api_test.py
Due: shared, shared_web

Improve season icon highlighting
  decksite/prepare.py
  decksite/prepare_test.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Handle empty card iterables
  magic/oracle.py
  magic/oracle_test.py
Due: magic

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
