Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Avoid XSS vulnerability in card mouseover images
  shared_web/static/js/tooltips.js
Due: shared, shared_web

jslint
  shared_web/static/js/grid.jsx
Due: shared, shared_web

Only allow seasons where the card was legal in card detail page season picker
  decksite/views/card.py
Due: decksite

Run pytest in a way that doesn't generate PytestAssertRewriteWarning
  dev.py
Due: none

Remove long-failing test
  magic/tournaments_test.py
Due: magic

Suppress some warnings that emit during test runs that have known remediation
  pytest.ini
Due: none

Restrict season picker to relevant seasons for achievements and archetypes
  decksite/controllers/metagame.py
  decksite/controllers/people.py
  decksite/data/archetype.py
  decksite/views/archetype.py
  decksite/views/person_achievements.py
Due: decksite

Add search to /metagame. Just on archetype name for now
  decksite/controllers/api.py
  decksite/data/archetype.py
  decksite/data/clauses.py
  shared_web/static/css/pd.css
  shared_web/static/js/grid.jsx
  shared_web/static/js/metagamegrid.jsx
Due: decksite, shared, shared_web

Add some sorted-by text
  shared_web/static/js/metagamegrid.jsx
Due: shared, shared_web

Switch to medal icon for achievement earned, trophy for league 5-0
  decksite/templates/achievements.mustache
  decksite/templates/personachievements.mustache
  shared_web/static/css/pd.css
  shared_web/static/js/metagamegrid.jsx
Due: decksite, shared, shared_web

Update fonts task to do more and be better
  maintenance/fonts.py
Due: none

Update iconography notes
  shared_web/static/css/pd.css
Due: shared, shared_web

Update symbol fonts
  shared_web/static/css/pd.css
Due: shared, shared_web

Update iconography
  shared_web/static/css/pd.css
Due: shared, shared_web

Small improvements to /metagame
  shared_web/static/css/pd.css
Due: shared, shared_web

Linting and changes inspired by linting
  maintenance/fonts.py
Due: none

Fix a now-incorrect comment
  decksite/data/clauses.py
Due: decksite

Fix import ordering in bot commands
  discordbot/bot.py
  discordbot/commands/burningofxinye.py
  discordbot/commands/clearimagecache.py
  discordbot/commands/configure.py
  discordbot/commands/downtimes.py
  discordbot/commands/dreadrise.py
  discordbot/commands/echo.py
  discordbot/commands/hype.py
  discordbot/commands/invite.py
  discordbot/commands/kickoff.py
  discordbot/commands/mana.py
  discordbot/commands/modofail.py
  discordbot/commands/p1p1.py
  discordbot/commands/patreon.py
  discordbot/commands/pd500.py
  discordbot/commands/quality.py
  discordbot/commands/randomcard.py
  discordbot/commands/randomdeck.py
  discordbot/commands/reboot.py
  discordbot/commands/resources.py
  discordbot/commands/rhinos.py
  discordbot/commands/rotation.py
  discordbot/commands/scry.py
  discordbot/commands/spoiler.py
  discordbot/commands/status.py
  discordbot/commands/sync.py
  discordbot/commands/version.py
  discordbot/commands/welcome.py
Due: discordbot

Fix issue with season picker looking wonky
  shared_web/static/css/pd.css
Due: shared, shared_web

Remove unuse arg on return_json
  shared_web/api.py
Due: shared, shared_web

Default grid to 24 tiles
  decksite/controllers/api.py
  decksite/data/clauses.py
  decksite/templates/metagame.mustache
  decksite/view.py
Due: decksite

Temp fix for messed up typography
  shared_web/static/css/pd.css
Due: shared, shared_web

Fix up some buggy default table size stuff
  decksite/data/clauses.py
  decksite/view.py
Due: decksite

Cards mouseover on archetype detail page
  decksite/views/archetype.py
Due: decksite

Move rounded coners more properly onto the buttons themslves
  decksite/templates/buttons.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Update README with perf testing notes
  README.md
Due: none

Update types comment with official python names
  decksite/data/deck.py
Due: decksite

Emit legal HTML in card name links
  decksite/prepare.py
Due: decksite

Fix some doubled up class attributes
  decksite/templates/buttons.mustache
Due: decksite

Fix some HTML validation stuff
  decksite/templates/faqsbody.mustache
  decksite/templates/header.mustache
Due: decksite

Add missing alt tag
  decksite/templates/language_switcher.mustache
Due: decksite

Give the archetypes-to-sort "badge" the same hover treatment as the menu
  shared_web/static/css/pd.css
Due: shared, shared_web

Emit <span> not <string> elements from gettext in mustache
  shared_web/template.py
Due: shared, shared_web

Temporary fix for fonts
  decksite/templates/person.mustache
  logsite/templates/match.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Install regex, we need it to split apart unicocde strings into graphemes
  Pipfile
  Pipfile.lock
Due: none

When subsetting fonts use the grapheme as the base unit, not a unicode codepoint
  maintenance/fonts.py
Due: none

Re subset fonts, with correct vertical spacing and compound emoji
  maintenance/fonts.py
  shared_web/static/css/pd.css
Due: shared, shared_web

Lint stuff for font stuff
  maintenance/fonts.py
Due: none

Test for sqllikeescape
  shared/database.py
  shared/database_test.py
Due: shared

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
