Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

lint
  magic/card.py
Due: magic

Exclude WOE tokens printed in flip layout
  magic/multiverse.py
Due: magic

Render our react components in the new way, not the deprecated way
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/decktable.jsx
  shared_web/static/js/headtoheadtable.jsx
  shared_web/static/js/leaderboardtable.jsx
  shared_web/static/js/matchtable.jsx
  shared_web/static/js/persontable.jsx
  shared_web/static/js/rotationtable.jsx
Due: shared, shared_web

Fix a bugbear that the latest version of flake8 introduced
  decksite/deck_name.py
  discordbot/command.py
Due: decksite, discordbot

Don't shadow json lib name from outer scope
  magic/fetcher.py
Due: magic

Add LCI setcode to seasons
  magic/seasons.py
Due: magic

Correct Seasons array to have accurate linebreaks
  magic/seasons.py
Due: magic

Increase the time before warning about card price staleness to six hours
  magic/card_price.py
Due: magic

group @babel dependabot PRs
  .github/dependabot.yml
Due: none

fix indentation
  .github/dependabot.yml
Due: none

Handle Flavour Names in price-grabber
  .vscode/launch.json
  price_grabber/parser.py
Due: price_grabber

De-ephemeralize hype message from /hype command
  discordbot/commands/hype.py
Due: discordbot

update Pipfile
  Pipfile
Due: none

pre-process flavor names before tallying hits
  magic/rotation.py
Due: magic

Replace flavor names within the rotation script
  discordbot/command.py
  discordbot/commands/search.py
  magic/fetcher.py
  rotation_script/rotation_script.py
Due: discordbot, magic

typing updates
  magic/fetcher.py
  maintenance/generate_translations.py
  maintenance/update_translations.py
Due: magic

Additional typing updates
  maintenance/validate_translations.py
Due: none

Update Babel
  Pipfile
  Pipfile.lock
Due: none

Rebuild card-cache via init-cards
  run.py
Due: none

init-cards --force
  magic/multiverse.py
  run.py
Due: magic

Sticker Goblin -> _____ Goblin
  price_grabber/parser.py
Due: price_grabber

Support flavor names in past season legal card lists
  magic/card.py
  magic/multiverse.py
Due: magic

Added 'draws' to explain.py
  discordbot/commands/explain.py
Due: discordbot

Remove unused import
  discordbot/commands/quality.py
Due: discordbot

isort and mypy
  dev.py
  discordbot/bot.py
  discordbot/command.py
  discordbot/commands/__init__.py
  discordbot/commands/configure.py
  discordbot/commands/debug.py
  discordbot/commands/downtimes.py
  discordbot/commands/explain.py
  discordbot/commands/history.py
  discordbot/commands/hype.py
  discordbot/commands/legal.py
  discordbot/commands/mana.py
  discordbot/commands/modobug.py
  discordbot/commands/oracle.py
  discordbot/commands/p1p1.py
  discordbot/commands/price.py
  discordbot/commands/resources.py
  discordbot/commands/rotation.py
  discordbot/commands/rulings.py
  discordbot/commands/search.py
  discordbot/commands/time.py
  discordbot/commands/tournament.py
  discordbot/commands/update.py
  discordbot/commands/whois.py
  discordbot/functional_test.py
  discordbot/shared.py
  magic/abc/card_description.py
  pyproject.toml
Due: discordbot, magic

more mypy warnings
  discordbot/commands/__init__.py
  discordbot/commands/art.py
  discordbot/commands/clearimagecache.py
  discordbot/commands/configure.py
  discordbot/commands/flavor.py
  discordbot/commands/history.py
  discordbot/commands/price.py
Due: discordbot

Disable broken tests
  discordbot/functional_test.py
Due: discordbot

Pipfile.lock
  Pipfile.lock
Due: none

More typing work
  discordbot/bot.py
  discordbot/command.py
  discordbot/commands/__init__.py
  discordbot/commands/art.py
  discordbot/commands/configure.py
  discordbot/commands/flavor.py
  discordbot/commands/history.py
  discordbot/commands/legal.py
  discordbot/commands/mana.py
  discordbot/commands/modobug.py
  discordbot/commands/oracle.py
  discordbot/commands/price.py
  discordbot/commands/rulings.py
  discordbot/commands/search.py
Due: discordbot

Unused Import
  discordbot/commands/__init__.py
Due: discordbot

When someone signs up with a universes beyond name, use within name
  magic/decklist.py
  magic/decklist_test.py
  magic/oracle.py
Due: magic

Tweaks to profanity filter
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Éomer => Eomer
  Pipfile
  Pipfile.lock
  magic/whoosh_write.py
Due: magic

Loosen Pipfile because we had impossible to resolve dependencies
  Pipfile
  Pipfile.lock
Due: none

Update CSS fonts to cover every symbol used in a deck name so far
  Pipfile
  Pipfile.lock
  maintenance/fonts.py
  shared_web/static/css/pd.css
Due: shared, shared_web

Fix corrupted Pipfile.lock
  Pipfile.lock
  maintenance/fonts.py
Due: none

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
