Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Outline form elements when focused, rather than making them 80% opacity
  shared_web/static/css/pd.css
Due: shared, shared_web

Improve the layout of forms in the new padding world
  shared_web/static/css/pd.css
Due: shared, shared_web

Make the header look better in dark mode
  shared_web/static/css/pd.css
Due: shared, shared_web

Dark mode toggle
  decksite/templates/darkmode.mustache
  decksite/templates/menu.mustache
  maintenance/fonts.py
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Return language switcher to legibility in dark mode, fix width
  shared_web/static/css/pd.css
Due: shared, shared_web

Avoid error on logs when match start time is not known
  logsite/views/match_view.py
Due: none

Remove unused class
  decksite/templates/archetype.mustache
Due: decksite

Use the right display mode when showing main menu on hamburger click
  shared_web/static/css/pd.css
Due: shared, shared_web

Make a copy of our final font before turning it into CSS, for debugging
  maintenance/fonts.py
Due: none

Alter font so icons don't sit at top of bounding box in Windows
  maintenance/fonts.py
  shared_web/static/css/pd.css
Due: shared, shared_web

Put dark mode toggle at the bottom of the main menu in all scenarios
  shared_web/static/css/pd.css
Due: shared, shared_web

Put seasons in the right order in /matchups
  decksite/views/matchups.py
Due: decksite

Balance margin (actually padding) between left and right on marginalia pages
  shared_web/static/css/pd.css
Due: shared, shared_web

Better CSS docs
  shared_web/static/css/pd.css
Due: shared, shared_web

Format tick marks for percentages in a sane fashion
  decksite/templates/archetype.mustache
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Mostly-document our gitignore
  .gitignore
Due: none

Make sure the season chooser doesn't disappear off the left
  shared_web/static/css/pd.css
Due: shared, shared_web

Give history chart a more explicative title
  decksite/templates/archetype.mustache
Due: decksite

Highlight the selected/current row a bit less violently
  shared_web/static/css/pd.css
Due: shared, shared_web

Darken the meta share bar when we mouseover so it doesn't "disappear"
  shared_web/static/css/pd.css
Due: shared, shared_web

Free pillow to upgrade to versions that don't have security vulnerabilities
  Pipfile
  Pipfile.lock
Due: none

Make highlit table rows clickable, remove highlighting where that's wrong
  decksite/templates/archetypetree.mustache
  decksite/templates/competitions.mustache
  decksite/templates/deck.mustache
  decksite/templates/deckmatches.mustache
  decksite/templates/deckrow.mustache
  decksite/templates/editrules.mustache
  decksite/templates/home.mustache
  decksite/templates/personmatches.mustache
  decksite/templates/sorters.mustache
  logsite/templates/matchrow.mustache
  logsite/templates/people.mustache
  shared_web/static/css/pd.css
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/decktable.jsx
  shared_web/static/js/headtoheadtable.jsx
  shared_web/static/js/leaderboardtable.jsx
  shared_web/static/js/pd.js
  shared_web/static/js/persontable.jsx
  shared_web/static/js/rotationtable.jsx
Due: decksite, shared, shared_web

Fixes after Pillow upgrade
  magic/image_fetcher.py
Due: magic

One more clickable row, in achievements tables
  decksite/templates/achievements.mustache
Due: decksite

Have the legal tooltip show only over the legal text, not the whole block
  decksite/templates/legal.mustache
Due: decksite

Better tooltips for meta share history chart
  decksite/views/archetype.py
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Fix /admin/matches in light mode when system in dark mode
  shared_web/static/css/pd.css
Due: shared, shared_web

Use our standard like escaping in queries always, add "fuzzy" option
  decksite/data/clauses.py
  shared/database.py
  shared/database_test.py
Due: decksite, shared

Ignore local Zed config
  .gitignore
Due: none

Compare types with isinstance as suggested by ruff check
  shared/database.py
Due: shared

Add latest ruff as dev dependency, update config to modern standard
  Pipfile
  Pipfile.lock
  pyproject.toml
Due: none

Get rid of all remaining calls to .format with ruff check -- fix
  analysis/analysis.py
  decksite/data/achievements.py
  decksite/data/archetype.py
  decksite/data/card.py
  decksite/data/deck.py
  decksite/data/person.py
  decksite/data/query.py
  decksite/data/rule.py
  decksite/data/season.py
  decksite/league.py
  decksite/views/prizes.py
  discordbot/commands/dreadrise.py
  discordbot/commands/resources.py
  find/search.py
  magic/mana.py
  magic/oracle.py
  magic/seasons.py
  magic/whoosh_constants.py
  magic/whoosh_search.py
  magic/whoosh_write.py
  maintenance/squash_people.py
  pyproject.toml
  shared/database.py
  shared/fetch_tools.py
Due: decksite, discordbot, magic, shared

Add ruff check to pre-commit
  .pre-commit-config.yaml
Due: none

Force single quotes with ruff avoiding unnecessary churn, for now at least
  pyproject.toml
Due: none

Fix imports
  decksite/__init__.py
  decksite/controllers/api.py
  magic/colors_test.py
  shared_web/menu.py
Due: decksite, magic, shared, shared_web

Run ruff imports fixer on pre-commit
  .pre-commit-config.yaml
Due: none

Bring ruff ignores into line with flake8
  pyproject.toml
Due: none

Fix some import errors that ruff found that isort did not
  decksite/controllers/api.py
  decksite/data/news.py
  discordbot/bot.py
  logsite_migrations/env.py
  magic/rotation.py
  rotation_script/rotation_script.py
Due: decksite, discordbot, magic

Lint
  decksite/deck_name.py
  magic/fetcher.py
Due: decksite, magic
