Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Stop split card pages redirecting to themselves forever
  decksite/controllers/metagame.py
  decksite/controllers/metagame_test.py
Due: decksite

Fix card API route parameter
  decksite/controllers/api.py
  decksite/controllers/api_test.py
Due: decksite

Remove unused card API endpoint
  decksite/controllers/api.py
  decksite/controllers/api_test.py
Due: decksite

Warn decksite users when card data is stale
  decksite/controllers/api.py
  decksite/controllers/api_test.py
  decksite/templates/header.mustache
  discordbot/command.py
  discordbot/command_test.py
  magic/database.py
  magic/database_test.py
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, discordbot, magic, shared, shared_web

Reindex Whoosh after card database rebuild
  run.py
  run_test.py
Due: none

Make archetype sorting badge fully clickable
  decksite/templates/menu.mustache
  decksite/view_test.py
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Hide empty archetype sorting badge
  decksite/templates/menu.mustache
  decksite/view_test.py
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Revert "Remove unused card API endpoint"
  decksite/controllers/api.py
Due: decksite

Skip test modules when loading Discord commands
  discordbot/command_test.py
  discordbot/commands/__init__.py
Due: discordbot

Retry Discord command synchronization at startup
  discordbot/bot.py
  discordbot/bot_test.py
Due: discordbot

Exclude command group roots from cache validation
  discordbot/bot.py
  discordbot/bot_test.py
Due: discordbot

Validate only synchronized Discord command scopes
  discordbot/bot.py
  discordbot/bot_test.py
Due: discordbot

Keep the bot's card data fresh without restarting it
  discordbot/background.py
  discordbot/background_test.py
  discordbot/reboot_utils.py
  discordbot/reboot_utils_test.py
  magic/whoosh_search.py
  magic/whoosh_search_test.py
  run.py
  run_test.py
Due: discordbot, magic

Fix /api/card/ endpoint
  decksite/controllers/api.py
Due: decksite

Show archetype description tooltips in /admin/archetypes queue (#12617)
  decksite/templates/editarchetypes.mustache
  decksite/views/edit_archetypes.py
Due: decksite

Test rare-card similarity ranking
  decksite/data/deck_test.py
Due: decksite

Add opacity ease transition to medium-width submenu popover (#12664)
  shared_web/static/css/pd.css
Due: shared, shared_web

Keep submenu hover transitions usable
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: shared, shared_web

Classify archetypes with Claude
  decksite/data/archetype_classifier.py
  decksite/data/archetype_classifier_test.py
  maintenance/classify_archetypes.py
  maintenance/guess_league_archetypes.py
  shared/configuration.py
Due: decksite, shared

Add backlog sweep tooling and shared Conductor cloud setup
  .conductor/settings.toml
  .gitignore
  backlog_sweep/FIXER_PROMPT.md
  backlog_sweep/FIXUP_PROMPT.md
  backlog_sweep/README.md
  backlog_sweep/RUNBOOK.md
  backlog_sweep/VERIFIER_PROMPT.md
  backlog_sweep/WORKER_PROMPT.md
  backlog_sweep/config.example.json
  backlog_sweep/dispatcher.py
  backlog_sweep/docs/DISPATCHER_SPEC.md
  backlog_sweep/docs/OPUS_HANDOFF.md
  backlog_sweep/docs/PLAN.md
  backlog_sweep/docs/STATE_SCHEMA.md
  backlog_sweep/test_dispatcher.py
  mypy.ini
  pyproject.toml
Due: none

Document the pilot-verified GitHub token
  backlog_sweep/RUNBOOK.md
  backlog_sweep/dispatcher.py
  backlog_sweep/docs/DISPATCHER_SPEC.md
Due: none

Align sweep docs and code with repository checks
  backlog_sweep/RUNBOOK.md
  backlog_sweep/dispatcher.py
  backlog_sweep/docs/OPUS_HANDOFF.md
Due: none

Make sweep recovery instructions executable
  backlog_sweep/RUNBOOK.md
Due: none

Rebind sweep manager during recovery
  backlog_sweep/RUNBOOK.md
  backlog_sweep/dispatcher.py
  backlog_sweep/test_dispatcher.py
Due: none

Document the recovery manager prompt
  backlog_sweep/RUNBOOK.md
Due: none

Fix Anthropic structured output schema
  decksite/data/archetype_classifier.py
  decksite/data/archetype_classifier_test.py
Due: decksite

sweep state 2026-09-01T17:46:16Z
  config.json
  journal.jsonl
  snapshot.json
Due: none

sweep state 2026-09-01T17:47:10Z
  journal.jsonl
  metrics.json
  reports/daily-2026-09-01.md
Due: none

sweep state 2026-09-01T17:49:36Z
  config.json
  journal.jsonl
  snapshot.json
Due: none

Add --legibility-text-shadow CSS variable for text over images (#12576)
  shared_web/static/css/pd.css
Due: shared, shared_web

Move menu hover submenu from z-index 5 to 3 (#12670)
  shared_web/static/css/pd.css
Due: shared, shared_web

Move className propType from DataManager to Table and Grid separately (#12586)
  shared_web/static/js/datamanager.jsx
  shared_web/static/js/grid.jsx
  shared_web/static/js/table.jsx
Due: shared, shared_web

Fix stacked-bar-highlight disappearing on metagame-grid hover (#12583)
  shared_web/static/css/pd.css
Due: shared, shared_web

Avoid redundant oracle.load_cards call in archetypes2 API (#12595)
  decksite/controllers/api.py
Due: decksite

Fix metagame grid tiles stretching wide with few results (#12599)
  shared_web/static/css/pd.css
Due: shared, shared_web

Persist metagame sort selection in localStorage (#12579)
  shared_web/static/js/grid.jsx
  shared_web/static/js/metagamegrid.jsx
Due: shared, shared_web

Use compact format for eslint output to reduce verbosity (#12584)
  dev.py
Due: none

Replace # with 🃏 as deck count icon on /metagame (#12572)
  shared_web/static/js/metagamegrid.jsx
Due: shared, shared_web

Fix meta share bar width calculation (#12585)
  shared_web/static/js/metagamegrid.jsx
Due: shared, shared_web
