Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Make pagination browser test deterministic
  decksite/browser_test.py
Due: decksite

Add exact timestamps to friendly deck dates
  decksite/browser_test.py
  decksite/prepare.py
  decksite/templates/deckmatches.mustache
  decksite/templates/deckrow.mustache
  decksite/templates/personmatches.mustache
  decksite/templates/subtitle.mustache
  shared_web/static/js/decktable.jsx
  shared_web/static/js/matchtable.jsx
  shared_web/static/js/pd.js
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Use full localized time zone names
  decksite/browser_test.py
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Centralize friendly web timestamps
  AGENTS.md
  decksite/browser_test.py
  decksite/data/news.py
  decksite/data/person.py
  decksite/prepare.py
  decksite/templates/competitions.mustache
  decksite/templates/deckmatches.mustache
  decksite/templates/deckrow.mustache
  decksite/templates/editmatches.mustache
  decksite/templates/home.mustache
  decksite/templates/news.mustache
  decksite/templates/personmatches.mustache
  decksite/templates/playernotes.mustache
  decksite/templates/rotation.mustache
  decksite/templates/seasons.mustache
  decksite/templates/sorters.mustache
  decksite/templates/subtitle.mustache
  decksite/view.py
  decksite/views/competition.py
  decksite/views/home.py
  decksite/views/player_notes.py
  decksite/views/rotation.py
  decksite/views/seasons.py
  decksite/views/sorters.py
  logsite/data/match.py
  logsite/templates/match.mustache
  logsite/templates/matchrow.mustache
  logsite/views/match_view.py
  shared_web/friendly_time.py
  shared_web/friendly_time_test.py
  shared_web/static/js/decktable.jsx
  shared_web/static/js/friendlytime.jsx
  shared_web/static/js/matchtable.jsx
  shared_web/static/js/pd.js
  shared_web/static/js/table.jsx
  shared_web/templates/friendlytime.mustache
Due: decksite, shared, shared_web

Localize exact timestamp titles
  decksite/browser_test.py
  shared_web/static/js/friendlytime.jsx
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Lock decksite migrations across workers
  decksite/database.py
  decksite/database_test.py
Due: decksite

Keep browser smoke coverage reliable
  AGENTS.md
  decksite/browser_test.py
Due: decksite

Revert "Replace checkbox season picker with animated button"
  decksite/browser_test.py
  decksite/templates/seasonchooser.mustache
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Handle locale switching without query strings
  decksite/templates/language_switcher.mustache
  decksite/view_test.py
  shared_web/base_view.py
  shared_web/flask_app.py
  shared_web/flask_app_test.py
  shared_web/localization.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Revert "Roll back database transactions on errors"
  decksite/data/archetype.py
  decksite/data/archetype_test.py
  decksite/data/competition.py
  decksite/data/deck.py
  decksite/data/deck_test.py
  decksite/data/elo.py
  decksite/data/match.py
  decksite/data/match_test.py
  decksite/data/person.py
  decksite/data/rotation.py
  decksite/data/rule.py
  decksite/scrapers/gatherling.py
  magic/multiverse.py
  price_grabber/price.py
  price_grabber/price_grabber.py
  shared/database.py
  shared/database_test.py
Due: decksite, magic, price_grabber, shared

Make matchup preview descriptions self-contained
  decksite/views/matchups.py
  decksite/views/matchups_test.py
Due: decksite

sweep state 2026-09-06T18:53:26Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Expose language switcher in development
  decksite/templates/header.mustache
  decksite/view.py
  decksite/view_test.py
Due: decksite

Speed up matchup chooser loading
  decksite/controllers/api.py
  decksite/controllers/api_test.py
  decksite/controllers/metagame.py
  decksite/controllers/metagame_test.py
  decksite/data/matchup.py
  decksite/data/matchup_test.py
  decksite/templates/chooser.mustache
  decksite/views/matchups.py
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Preserve default matchup metadata fallbacks
  decksite/views/matchups.py
  decksite/views/matchups_test.py
Due: decksite

Decommission locale switching
  decksite/cache.py
  decksite/templates/aboutpdm.mustache
  decksite/templates/header.mustache
  decksite/templates/language_switcher.mustache
  decksite/view.py
  decksite/view_test.py
  decksite/views/about_pdm.py
  discordbot/commands/explain.py
  logsite/templates/about.mustache
  logsite/templates/header.mustache
  logsite/views/about.py
  shared_web/base_view.py
  shared_web/flask_app.py
  shared_web/flask_app_test.py
  shared_web/localization.py
  shared_web/static/css/pd.css
  shared_web/static/images/language_icon.svg
  shared_web/static/js/pd.js
Due: decksite, discordbot, shared, shared_web

Paginate matchup deck and match results
  decksite/browser_test.py
  decksite/controllers/api.py
  decksite/controllers/api_test.py
  decksite/data/matchup.py
  decksite/data/matchup_test.py
  decksite/live_table_test.py
  decksite/templates/matchupdecktable.mustache
  decksite/templates/matchupmatchtable.mustache
  decksite/templates/matchups.mustache
  decksite/views/matchups.py
  shared_web/static/js/datamanager.jsx
  shared_web/static/js/matchtable.jsx
Due: decksite, shared, shared_web

Split chart helpers out of pd.js
  decksite/templates/footer.mustache
  logsite/templates/footer.mustache
  shared_web/base_view.py
  shared_web/static/js/pd-charts.js
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Reuse existing APIs for matchup tables
  decksite/controllers/api.py
  decksite/controllers/api_test.py
  decksite/data/matchup.py
  decksite/data/matchup_test.py
  decksite/live_table_test.py
  decksite/templates/matchupdecktable.mustache
  decksite/templates/matchupmatchtable.mustache
  decksite/views/matchups.py
  shared_web/static/js/datamanager.jsx
Due: decksite, shared, shared_web

Update matchup view tests for paginated results
  decksite/views/matchups_test.py
Due: decksite

Replace admin person dropdowns with remote picker
  decksite/controllers/admin.py
  decksite/controllers/admin_test.py
  decksite/controllers/api.py
  decksite/controllers/api_test.py
  decksite/data/matchup.py
  decksite/data/matchup_test.py
  decksite/data/person.py
  decksite/templates/persondropdown.mustache
  decksite/views/ban.py
  decksite/views/edit_aliases.py
  decksite/views/player_notes.py
  decksite/views/unlink.py
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Hide typeahead hints in person pickers
  shared_web/static/js/pd.js
Due: shared, shared_web

Align typeahead form controls
  shared_web/static/css/pd.css
Due: shared, shared_web

Flag invalid modo bug metadata
  modo_bugs/update.py
  modo_bugs/update_test.py
Due: none

Replace archetype dropdowns with remote pickers
  decksite/controllers/admin.py
  decksite/controllers/admin_test.py
  decksite/templates/archetypepicker.mustache
  decksite/templates/archetypesearch.mustache
  decksite/templates/editarchetypes.mustache
  decksite/views/archetype_search.py
  decksite/views/edit_archetypes.py
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Polish archetype picker styling
  decksite/templates/editarchetypes.mustache
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Scope queue picker sizing
  shared_web/static/css/pd.css
Due: shared, shared_web

Scale typeahead suggestions to form inputs
  shared_web/static/css/pd.css
Due: shared, shared_web

Use GeoNames for local time lookups
  .conductor/README.md
  .conductor/cloud.py
  .conductor/discordbot-cloud.sh
  README.md
  discordbot/bot.py
  discordbot/commands/time.py
  magic/fetcher.py
  magic/fetcher_test.py
  magic/geonames.py
  magic/geonames_test.py
  run.py
  shared/configuration.py
Due: discordbot, magic, shared

Move GeoNames support into shared infrastructure
  discordbot/bot.py
  magic/fetcher.py
  magic/fetcher_test.py
  run.py
  shared/geonames.py
  shared/geonames_test.py
Due: discordbot, magic, shared

Keep time location data within Discord bot
  discordbot/bot.py
  discordbot/commands/network_io_test.py
  discordbot/commands/time.py
  discordbot/geonames.py
  discordbot/geonames_test.py
  discordbot/timezones.py
  discordbot/timezones_test.py
  magic/fetcher.py
  magic/fetcher_test.py
  run.py
Due: discordbot, magic

Add loading skeletons to live tables
  decksite/browser_test.py
  shared_web/static/css/pd.css
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Rank and qualify GeoNames locations correctly
  discordbot/geonames.py
  discordbot/geonames_test.py
Due: discordbot

Replace generated header search data with live results
  .conductor/cloud.py
  .conductor/cloud_test.py
  decksite/browser_test.py
  decksite/controllers/api.py
  decksite/controllers/api_test.py
  decksite/data/site_search.py
  decksite/data/site_search_test.py
  maintenance/typeahead.py
  maintenance/typeahead_test.py
  shared/configuration.py
Due: decksite, shared

Fix archetype picker assignment
  decksite/browser_test.py
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Fix display time rounding across unit boundaries
  shared/dtutil.py
  shared/dtutil_test.py
Due: shared

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
