Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

More setcode stuff
  magic/seasons.py
Due: magic

Update pipfile
  Pipfile
Due: none

All other references to 3.10
  .github/workflows/build.yml
  .github/workflows/isort.yml
  .github/workflows/repip.yml
  Dockerfile
  README.md
Due: none

Add audioop-lts
  Pipfile
Due: none

And lock
  Pipfile
  Pipfile.lock
Due: none

Fix mypy error
  .github/workflows/repip.yml
  Pipfile
  Pipfile.lock
  magic/image_fetcher.py
Due: magic

Completely remove Pipenv in favour of uv
  .github/workflows/build.yml
  .github/workflows/isort.yml
  .github/workflows/repip.yml
  Dockerfile
  Pipfile
  Pipfile.lock
  README.md
  bootstrap.sh
  build.py
  decksite/controllers/api.py
  decksite/data/deck.py
  dev.py
  discordbot/background.py
  docker-compose.yml
  maintenance/fonts.py
  pyproject.toml
  shared_web/api.py
  uv.lock
Due: decksite, discordbot, shared, shared_web

Fix pytest workflow
  .github/workflows/build.yml
Due: none

Ruff fixes
  README.md
  magic/abc/card_description.py
  pyproject.toml
  shared/custom_types.py
  shared/dtutil.py
  shared/dtutil_test.py
  shared/logger.py
  shared/settings.py
Due: magic, shared

Type parameters
  shared/decorators.py
  shared/guarantee.py
  shared/lazy.py
  shared/redis_wrapper.py
  shared/settings.py
Due: shared

Fix rotation date being wrong
  discordbot/background.py
  magic/seasons.py
Due: discordbot, magic

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

Prepared cards
  magic/decklist_test.py
  magic/layout.py
Due: magic

Remove unused type: ignores
  maintenance/generate_translations.py
  maintenance/update_translations.py
Due: none

added prepare layout
  magic/layout.py
Due: magic

Add more sets to the seasons array
  magic/seasons.py
Due: magic

Add support for scryfall's jsonl bulk export
  magic/fetcher.py
  shared/fetch_tools.py
Due: magic, shared

Support Scryfall JSONL bulk data
  magic/fetcher.py
  magic/fetcher_test.py
  shared/fetch_tools.py
  shared/fetch_tools_test.py
Due: magic, shared

Recognize Scryfall front card layout
  magic/layout.py
  magic/layout_test.py
Due: magic

Identify synchronous Scryfall requests
  shared/fetch_tools.py
  shared/fetch_tools_test.py
Due: shared

Warn when card information is stale
  discordbot/command.py
  discordbot/command_test.py
Due: discordbot

Handle long Discord error hints
  discordbot/background_test.py
  discordbot/error_handling.py
  discordbot/error_handling_test.py
  discordbot/reboot_utils_test.py
Due: discordbot

Harden Discord bot errors and reboot reporting
  .gitignore
  discordbot/background.py
  discordbot/background_test.py
  discordbot/bot.py
  discordbot/bot_test.py
  discordbot/commands/configure.py
  discordbot/commands/debug.py
  discordbot/commands/reboot.py
  discordbot/commands/version.py
  discordbot/error_handling.py
  discordbot/error_handling_test.py
  discordbot/reboot_utils.py
  discordbot/reboot_utils_test.py
  magic/seasons.py
  magic/seasons_test.py
Due: discordbot, magic

Fix typing for mypy 2.1
  magic/colors.py
  shared/settings.py
  uv.lock
Due: magic, shared

Throttle Dependabot CI workflows
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
Due: none

Copy local config into workspaces
  .worktreeinclude
Due: none

Document and expose local font generation
  README.md
  build.py
  dev.py
Due: none

Remove unused project scripts configuration
  pyproject.toml
Due: none

Pin setup-uv action revision
  .github/workflows/build.yml
Due: none

Harden uv development and CI workflows
  .github/workflows/build.yml
  .github/workflows/isort.yml
  .github/workflows/repip.yml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  bootstrap.sh
  build.py
  decksite/__init__.py
  decksite/controllers/api.py
  decksite/data/deck.py
  dev.py
  docker-compose.yml
  logsite/__init__.py
  magic/models/__init__.py
  maintenance/fonts.py
  pyproject.toml
  shared/recursive_update.py
  shared_web/api.py
  uv.lock
Due: decksite, magic, shared, shared_web

Freeze newly added font build commands
  README.md
  build.py
Due: none

Prioritize canonical card names in search
  discordbot/command.py
  magic/whoosh_search.py
  magic/whoosh_search_test.py
Due: discordbot, magic

Exclude Worldgorger Dragon from color bar
  magic/colors.py
  magic/colors_test.py
Due: magic

Recover from expired MySQL connections
  shared/database.py
  shared/database_test.py
Due: shared

Handle missing archetype when creating rules
  decksite/controllers/admin.py
  decksite/controllers/admin_test.py
  decksite/templates/archetypedropdown.mustache
  decksite/templates/editrules.mustache
  decksite/views/edit_rules.py
Due: decksite

Sanitize deck export filenames
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Refresh cached supplemental rotations
  magic/seasons.py
  magic/seasons_test.py
Due: magic

Fix color query parsing
  find/find_test.py
  find/search.py
Due: none

Restore Discord card disambiguation
  discordbot/command.py
  discordbot/command_test.py
  discordbot/commands/__init__.py
Due: discordbot
