Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Make player names links on /admin/people/notes (#12717)
  decksite/templates/playernotes.mustache
  decksite/views/player_notes.py
Due: decksite

Weight similarity by inverse card playability to favor rarer cards (#12621)
  decksite/data/deck.py
  decksite/data/deck_test.py
Due: decksite

sweep state 2026-08-23T22:01:46Z
  config.json
  escalations/12618.json
  evidence/12617.json
  evidence/12621.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-23T22:04:51Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-23T22:06:27Z
  journal.jsonl
  metrics.json
  reports/adjudicated-12618.json
  reports/adjudicated-12716.json
  reports/pilot.md
  snapshot.json
Due: none

Determine permission_required via reflection on view function decorator (#12716)
  decksite/controllers/admin.py
Due: decksite

Fix colors column sort detection on /admin/archetypes (#12618)
  shared_web/static/js/pd.js
Due: shared, shared_web

sweep state 2026-08-23T22:17:41Z
  escalations/12716.json
  evidence/12618.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-23T22:25:55Z
  config.json
  escalations/12621.json
  escalations/12708.json
  escalations/12716.json
  journal.jsonl
  metrics.json
  reports/adjudicated-12716.json
  reports/pilot.md
  snapshot.json
Due: none

sweep state 2026-08-23T22:30:57Z
  config.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Fix jslint failure (#12708)
  shared_web/static/js/metagamegrid.jsx
Due: shared, shared_web

sweep state 2026-08-23T22:36:44Z
  config.json
  evidence/12708.json
  journal.jsonl
  metrics.json
  reports/adjudicated-12621.json
  reports/adjudicated-12708.json
  reports/adjudicated-12778.json
  snapshot.json
Due: none

Fix test failure (#12621)
  decksite/data/playability.py
Due: decksite

Move tournament date inline into the heading
  decksite/templates/home.mustache
Due: decksite

sweep state 2026-08-23T22:46:23Z
  escalations/12778.json
  evidence/12621.json
  evidence/12778.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-23T22:49:50Z
  config.json
  escalations/12778.json
  journal.jsonl
  metrics.json
  reports/adjudicated-12778.json
  snapshot.json
Due: none

sweep state 2026-08-23T22:50:34Z
  journal.jsonl
  reports/pilot.md
Due: none

sweep state 2026-08-23T23:06:25Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-23T23:21:50Z
  config.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Make machine guess opt-in per deck instead of pre-selected
  decksite/templates/editarchetypes.mustache
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

sweep state 2026-08-23T23:28:42Z
  evidence/12670.json
  journal.jsonl
  metrics.json
  reports/human_digest.md
  snapshot.json
Due: none

sweep state 2026-08-23T23:30:12Z
  evidence/12710.json
  journal.jsonl
  metrics.json
  reports/human_digest.md
  snapshot.json
Due: none

sweep state 2026-08-23T23:46:02Z
  escalations/12617.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-24T00:01:29Z
  journal.jsonl
  metrics.json
  reports/daily-2026-08-24.md
  snapshot.json
Due: none

Fix close button placement and font coverage (#12665)
  maintenance/fonts.py
  shared_web/static/css/pd.css
Due: shared, shared_web

sweep state 2026-08-24T00:16:49Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Polish quality score display in metagame grid (#12708)
  shared_web/static/css/pd.css
  shared_web/static/js/metagamegrid.jsx
Due: shared, shared_web

sweep state 2026-08-24T00:32:13Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Even out the seasons grid on player pages
  decksite/templates/person.mustache
  decksite/views/person.py
  decksite/views/person_test.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

sweep state 2026-08-24T00:47:32Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-24T01:02:56Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-24T01:18:18Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-24T01:33:37Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-24T01:48:57Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Tone down the archetypes-to-tag badge
  shared_web/static/css/pd.css
Due: shared, shared_web

sweep state 2026-08-24T12:58:50Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-24T12:59:37Z
  escalations/12617.json
  journal.jsonl
  metrics.json
Due: none

sweep state 2026-08-24T13:14:50Z
  journal.jsonl
  metrics.json
  reports/adjudicated-12617.json
  snapshot.json
Due: none

sweep state 2026-08-24T13:30:25Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-08-24T13:46:00Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
