Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Add a deck name to whitelist that got chopped
  decksite/deck_name.py
Due: decksite

Whitelist a deck name that got mangled
  decksite/deck_name.py
Due: decksite

Whitelist a deck name
  decksite/deck_name.py
Due: decksite

Special case a couple of names where Cardhoarder don't agree with our name
  price_grabber/parser.py
Due: price_grabber

Subset fonts to pick up a few new emoji includling FALAFEL and T-REX
  shared_web/static/css/pd.css
Due: shared, shared_web

Workaround issues with github projects and modo-bugs
  modo_bugs/update.py
  modo_bugs/verification.py
Due: none

Avoid warning from test runs by providing required param
  pytest.ini
Due: none

A little bit more output when we skip a bug during collection
  modo_bugs/scrape_forum.py
Due: none

A little utility to find places we can improve bug tracking
  modo_bugs/untracked.py
Due: none

Only show untracked bugs in the untracked bugs section
  modo_bugs/untracked.py
Due: none

Be agnostic about line endings in legal_cards.txt when checking bugs
  modo_bugs/update.py
Due: none

Refactor forum scraper so it gets alllll the bugs
  modo_bugs/fetcher.py
  modo_bugs/scrape_forum.py
Due: none

More output in janky bug script
  untracked_bugs.py
Due: none

Use some logging stuff instead of print
  untracked_bugs.py
Due: none

Remove types-certifi, trying to avoid a dependabot warning
  Pipfile
  Pipfile.lock
Due: none

Put untracked_bugs back into modo_bugs
  magic/fetcher.py
  modo_bugs/untracked_bugs.py
Due: magic

Show all seasons banner on error pages, not gray
  shared_web/views/error.py
Due: shared, shared_web

Remove unused code
  decksite/view.py
Due: decksite

Update price handling to cope with new price file format
  price_grabber/parser.py
  price_grabber/price_grabber.py
Due: price_grabber

Do not check scryfall for is:creatureland test, there are now too many
  find/find_test.py
Due: none

Avoid an error when trying to sanitize Ratonhnhaké꞉ton
  shared/text.py
Due: shared

A test for Ratonhnhaké꞉ton after he broke sanitizing
  shared/text_test.py
Due: shared

Include card name graphemes in font subsetting (for Ratonhnhaké꞉ton)
  maintenance/fonts.py
Due: none

Subset fonts for the weird colon in Ratonhnhaké꞉ton and 徴税🏮変異
  shared_web/static/css/pd.css
Due: shared, shared_web

Exclude .venv from linting, in case it's under the source root
  dev.py
Due: none

Show meta on competition detail page
  decksite/controllers/competitions.py
  decksite/data/archetype.py
  decksite/templates/competition.mustache
  decksite/views/competition.py
Due: decksite

Only show archetype table once on competition detail page
  decksite/templates/competition.mustache
  decksite/views/competition.py
Due: decksite

Show a cards table on competition detail page
  decksite/controllers/api.py
  decksite/data/card.py
  decksite/templates/competition.mustache
  decksite/templates/livecardtable.mustache
  decksite/views/competition.py
  shared_web/static/js/datamanager.jsx
Due: decksite, shared, shared_web

Order and present archetypes more nicely in competition detail page
  decksite/data/archetype.py
Due: decksite

Only include competitionId once in datamanager
  shared_web/static/js/datamanager.jsx
Due: shared, shared_web

Fix room names in price file
  hq_artcrops.json
  price_grabber/parser.py
Due: price_grabber

Show 5-0s, top 8s and wins on competition detail pages when appropriate
  decksite/data/card.py
  decksite/templates/archetypetree.mustache
  decksite/templates/livecardtable.mustache
  decksite/views/archetype.py
  decksite/views/competition.py
  shared_web/static/js/cardtable.jsx
Due: decksite, shared, shared_web

Include record in archetype data even though I don't think we need it
  decksite/data/archetype.py
Due: decksite

JavaScript lint
  shared_web/static/js/cardtable.jsx
Due: shared, shared_web

Don't "double count" cards in main and side for card stats on competition page
  decksite/data/card.py
Due: decksite

Exclude more problematic cards
  magic/multiverse.py
Due: magic

Run rotation clear in a thread so it doesn't time out
  decksite/controllers/api.py
Due: decksite

Update rotation_script.py
  rotation_script/rotation_script.py
Due: none
