Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Make test db a decorator in testutil
  decksite/scrapers/gatherling_test.py
  decksite/testutil.py
Due: decksite

Defend against error if attr uninitialized
  discordbot/background.py
Due: discordbot

Improvements to with_test_db
  decksite/testutil.py
Due: decksite

Make full test run able to take commandline arguments and -exitfirst
  dev.py
Due: none

Update the list of cheap promos
  discordbot/commands/explain.py
Due: discordbot

Support regular expressions in card search
  find/expression.py
  find/find_test.py
  find/search.py
  find/tokens.py
Due: none

Create test db for mtggoldfish scraper test
  decksite/scrapers/scraper_test.py
Due: decksite

Clean up dev.py runtests a little
  dev.py
Due: none

Hide the machine's archetype guesses from Discord embeds
  decksite/views/deck.py
Due: decksite

Accept set name as well as set code for /art command
  magic/oracle.py
Due: magic

Allow choosing set for flavor text command by name as well as code
  discordbot/commands/flavor.py
  magic/oracle.py
Due: discordbot, magic

Only sleep(5) if we're really calling goldfish, not when runnning local test
  decksite/scrapers/mtggoldfish.py
Due: decksite

Be a bit more specific about how to init logsite db
  analysis/analysis_test.py
  logsite/__init__.py
  logsite/tests/importing_test.py
Due: none

Upgrade Flask-SQLAlchemy as we upgrade SQLAlchemy to avoid issues
  Pipfile
  Pipfile.lock
Due: none

After upgrading SQLAlchemy typechecking is out of control, silence it
  logsite/__init__.py
  logsite/api.py
  logsite/data/game.py
  logsite/data/match.py
  logsite/data/tournament.py
  logsite/db.py
  logsite/importing.py
  logsite/stats.py
  logsite/views/home.py
  logsite/views/matches.py
  logsite/views/people.py
  mypy.ini
  run.py
Due: none

Remove mtggoldfish scraper
  Pipfile
  Pipfile.lock
  decksite/scrapers/mtggoldfish.py
  decksite/scrapers/scraper_test.py
  decksite/scrapers/test_gatherling.yaml
  decksite/scrapers/test_goldfish.yaml
  dev_test.py
  shared/configuration.py
Due: decksite, shared

Check for expected exceptions more consicely
  decksite/deck_name_test.py
  decksite/scrapers/gatherling_test.py
  magic/mana_test.py
  magic/oracle_test.py
Due: decksite, magic

Bring the bot functional tests back online, mostly
  discordbot/functional_test.py
Due: discordbot

Dryad Militant HQ art
  hq_artcrops.json
Due: none

Fix typo
  hq_artcrops.json
Due: none

Add /admin/banners/ to smoke test, to ensure HQ_artcrops.json can't be invalid
  decksite/smoke_test.py
  docker_dev/mysql/01-setup.sql
Due: decksite

Remove Google Analytics tag - we don't use it
  decksite/templates/footer.mustache
Due: decksite

Mark logsite database-touching tests as functional
  logsite/tests/importing_test.py
Due: none

Don't prepare decks on card detail page
  decksite/views/card.py
Due: decksite

Add Wilds of Eldraine set code
  magic/seasons.py
Due: magic

Update Frank Karsten colored mana sources image with one supporting Yorion
  discordbot/commands/img/mana-frank.png
Due: discordbot

Get rid of the concept of loading an archetype with decks
  decksite/controllers/admin.py
  decksite/controllers/metagame.py
  decksite/controllers/people.py
  decksite/data/archetype.py
  decksite/views/archetype.py
  decksite/views/deck.py
  maintenance/calculate_similar_decks.py
  maintenance/typeahead.py
Due: decksite

Don't error on detail page if an archetype has no decks this season
  decksite/views/archetype.py
Due: decksite

Speed up homepage 10x by only loading news from this season
  decksite/data/news.py
Due: decksite

Speed up competition detail page 30x by not unnecessarily loading decks
  decksite/controllers/competitions.py
  decksite/data/competition.py
  decksite/views/competition.py
Due: decksite

Don't show a league 5-0s column if looking at tournament-only stats
  decksite/templates/stats.mustache
Due: decksite

20x speed up card detail page for heavily-played cards
  decksite/data/card.py
Due: decksite

Don't confuse matchup archetypes with archetype tree archetypes
  decksite/templates/archetype.mustache
  decksite/views/archetype.py
Due: decksite

Always show decks on card detail page
  decksite/templates/card.mustache
Due: decksite

Lint
  decksite/views/archetype.py
Due: decksite

Alias for Taylor Swiftspear
  card_aliases.tsv
Due: none

Remove unused "news" feature from the db and admin section
  decksite/controllers/admin.py
  decksite/sql/66.sql
  decksite/templates/editnews.mustache
  decksite/templates/news.mustache
  decksite/views/__init__.py
  decksite/views/edit_news.py
Due: decksite
