Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Remove submenu fade transition
  shared_web/static/css/pd.css
Due: shared, shared_web

Avoid rebuilding preaggregates during web requests
  analysis/analysis.py
  decksite/controllers/api.py
  decksite/data/achievements.py
  decksite/data/archetype.py
  decksite/data/archetype_test.py
  decksite/data/card.py
  decksite/data/person.py
  decksite/data/playability.py
  decksite/data/preaggregation.py
  decksite/data/preaggregation_test.py
  decksite/data/rule.py
  decksite/data/season.py
  shared/decorators.py
  shared/decorators_test.py
Due: decksite, shared

Require the browser job to merge, run the browser tests against production as a canary, update the docs
  .github/workflows/canary.yml
  .mergify.yml
  README.md
  backlog_sweep/FIXER_PROMPT.md
  backlog_sweep/RUNBOOK.md
Due: none

Add AGENTS.md with agent instructions, CLAUDE.md pointing at it
  AGENTS.md
  CLAUDE.md
Due: none

Run the production canary without a database
  .github/workflows/canary.yml
  dev.py
Due: none

Run the canary's browser tests from a copy of the file outside the decksite package
  .github/workflows/canary.yml
  dev.py
Due: none

Serve /metagame tile art from /image/ instead of hotlinking the Scryfall API
  decksite/main.py
  decksite/main_test.py
  decksite/prepare.py
  decksite/prepare_test.py
  decksite/views/card_test.py
  magic/image_fetcher.py
  maintenance/cache_key_card_art.py
  shared_web/static/js/metagamegrid.jsx
Due: decksite, magic, shared, shared_web

Handle timezone-aware modo bug timestamps
  modo_bugs/update.py
  modo_bugs/update_test.py
Due: none

Remove redundant metagame quality rank
  decksite/browser_test.py
  decksite/data/archetype.py
  shared_web/static/js/metagamegrid.jsx
Due: decksite, shared, shared_web

Recover Conductor previews after cloud VM restart
  .conductor/README.md
  .conductor/preview-ssh.sh
  .conductor/preview-tunnel.py
  AGENTS.md
Due: none

Make Conductor cloud previews reproducible with database snapshots
  .conductor/README.md
  .conductor/cloud.py
  .conductor/cloud_test.py
  .conductor/decksite-cloud.sh
  .conductor/settings.toml
  .conductor/setup.sh
  .github/workflows/dev-db-snapshot.yml
  AGENTS.md
  README.md
Due: none

Avoid Scryfall API image rate limits
  decksite/main.py
  decksite/main_test.py
  decksite/prepare.py
  decksite/prepare_test.py
  discordbot/commands/dreadrise.py
  discordbot/commands/network_io_test.py
  magic/card.py
  magic/database.py
  magic/fetcher.py
  magic/fetcher_test.py
  magic/image_fetcher.py
  magic/image_fetcher_test.py
  magic/multiverse.py
  magic/multiverse_test.py
  maintenance/cache_key_card_art.py
  shared/fetch_tools.py
  shared/fetch_tools_test.py
Due: decksite, discordbot, magic, shared

Batch bulk card database inserts
  magic/multiverse.py
  magic/multiverse_test.py
Due: magic

Order tied top 8 finishes by Swiss tiebreakers
  decksite/controllers/api.py
  decksite/data/clauses.py
  decksite/data/clauses_test.py
  decksite/data/deck.py
  decksite/data/deck_test.py
Due: decksite

Keep pointer cursor on titled interactive elements
  decksite/browser_test.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Report unavailable card data accurately
  decksite/controllers/api.py
  decksite/controllers/api_test.py
  discordbot/command.py
  discordbot/command_test.py
  magic/database.py
  magic/database_test.py
Due: decksite, discordbot, magic

Return 404 for missing archetype IDs
  decksite/data/archetype.py
  decksite/data/archetype_test.py
Due: decksite

Return 404 for missing API resources
  decksite/controllers/api_test.py
  logsite/api.py
  logsite/api_test.py
  logsite/data/game.py
  logsite/data/match.py
  logsite/views/match_view.py
  magic/oracle.py
  magic/oracle_test.py
Due: decksite, magic

Preserve logsite route contracts
  logsite/api.py
  logsite/api_test.py
  logsite/data/game.py
  logsite/data/match.py
Due: none

Use trusted match ID in export filename
  logsite/api.py
  logsite/api_test.py
Due: none

Simplify card results table
  decksite/browser_test.py
  decksite/templates/home.mustache
  decksite/views/home.py
  shared_web/static/css/pd.css
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Normalize integer-valued database results
  decksite/browser_test.py
  decksite/controllers/api_test.py
  decksite/data/card.py
  decksite/data/card_test.py
  shared/database.py
  shared/database_test.py
Due: decksite, shared

Restore all-time deck routes
  decksite/main.py
  decksite/main_test.py
Due: decksite

Revert incomplete deck search API
  decksite/controllers/api.py
  decksite/data/clauses.py
  decksite/data/clauses_test.py
Due: decksite

Record deck search rollback
  journal.jsonl
  snapshot.json
Due: none

Record z-index fix audit
  journal.jsonl
  snapshot.json
Due: none

Record legibility shadow audit
  journal.jsonl
  snapshot.json
Due: none

Record component prop types audit
  journal.jsonl
  snapshot.json
Due: none

Record metagame tile sizing audit
  journal.jsonl
  snapshot.json
Due: none

Record archetype card loading audit
  journal.jsonl
  snapshot.json
Due: none

Record archetype preparation audit
  journal.jsonl
  snapshot.json
Due: none

Record rejected hover fix audit
  journal.jsonl
  snapshot.json
Due: none

Record win percentage type audit
  journal.jsonl
  snapshot.json
Due: none

Record ineffective jslint formatter audit
  journal.jsonl
  snapshot.json
Due: none

Revert "Merge pull request #15060 from PennyDreadfulMTG/sweep/12584-jslint-s-output-is-about-1000-lines-long"
  dev.py
  package-lock.json
  package.json
Due: none

Record jslint revert and reopened issue
  journal.jsonl
  snapshot.json
Due: none

Record mobile metagame grid audit
  journal.jsonl
  snapshot.json
Due: none

Record metagame share bar audit
  journal.jsonl
  snapshot.json
Due: none

Use emoji names only as a metadata fallback
  decksite/view.py
  decksite/views/archetype.py
  decksite/views/deck.py
  decksite/views/metadata_test.py
  shared/text.py
  shared/text_test.py
Due: decksite, shared

Record metadata emoji policy repair
  journal.jsonl
  snapshot.json
Due: none
