Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Fix Super Saturday prizes
  magic/tournaments.py
Due: magic

Replacing freeform tournament practice with freeform best of three
  decksite/templates/faqsbody.mustache
  decksite/templates/leagueinfo.mustache
  decksite/templates/tournamenthosting.mustache
  decksite/templates/tournaments.mustache
  discordbot/commands/explain.py
  shared_web/translations/messages.pot
Due: decksite, discordbot, shared, shared_web

Work around a problem with Scryfall data temporarily
  magic/multiverse.py
Due: magic

Revert "[decksite] ensure hamburger and header text remain on the same line"
  decksite/templates/header.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Revert "don't hide search box on small screens"
  decksite/templates/header.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Revert Norin the Wary hack, Scryfall is fixed now
  magic/multiverse.py
Due: magic

Fix mypy errors
  decksite/cache.py
  shared/lazy.py
Due: decksite, shared

Use GH Action for codecov upload
  .github/workflows/build.yml
Due: none

Handle missing Cardhoarder URLs better in price grabber
  price_grabber/price_grabber.py
Due: price_grabber

Remove redundant second clickable behavior on React table rows
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/decktable.jsx
  shared_web/static/js/headtoheadtable.jsx
  shared_web/static/js/leaderboardtable.jsx
  shared_web/static/js/persontable.jsx
  shared_web/static/js/rotationtable.jsx
Due: shared, shared_web

Better clickable rows fix
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/decktable.jsx
  shared_web/static/js/headtoheadtable.jsx
  shared_web/static/js/leaderboardtable.jsx
  shared_web/static/js/pd.js
  shared_web/static/js/persontable.jsx
  shared_web/static/js/rotationtable.jsx
Due: shared, shared_web

Better clickable rows fix
  shared_web/static/js/pd.js
  shared_web/static/js/rotationtable.jsx
Due: shared, shared_web

Fix issue with "show" and "options" in fonts task
  maintenance/fonts.py
Due: none

Abysmal hack to make 5s look right on the site again for now
  maintenance/fonts.py
Due: none

Remove references to 'hub' in favor of 'gh'
  README.md
Due: none

Make db restore during docker dev setup actually work
  docker_dev/mysql/dev-db.sh
Due: none

changed README.md to be a bit clearer for environment setup to be able to log in on the decksite
  README.md
Due: none

UPdate free loan program link
  decksite/resources.json
Due: decksite

removed unnecessary mention of setting up config.json from README.md
  README.md
Due: none

added kickoff top8s and victories achievements
  decksite/data/achievements.py
Due: decksite

fixed kick off achievements ignoring kickoffs which have incosistent naming, now both 500 and kickoff achievements check competition flags instead
  decksite/data/achievements.py
  decksite/data/query.py
Due: decksite

Never overwrite a main-text symbol with an emoji symbol
  maintenance/fonts.py
Due: none

Don't try and update legality if Scryfall bulk data was bad
  magic/multiverse.py
Due: magic

Temporarily work around some bad Scryfall data
  magic/multiverse.py
Due: magic

Temporarily disable cycling lands tests - they are printing more
  find/find_test.py
Due: none

Temporarily disable tangoland search, they are printing more
  find/find_test.py
Due: none

Don't show all decks to an unlinked user
  decksite/league.py
Due: decksite

Refuse to associate over another discord ID
  decksite/data/person.py
Due: decksite

Fix SQL issue when associating discord ids
  decksite/data/person.py
Due: decksite

Prevent infinite retries of a malformed match
  logsite/importing.py
Due: none

Stop infinite retries of match insert, part 2
  logsite/api.py
  logsite/importing.py
Due: none

Don't ask for permission to join servers when authenticating with Discord
  shared_web/oauth.py
Due: shared, shared_web

Fix EOE supplemental rotation
  magic/seasons.py
Due: magic

added LGBTQ words to deckname whitelist
  decksite/deck_name.py
Due: decksite

Discord events for the whole week, and better links
  dev.py
  discordbot/background.py
  magic/tournaments.py
Due: discordbot, magic

Duration based on rounds
  discordbot/background.py
  magic/fetcher.py
Due: discordbot, magic
