Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Longer sleeps in the modo-bugs forum scraper
  magic/whoosh_search_test.py
  modo_bugs/fetcher.py
Due: magic

Switch back to original adminer container
  docker-compose.yml
Due: none

Fix whoosh meld test for the last time
  magic/whoosh_search_test.py
Due: magic

Change all email address references to the shared inbox
  decksite/templates/contact.mustache
  decksite/templates/contactus.mustache
  discordbot/commands/configure.py
  package.json
Due: decksite, discordbot

EOE moved the release date to the prerelease day, so we need to push rotation forward a week back to the day we expect it to be
  magic/seasons.py
Due: magic

Handle the concept of english printed names in place of flavour names
  magic/multiverse.py
Due: magic

[magic/tournaments] temporary fix for 500 date for PD38
  magic/tournaments.py
Due: magic

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

Ignore duplicate entry for Through the Omenpaths
  magic/multiverse.py
  magic/seasons.py
Due: magic

Skip reversables all together for now
  magic/multiverse.py
Due: magic

Prep for the first two seasons of 2026
  magic/decklist_test.py
  magic/multiverse.py
  magic/seasons.py
  pyproject.toml
Due: magic

We have a name for the TMNT set now, so mark it as supplemental
  magic/seasons.py
Due: magic

Revert "[magic/tournaments] temporary fix for 500 date for PD38"
  magic/tournaments.py
Due: magic

Ensure pydantic and pydantic-core are upgraded together by Dependabot
  .github/dependabot.yml
Due: none

Update BS4
  Pipfile
  Pipfile.lock
  modo_bugs/fetcher.py
  modo_bugs/scrape_announcements.py
Due: none

Make ruff happy
  discordbot/command.py
  magic/tournaments.py
  shared/dtutil.py
  shared/settings.py
  shared_web/template.py
Due: discordbot, magic, shared, shared_web

Don't show language switcher to logged out users. This should greatly reduce the attack surface for scraper bots.
  .vscode/launch.json
  decksite/templates/header.mustache
  decksite/view.py
Due: decksite

Reword /explain prizes
  discordbot/commands/explain.py
Due: discordbot

Add more localisation strings to our templates
  decksite/templates/home.mustache
  decksite/templates/pd500.mustache
  decksite/templates/personachievements.mustache
  decksite/templates/retire.mustache
  decksite/templates/rotationchanges.mustache
  decksite/templates/spinner.mustache
Due: decksite

Change adminer in docker-compose.yml to allow for larger DB imports
  docker-compose.yml
Due: none

Update BS4
  Pipfile
  modo_bugs/fetcher.py
  modo_bugs/scrape_announcements.py
Due: none

Rather than post-processing every request and then accounting for duplicates because of /api/status, why not just increment in the API call?
  decksite/controllers/api.py
  decksite/main.py
  decksite/templates/signup.mustache
Due: decksite

Fix env problem
  bootstrap.sh
Due: none

Implement honeypot channel
  discordbot/bot.py
  shared/configuration.py
Due: discordbot, shared

Weeks start at 1, not zero
  magic/tournaments.py
Due: magic

Lock Mariadb to v11 for now
  .github/workflows/build.yml
Due: none

Sanity check to make sure we're not writing an empty typeahead
  maintenance/typeahead.py
Due: none

Ruff mandates a max linelen of 320, so that's what we're using now.
  .isort.cfg
  pyproject.toml
Due: none

Update pipfile
  Pipfile
  Pipfile.lock
Due: none

All other references to 3.10
  .github/workflows/build.yml
  .github/workflows/isort.yml
  .github/workflows/repip.yml
  Dockerfile
  README.md
Due: none

Add audioop-lts
  Pipfile
  Pipfile.lock
Due: none

Add managathering.com
  decksite/resources.json
Due: decksite

Fix Wrestling entry date
  .gitignore
  magic/seasons.py
Due: magic

More setcode stuff
  magic/seasons.py
Due: magic

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
