Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Don't error on /seasons when season is less than 12 hours old
  decksite/views/seasons.py
Due: decksite

Fix pluralization in /seasons
  decksite/views/seasons.py
Due: decksite

'Rampant, Growth'
  magic/multiverse.py
Due: magic

Fix indent
  magic/multiverse.py
Due: magic

Kaya hq artcrop
  hq_artcrops.json
Due: none

Accomodate small change in Gatherling API
  decksite/scrapers/gatherling.py
Due: decksite

Add an iok alias for Inquisition of Kozilek
  card_aliases.tsv
Due: none

The Colossal Dreadmaw strikes again
  magic/multiverse.py
Due: magic

Font refresh after a bunch of recent new symbols
  shared_web/static/css/pd.css
Due: shared, shared_web

Add the first four known set codes for 2025
  magic/seasons.py
Due: magic

Move the start of the Gatherling scraper transaction below an early exit
  decksite/scrapers/gatherling.py
Due: decksite

Remove some obsolete settings from vscode setup
  .vscode/settings.json
  decksite/auth.py
  decksite/main.py
  shared_web/flask_app.py
Due: decksite, shared, shared_web

Move from pennydreadfulmagic.com cookies to .pennydreadfulmagic.com cookies
  shared_web/flask_app.py
Due: shared, shared_web

Git probe alias
  card_aliases.tsv
Due: none

Add a way to do a "hard" cache reset for rotation from web (clear last season)
  decksite/controllers/api.py
  rotation_script/rotation_script.py
Due: decksite

Add more depth to the stack we use to hash errors
  shared/repo.py
Due: shared

Provide a way for actions happening not-on-user time to skip perf checks
  shared/perf.py
Due: shared

Exempt a few more cards from determining deck color
  magic/colors.py
Due: magic

Don't clear decksite rotation cache via web, be more direct
  .flake8
  decksite/controllers/api.py
  decksite/data/rotation.py
  rotation_script/rotation_script.py
Due: decksite

Revert "Don't clear decksite rotation cache via web, be more direct"
  .flake8
  decksite/controllers/api.py
  decksite/data/rotation.py
  rotation_script/rotation_script.py
Due: decksite

Prevent flakiness in rotation page update by running cache clear in a subprocess
  decksite/controllers/api.py
  maintenance/clear_rotation_cache.py
  maintenance/clear_rotation_cache_hard.py
  maintenance/clear_rotation_cache_internal.py
Due: decksite

Temporarily disable a test involving a tilde until we update our tilde behavior
  find/find_test.py
Due: none

If we're going to hardcode a path in rotation script it should be the right one
  rotation_script/rotation_script.py
Due: none

Beef up instructions to be clearer
  rotation_script/rotation_script.py
Due: none

Clear the cache *before* finalizing rotation, so /rotation gets the final run
  rotation_script/rotation_script.py
Due: none

Update font for exploding head emoji and others
  shared_web/static/css/pd.css
Due: shared, shared_web

Skip perf checks when not on usertime
  bootstrap.sh
Due: none

Try and get github errors unique enough that they don't all get dropped
  shared/repo.py
Due: shared

ci(mergify): upgrade configuration to current format
  .mergify.yml
Due: none

Add disambiguating info where it is actually needed in github issue creation
  shared/repo.py
Due: shared

Skip all playtest cards in cards db, now that Scryfall have given us a way
  magic/multiverse.py
Due: magic

Don't treat the error string like a list
  shared/repo.py
Due: shared

Update font subset for recent emoji
  shared_web/static/css/pd.css
Due: shared, shared_web

Get a little smarter about trailing numbers with spaces in deck names
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Prevent season numbers showing up in nonstandard font, clean up display a little
  decksite/prepare.py
  decksite/templates/legal.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Update symbol font with latest deck name emojis
  shared_web/static/css/pd.css
Due: shared, shared_web

Dockerfile: use official python and node images
  Dockerfile
Due: none

Use a hostname for prices instead of having to change this every time it moves
  magic/fetcher.py
Due: magic

docker compose: add logsite, rename 'web' to decksite
  Dockerfile
  docker-compose.yml
Due: none

[docker_dev] remove create database pdlogs from mysql setup
  docker_dev/mysql/01-setup.sql
Due: none

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
