Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Fix class="live undefined" when no className prop is supplied to Table (#12598)
  shared_web/static/js/table.jsx
Due: shared, shared_web

Markdown-escape card names in MtgMixin send paths (#12612)
  discordbot/command.py
Due: discordbot

sweep state 2026-09-01T18:14:15Z
  escalations/12524.json
  escalations/12548.json
  escalations/12550.json
  escalations/12552.json
  escalations/12559.json
  escalations/12568.json
  escalations/12569.json
  escalations/12579.json
  escalations/12584.json
  escalations/12587.json
  escalations/12588.json
  escalations/12589.json
  escalations/12600.json
  evidence/12572.json
  evidence/12573.json
  evidence/12578.json
  evidence/12579.json
  evidence/12580.json
  evidence/12584.json
  evidence/12585.json
  evidence/12600.json
  evidence/12605.json
  evidence/12606.json
  evidence/12613.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Cache Intl.NumberFormat instance in PD.formatPercentage (#12540)
  shared_web/static/js/pd.js
Due: shared, shared_web

sweep state 2026-09-01T18:16:08Z
  evidence/12598.json
  evidence/12612.json
  journal.jsonl
  metrics.json
  reports/adjudicated-12524.json
  reports/adjudicated-12548.json
  reports/adjudicated-12550.json
  reports/adjudicated-12552.json
  reports/adjudicated-12559.json
  reports/adjudicated-12568.json
  reports/adjudicated-12569.json
  reports/adjudicated-12579.json
  reports/adjudicated-12584.json
  reports/adjudicated-12587.json
  reports/adjudicated-12588.json
  reports/adjudicated-12589.json
  reports/adjudicated-12600.json
  reports/human_digest.md
  snapshot.json
Due: none

Fix keyCards mutation causing flash on sort change (#12589)
  shared_web/static/js/metagamegrid.jsx
Due: shared, shared_web

Extract _season_table_and_where helper to unify key_cards and key_cards_long (#12566)
  decksite/data/playability.py
Due: decksite

Fix jslint failure (#12584)
  package-lock.json
  package.json
Due: none

Scope key_cards_long to current page's archetypes in /api/archetypes2 (#12554)
  decksite/controllers/api.py
  decksite/data/playability.py
Due: decksite

Guard against already-tz-aware datetimes from PyGithub (#12557)
  decksite/data/news.py
  shared/repo.py
Due: decksite, shared

Use highlight color for mobile menu hover state (#12560)
  shared_web/static/css/pd.css
Due: shared, shared_web

Show help cursor on elements with title attribute that are not links (#12537)
  shared_web/static/css/pd.css
Due: shared, shared_web

Show quality rank within season on metagame tiles regardless of filter (#12534)
  decksite/data/archetype.py
  shared_web/static/js/metagamegrid.jsx
Due: decksite, shared, shared_web

Make deck ordering deterministic by appending d.id to ORDER BY (#12571)
  decksite/data/deck.py
Due: decksite

Read base_chars from pd.css instead of hardcoding (#12546)
  maintenance/fonts.py
  shared_web/static/css/pd.css
Due: shared, shared_web

Fix jslint failure (#12579)
  shared_web/static/js/grid.jsx
Due: shared, shared_web

Adopt box-sizing: border-box globally and remove individual declarations (#12528)
  shared_web/static/css/pd.css
Due: shared, shared_web

sweep state 2026-09-01T18:29:32Z
  escalations/12461.json
  escalations/12490.json
  escalations/12589.json
  evidence/12459.json
  evidence/12460.json
  evidence/12461.json
  evidence/12463.json
  evidence/12464.json
  evidence/12485.json
  evidence/12490.json
  evidence/12491.json
  evidence/12492.json
  evidence/12493.json
  evidence/12513.json
  evidence/12514.json
  evidence/12515.json
  evidence/12516.json
  evidence/12521.json
  evidence/12528.json
  evidence/12534.json
  evidence/12537.json
  evidence/12540.json
  evidence/12546.json
  evidence/12553.json
  evidence/12554.json
  evidence/12555.json
  evidence/12557.json
  evidence/12560.json
  evidence/12563.json
  evidence/12564.json
  evidence/12566.json
  evidence/12571.json
  evidence/12579.json
  evidence/12584.json
  evidence/12600.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Fix archetype badge z-index hack by reordering DOM and using li as containing block (#12593)
  decksite/templates/menu.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Remove flask-babel DeprecationWarning suppression (#12521)
  pytest.ini
Due: none

Fix quoted card names not matching in whoosh search (#12527)
  magic/whoosh_constants.py
  magic/whoosh_search_test.py
Due: magic

Fix num_decks showing None for empty archetypes in /seasons/all/archetypes (#12514)
  decksite/data/archetype.py
Due: decksite

Format large numbers with locale-aware thousand separators (#12509)
  shared_web/static/css/pd.css
  shared_web/static/js/cardtable.jsx
  shared_web/static/js/table.jsx
Due: shared, shared_web

Fix invalid data attribute in recent deck loader (#12463)
  decksite/templates/recentdecks.mustache
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Replace hub with gh in do_pull_request and update README (#12469)
  README.md
  dev.py
Due: none

Replace inline style with CSS class in manabase template (#12467)
  decksite/templates/manabase.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Add 'screw' variants to profanity whitelist (#12495)
  decksite/deck_name.py
Due: decksite

Move signed_up_msg_safe HTML into template with auto-escaping (#12464)
  decksite/templates/signup.mustache
  decksite/views/signup.py
Due: decksite

Make decksite, db, and redis ports configurable in docker dev setup (#12455)
  .env.example
  docker-compose.yml
Due: none

Add explain for sideboarding down to 59 cards (#12512)
  discordbot/commands/explain.py
Due: discordbot

Fix archetype URLs with // in name not matching routes (#12494)
  decksite/controllers/metagame.py
  decksite/data/archetype.py
Due: decksite

Strip leading Spanish question mark before titlecasing deck names (#12484)
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Remove oembed endpoint and related code (#12465)
  decksite/controllers/api.py
  decksite/templates/deckembed.mustache
  decksite/templates/header.mustache
  decksite/views/__init__.py
  decksite/views/deck.py
  shared_web/smoke.py
Due: decksite, shared, shared_web

Fix admin/unlink to only load people with a discord_id (#12492)
  decksite/controllers/admin.py
Due: decksite

Change "should" to "must" for 25-minute timer rule (#12436)
  decksite/templates/leagueinfo.mustache
  decksite/templates/tournaments.mustache
Due: decksite

Reduce chart y-axis max multiplier to tighten gap between bars and datalabels (#12454)
  decksite/views/deck.py
  decksite/views/person.py
Due: decksite

Fix /all/people person links to point to all-time detail page (#12472)
  decksite/controllers/api.py
  decksite/prepare.py
  decksite/view.py
Due: decksite

Check card legality in /manabase without requiring full deck size (#12444)
  decksite/form.py
  decksite/manabase.py
  magic/legality.py
  magic/legality_test.py
Due: decksite, magic
