Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Get news of league 5-0s and tournament winners from latest decks
  decksite/data/news.py
  decksite/main.py
Due: decksite

Speed up signup by loading fewer decks
  decksite/data/deck.py
  decksite/league.py
Due: decksite

Remove overzealosy deleted news template
  decksite/templates/news.mustache
Due: decksite

Fix broken logger logging
  decksite/data/deck.py
  decksite/data/elo.py
Due: decksite

Don't unnecessarily load cards on person detail page
  decksite/controllers/people.py
  decksite/views/person.py
Due: decksite

Speed up deck detail page by not loading archetypes
  decksite/views/deck.py
Due: decksite

Consolidate matches handling into View
  decksite/controllers/api.py
  decksite/controllers/league.py
  decksite/controllers/metagame.py
  decksite/data/match.py
  decksite/data/matchup.py
  decksite/prepare.py
  decksite/templates/matchups.mustache
  decksite/templates/personmatches.mustache
  decksite/view.py
  decksite/views/deck.py
  decksite/views/matchups.py
  decksite/views/retire.py
Due: decksite

Speed up the homepage by fetching github and reddit news offline
  decksite/data/news.py
  maintenance/homepage_cache.py
Due: decksite

Log at INFO when running tasks, even if they use app context
  run.py
Due: none

Fix legality on deck detail page after signup
  decksite/views/deck.py
Due: decksite

Speed up /seasons/all/cards by not loading all cards
  decksite/controllers/metagame.py
  decksite/views/cards.py
  shared_web/base_view.py
Due: decksite, shared, shared_web

Fix tournament-only on archetype detail page
  decksite/controllers/metagame.py
Due: decksite

Doorprize API?
  decksite/controllers/api.py
  decksite/data/competition.py
  decksite/sql/67.sql
  maintenance/validate_translations.py
Due: decksite

Remove more trailing slashes from API endpoints
  decksite/controllers/api.py
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Bump mariadb version in Dockerfile
  docker_dev/mysql/Dockerfile
Due: none

Fix minor linter warning
  decksite/view.py
Due: decksite

Split Archetype search results into a separate view
  decksite/controllers/admin.py
  decksite/templates/archetypesearch.mustache
  decksite/templates/editarchetypes.mustache
  decksite/views/archetype_search.py
  decksite/views/edit_archetypes.py
Due: decksite

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  .pyup.yml
  decksite.wsgi
  prices.wsgi
Due: decksite

Fix pre-commit errors
  .pre-commit-config.yaml
  decksite.wsgi
  dev.py
  prices.wsgi
Due: decksite

Pin discord-typings to a version that's compatible
  Pipfile
  Pipfile.lock
Due: none

Update Dreadrise URL
  shared/configuration.py
Due: shared

Add the new 'prototype' layout - previously these cards used 'normal'
  magic/layout.py
Due: magic

Report missing layout when found in cards db rebuild, not just rotation
  magic/layout.py
  magic/multiverse.py
Due: magic

Include basic deck construction rules in FAQs
  decksite/templates/faqsbody.mustache
Due: decksite

Daybreak forums change the CSS label
  modo_bugs/fetcher.py
Due: none

Fix mypy warning
  magic/decklist.py
Due: magic

Fix type hint
  magic/layout.py
Due: magic

modo-bugs: Add "Needs Forum Post" triage label.
  modo_bugs/update.py
Due: none

So many coloured labels
  modo_bugs/fetcher.py
Due: none

Add mutate layout
  magic/layout.py
Due: magic

Add modo-bug triage queue. It's very naive, but that's what user imput is for.
  discordbot/commands/modobug.py
  magic/fetcher.py
  modo_bugs/scrape_forum.py
  modo_bugs/update.py
  shared/types.py
Due: discordbot, magic, shared

Add blacklist for non-matching pairs
  discordbot/commands/modobug.py
Due: discordbot

Sort Imports
  decksite/controllers/admin.py
  decksite/controllers/league.py
  decksite/controllers/metagame.py
  decksite/data/matchup.py
  decksite/views/archetype.py
  decksite/views/archetype_search.py
  discordbot/commands/modobug.py
  logsite/tests/importing_test.py
  magic/decklist.py
  magic/fetcher.py
Due: decksite, discordbot, magic

lint
  discordbot/commands/modobug.py
  shared/types.py
Due: discordbot, shared

Looks like we're going back to old-style release scheudle with WOE
  magic/seasons.py
Due: magic

Correct MOM rotation date
  magic/seasons.py
Due: magic

Limit guess_league_archetypes to 100 decks at a time to avoid perf issues
  maintenance/guess_league_archetypes.py
Due: none

Step 1, store flavor names
  .vscode/launch.json
  magic/abc/card_description.py
  magic/card.py
  magic/database.py
  magic/multiverse.py
  shared/fetch_tools.py
Due: magic, shared

Part 2: Show flavor names in base query
  magic/card.py
  magic/multiverse.py
Due: magic

Step 3: oracle.load_card
  magic/oracle.py
Due: magic

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
