Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Remove no-longer-used dependency
  discordbot/commands/swiss.py
Due: discordbot

Make some kind of silly typecasts to appease the latest version of inflect
  decksite/view.py
  discordbot/commands/explain.py
  magic/tournaments.py
  shared/dtutil.py
Due: decksite, discordbot, magic, shared

Performance improvement when generating _card_person_stats
  decksite/data/card.py
Due: decksite

Apply performance improvement to preaggregate_season_archetype_card_count
  decksite/data/playability.py
Due: decksite

More pref improvement - _season_card_count
  decksite/data/playability.py
Due: decksite

Speed up preaggregate_archetype_card_count
  decksite/data/playability.py
Due: decksite

HQ Tangled Florahedron artcrop
  hq_artcrops.json
Due: none

Set reprime_cache back to daily after perf improvements
  maintenance/reprime_cache.py
Due: none

Remove empty color assignment
  shared_web/static/css/pd.css
Due: shared, shared_web

Fix typo
  shared_web/static/css/pd.css
Due: shared, shared_web

Rip out some banner stuff that isn't in use
  decksite/templates/header.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Fix some typos in comments
  shared_web/static/css/pd.css
Due: shared, shared_web

Remove old prefixed CSS that is now covered by all used browsers
  shared_web/static/css/pd.css
Due: shared, shared_web

Add some missing commas
  shared_web/static/css/pd.css
Due: shared, shared_web

Make fonts and spacing consistent throughout CSS
  shared_web/static/css/pd.css
Due: shared, shared_web

Fix display date issue
  shared/dtutil.py
  shared/dtutil_test.py
Due: shared

Clean up some typos in dtutil
  shared/dtutil.py
  shared/dtutil_test.py
Due: shared

Make test work regardless of timezone of host machine
  shared/dtutil_test.py
Due: shared

Remove unused code from decksite.league
  decksite/league.py
Due: decksite

Put border declarations in the right order
  shared_web/static/css/pd.css
Due: shared, shared_web

Improve rendering of form elements
  decksite/templates/linkaccounts.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Set the accent color for our form elements
  shared_web/static/css/pd.css
Due: shared, shared_web

Reorder some rules so that selects actually get the extra right padding
  shared_web/static/css/pd.css
Due: shared, shared_web

Remove overly specific reference to inline select
  shared_web/static/css/pd.css
Due: shared, shared_web

Fix import sorting
  decksite/controllers/api.py
  decksite/main.py
  discordbot/command.py
  find/search.py
  magic/layout.py
  rotation_script/rotation_script.py
  shared/sentry.py
Due: decksite, discordbot, magic, shared

Fix unused imports for decksite and enable flake8 checking
  .flake8
  decksite/__init__.py
  decksite/data/competition.py
  decksite/view.py
  decksite/views/__init__.py
  decksite/views/matchups.py
  decksite/views/people.py
Due: decksite

This was clearly fixed before but the rule wasn't re-enabled
  .flake8
Due: none

Remove unused rule suppression
  .flake8
Due: none

Consistent spacing
  .flake8
Due: none

Remove old print statement
  shared_web/template_test.py
Due: shared, shared_web

Go back to checking bad module imports, this time with flake8
  .flake8
  Pipfile
  Pipfile.lock
Due: none

Run npm audit fix to fix some js library issues
  package-lock.json
Due: none

Run npm audit fix --force to fix some node package issues
  package-lock.json
  package.json
Due: none

Download urllib3 until bug is fixed
  Pipfile
  Pipfile.lock
Due: none

Better error handlling and better search feedback in live card search
  decksite/controllers/api.py
  decksite/data/query.py
  decksite/data/query_test.py
  find/search.py
  shared_web/static/css/pd.css
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Get rid of some unnecessary noqa, or make more specific
  dev.py
  discordbot/bot.py
  logsite/__init__.py
  magic/whoosh_search.py
  run.py
  shared_web/views/__init__.py
Due: discordbot, magic, shared, shared_web

Add more disambiguating information to edit matches
  decksite/templates/editmatches.mustache
Due: decksite

Show cards on mouseover for unique cards and trailblazer cards
  decksite/templates/person.mustache
Due: decksite
