Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Show avg maindeck copies per card in card tables (#10114)
  decksite/data/card.py
  shared_web/static/js/cardtable.jsx
Due: decksite, shared, shared_web

Show season number and date range on competition pages (#6906)
  decksite/templates/subtitle.mustache
  decksite/views/competition.py
Due: decksite

Add title attribute with exact timestamp to friendly date displays (#7063)
  decksite/data/news.py
  decksite/prepare.py
  decksite/templates/competitions.mustache
  decksite/templates/deckmatches.mustache
  decksite/templates/deckrow.mustache
  decksite/templates/news.mustache
  decksite/view.py
  shared/dtutil.py
Due: decksite, shared

Lock decksite migrations with GET_LOCK to prevent concurrent runs (#6478)
  decksite/database.py
Due: decksite

Fix round_up_preceding_unit overflow check and missing preceding-unit prepend (#7206)
  shared/dtutil.py
  shared/dtutil_test.py
Due: shared

Speed up deck_sort by pre-computing integer sort keys (#6689)
  magic/oracle.py
  magic/oracle_test.py
Due: magic

Add lint rule enforcing auth.admin_required/demimod_required as innermost decorator (#7036)
  decksite/controllers/api.py
  dev.py
  dev_test.py
  lint_auth_ordering.py
  pyproject.toml
Due: decksite

Reject unrecognized locales to prevent UnknownLocaleError 500s (#6153)
  shared_web/localization.py
Due: shared, shared_web

Add optional rule fields when creating a new archetype (#6091)
  decksite/controllers/admin.py
  decksite/data/archetype.py
  decksite/templates/editarchetypes.mustache
Due: decksite

Handle PD website being down gracefully in !pdm command (#6315)
  discordbot/commands/network_io_test.py
  discordbot/commands/resources.py
Due: discordbot

Add OG meta tags to /matchups/ for Discord link previews (#6212)
  decksite/views/matchups.py
Due: decksite

Preserve player order in create_match so host() is correct (#6208)
  logsite/data/match.py
  logsite/tests/importing_test.py
Due: none

Add load_decks_by_ids helper and use it in rule.py (#5756)
  decksite/data/deck.py
  decksite/data/rule.py
Due: decksite

Add !explain showchat for MTGO Show Chat panel feature (#5876)
  discordbot/commands/explain.py
Due: discordbot

Flag issues with multiple categories or overly long titles (#4212)
  modo_bugs/update.py
Due: none

Raise FetchException on 4xx responses in store_async (#5703)
  shared/fetch_tools.py
  shared/fetch_tools_test.py
Due: shared

Add OpenGraph metadata to marquee pages (#5066)
  decksite/views/card.py
  decksite/views/competition.py
  decksite/views/competitions.py
  decksite/views/person.py
  decksite/views/tournaments.py
Due: decksite

Rollback open transactions on error in add_deck and insert_match (#5586)
  decksite/data/deck.py
  decksite/data/match.py
Due: decksite

Show unique player counts by week/month/season/all time on home page (#1558)
  decksite/data/match.py
  decksite/views/home.py
Due: decksite

Replace hidden-checkbox season chooser dropdown with JS slideToggle (#5704)
  decksite/templates/seasonchooser.mustache
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Normalize Discord mention/channel IDs to readable names in /bug and /gbug (#5503)
  discordbot/commands/bug.py
  discordbot/commands/bug_test.py
Due: discordbot

Add Trailblazer and Unique Cards achievements (#4283)
  decksite/data/achievements.py
Due: decksite

sweep state 2026-09-02T00:37:25Z
  escalations/1236.json
  evidence/1084.json
  evidence/1236.json
  evidence/1269.json
  evidence/1366.json
  evidence/1421.json
  evidence/1425.json
  evidence/1476.json
  evidence/1477.json
  evidence/1479.json
  evidence/1514.json
  evidence/1558.json
  evidence/4283.json
  evidence/5503.json
  evidence/5704.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-09-02T00:52:39Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-09-02T01:40:31Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-09-02T01:56:33Z
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Remove ineffective search text shadow
  shared_web/static/css/pd.css
Due: shared, shared_web

Reject ungrounded archetype evidence
  decksite/data/archetype_classifier.py
  decksite/data/archetype_classifier_test.py
Due: decksite

Fix jslint failure (#12600)
  shared_web/static/js/metagamegrid.jsx
Due: shared, shared_web

Return None instead of '' for win_percent when there are no matches (#12600)
  analysis/analysis.py
  decksite/data/archetype.py
  decksite/data/card.py
  decksite/data/matchup.py
  decksite/data/person.py
  shared_web/static/js/metagamegrid.jsx
Due: decksite, shared, shared_web

Return numeric win percentages from SQL
  analysis/analysis.py
  decksite/controllers/api_test.py
  decksite/data/archetype.py
  decksite/data/archetype_test.py
  decksite/data/card.py
  decksite/data/matchup_test.py
  decksite/data/person.py
Due: decksite

Sort undefined win percentages last
  decksite/data/archetype_test.py
  decksite/data/clauses.py
  decksite/data/clauses_test.py
Due: decksite

Reduce metagame grid min tile width so two fit on iPhone (#12613)
  shared_web/static/css/pd.css
Due: shared, shared_web

Strip unsafe Unicode Symbol chars from <title> and og: metadata (#12580)
  decksite/view.py
  decksite/view_test.py
  decksite/views/archetype.py
  decksite/views/deck.py
Due: decksite

Replace title emoji with readable text
  decksite/view.py
  decksite/view_test.py
  decksite/views/archetype.py
  decksite/views/deck.py
  decksite/views/metadata_test.py
  pyproject.toml
  shared/text.py
  shared/text_test.py
  uv.lock
Due: decksite, shared

Add quality optimistic, quality strict, and potential sort options to /metagame (#12578)
  decksite/data/archetype_test.py
  decksite/data/clauses.py
  decksite/data/clauses_test.py
  shared_web/static/js/metagamegrid.jsx
Due: decksite, shared, shared_web

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
