Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Fix seasons page overcounting legal cards due to flavor name aliases (#12024)
  decksite/views/seasons.py
Due: decksite

Associate Discord ID with person on league signup (#11991)
  decksite/controllers/league.py
Due: decksite

Move get_or_insert_person_id from deck to person (#11997)
  decksite/data/deck.py
  decksite/data/person.py
Due: decksite

Index back-face names in oracle so transform cards resolve by back-face name (#11992)
  decksite/views/seasons.py
  magic/oracle.py
  magic/oracle_test.py
Due: decksite, magic

Add game timer reminder to tournament announcements (#11747)
  discordbot/background.py
Due: discordbot

Fix name search to match across word boundaries like Scryfall (#12228)
  find/find_test.py
  find/search.py
Due: none

Show in-this-check and eliminated-this-check counts on rotation page (#11946)
  decksite/controllers/resources.py
  decksite/data/rotation.py
  decksite/templates/rotation.mustache
  decksite/views/rotation.py
Due: decksite

Fix multi-card archetype search timeout by replacing GROUP BY with per-card subqueries (#11913)
  decksite/data/deck.py
  decksite/data/deck_test.py
Due: decksite

Assert setcode is not None before writing season file (#11739)
  rotation_script/rotation_script.py
Due: none

Fix [PDN] bracket form not removed when N doesn't match season_id (#12141)
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

sweep state 2026-09-01T19:38:37Z
  escalations/11721.json
  escalations/11827.json
  escalations/11858.json
  escalations/12243.json
  evidence/11721.json
  evidence/11747.json
  evidence/11814.json
  evidence/11827.json
  evidence/11858.json
  evidence/11865.json
  evidence/11887.json
  evidence/11913.json
  evidence/11946.json
  evidence/11991.json
  evidence/11997.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

sweep state 2026-09-01T19:41:24Z
  escalations/12141.json
  escalations/12228.json
  evidence/11739.json
  evidence/11992.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Show total deck count on /admin/archetypes search results (#11887)
  decksite/templates/archetypesearch.mustache
  decksite/views/archetype_search.py
Due: decksite

Add modmail explain command (#11814)
  discordbot/commands/explain.py
Due: discordbot

Avoid Arena-only printing when fetching card images (#11865)
  magic/image_fetcher.py
  magic/oracle.py
Due: magic

Exit with error when no test files match the given filter (#11667)
  dev.py
Due: none

Ground archetype choices in deck evidence
  decksite/data/archetype_classifier.py
  decksite/data/archetype_classifier_test.py
Due: decksite

Always include canonical US timezone when looking up abbreviation (#11645)
  magic/fetcher.py
  magic/fetcher_test.py
Due: magic

Handle OAuth2 state mismatch error in authenticate_callback (#11625)
  shared_web/flask_app.py
Due: shared, shared_web

Return 400 instead of 500 for missing/invalid since param on /decks/updated (#11623)
  decksite/controllers/api.py
Due: decksite

Fix horizontal scroll on game log pre element (#11566)
  logsite/templates/game_view.mustache
  shared_web/static/css/pd.css
Due: shared, shared_web

Show rotation end date as expected when next set is unannounced (#11594)
  decksite/templates/home.mustache
  decksite/views/home.py
Due: decksite

Ensure hero deck is always on person side in matchup match display (#11308)
  decksite/data/matchup.py
Due: decksite

Add throwback channel to tournament channel check (#11466)
  discordbot/commands/explain.py
  shared/configuration.py
Due: discordbot, shared

Fix inconsistent casing in single-letter-hyphenated deck names (#11320)
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Drop 5-0s column from tournament-only archetype view (#11462)
  decksite/views/archetype.py
Due: decksite

sweep state 2026-09-01T19:59:38Z
  escalations/11291.json
  evidence/11291.json
  evidence/11293.json
  evidence/11308.json
  evidence/11325.json
  evidence/11328.json
  evidence/11329.json
  evidence/11342.json
  evidence/11348.json
  evidence/11384.json
  evidence/11405.json
  evidence/11406.json
  evidence/11410.json
  evidence/11411.json
  evidence/11443.json
  evidence/11444.json
  evidence/11462.json
  evidence/11466.json
  evidence/11566.json
  evidence/11594.json
  evidence/11623.json
  evidence/11625.json
  evidence/11645.json
  evidence/11667.json
  evidence/11677.json
  evidence/11680.json
  evidence/11683.json
  evidence/11685.json
  evidence/11695.json
  evidence/12550.json
  evidence/12559.json
  journal.jsonl
  metrics.json
  snapshot.json
Due: none

Sort accented card names using NFKD normalization (#11631)
  magic/oracle.py
Due: magic

Fix loyalty/power/toughness returning '' instead of NULL for multi-face cards (#11411)
  magic/card.py
Due: magic

Return 400 instead of 500 for missing/invalid since parameter (#11342)
  decksite/controllers/api.py
Due: decksite

Exclude Unclassified and Commander from /metagame archetypes by default (#11639)
  decksite/controllers/api.py
  decksite/controllers/api_test.py
Due: decksite

Use word-boundary REGEXP for type_line searches to fix t:orc finding sorceries (#11677)
  find/find_test.py
  find/search.py
Due: none

Link Matchups heading to /matchups/ calculator (#11307)
  decksite/templates/archetype.mustache
Due: decksite

Hide Person/Opponent columns on /matchups/ when search criteria specifies them (#11304)
  decksite/templates/personmatches.mustache
  decksite/views/matchups.py
Due: decksite

Fix title-case English words like 'Bug' being treated as color abbreviations (#11568)
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Validate color letters in color_where before operator rewriting (#11410)
  find/find_test.py
  find/search.py
Due: none

Add load_people_statless to speed up /matchups/ people dropdown (#11298)
  decksite/controllers/metagame.py
  decksite/data/person.py
Due: decksite

Add alias so 'Minsc and Boo' finds 'Minsc & Boo, Timeless Heroes' (#11443)
  card_aliases.tsv
  magic/whoosh_search_test.py
Due: magic
