Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Cope with the terrible typehints of BeautifulSoup rather than type:ignore-ing
  modo_bugs/fetcher.py
Due: none

Ignore type issues stemming from Beautiful Soup's new(ish) type hints
  modo_bugs/fetcher.py
  modo_bugs/scrape_announcements.py
Due: none

Remove unused type:ignore's
  discordbot/command.py
  discordbot/commands/modobug.py
Due: discordbot

Remove bad line from Pipfile.lock
  Pipfile.lock
Due: none

Put a test back how it should be
  magic/rotation_test.py
Due: magic

Debugging a test that only fails in CI
  magic/rotation.py
Due: magic

Fix type hints again
  discordbot/command.py
  discordbot/commands/modobug.py
Due: discordbot

Remove deprecated settings
  .vscode/settings.json
Due: none

Bring vscode recommendations and settings up to date
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Teach the website and bot about MTGO Super Saturday, wahoo
  decksite/controllers/competitions.py
  decksite/templates/supersaturday.mustache
  decksite/tournament.py
  decksite/views/__init__.py
  decksite/views/super_saturday.py
  magic/tournaments.py
  shared/dtutil_test.py
Due: decksite, magic, shared

Fix test now that API doesn't trigger Cloudflare protection
  magic/rotation_test.py
Due: magic

Mark Super Saturday as special when scraping from Gatherling
  decksite/scrapers/gatherling.py
Due: decksite

Revert "Fix test now that API doesn't trigger Cloudflare protection"
  magic/rotation_test.py
Due: magic

Add MTGO as a sponsor in db
  decksite/sql/75.sql
Due: decksite

Don't show anything to do with Cardhoarder when sponsored by MTGO
  decksite/templates/newtopd.mustache
  decksite/views/super_saturday.py
Due: decksite

mtgbot command for MTGO Super Saturday
  discordbot/commands/supersaturday.py
Due: discordbot

Banner for a week before MTGO Super Saturday
  decksite/templates/kickoffnotice.mustache
  decksite/view.py
Due: decksite

Don't give out Cardhoarder prizes for MTGO Super Saturday
  decksite/views/prizes.py
Due: decksite

Hide sponsor in footer where appropriate
  decksite/templates/footer.mustache
  decksite/view.py
  decksite/views/competition.py
Due: decksite

Fix typo
  maintenance/update_translations.py
Due: none

Update fonts maintenance task to generate an actual woff2 file
  .gitattributes
  .gitignore
  maintenance/fonts.py
  shared_web/static/css/pd.css
  shared_web/static/fonts/sources/NotoEmoji-Regular.ttf
  shared_web/static/fonts/sources/NotoSansHistorical-Regular.ttf
  shared_web/static/fonts/sources/NotoSansJP-Regular.ttf
  shared_web/static/fonts/sources/NotoSansLiving-Regular.ttf
  shared_web/static/fonts/sources/NotoSansSC-Regular.ttf
  shared_web/static/fonts/sources/NotoSansSymbols-Regular.ttf
  shared_web/static/fonts/sources/NotoSansSymbols2-Regular.ttf
  shared_web/static/fonts/sources/Segoe UI Symbol.ttf
  shared_web/static/fonts/sources/Symbola.ttf
  shared_web/static/fonts/sources/main-text.ttf
Due: shared, shared_web

Whitelist a deck name
  decksite/deck_name.py
Due: decksite

Output warning to stderr
  magic/seasons.py
Due: magic

Operate on deck_cache.normalized_name not deck.name as that's what we show
  maintenance/fonts.py
Due: none

Make CSS link to main text work when producing sample output
  maintenance/fonts.py
Due: none

Cache bust generated symbol font
  decksite/templates/header.mustache
  shared_web/base_view.py
Due: decksite, shared, shared_web

Regenerate symbol font if we see a non-latin-1 char in a deck name
  decksite/data/deck.py
Due: decksite

Don't explode if symbols.woff2 doesn't exist
  shared_web/base_view.py
Due: shared, shared_web

Lint recent fonts update stuff
  maintenance/fonts.py
  shared_web/base_view.py
Due: shared, shared_web

Use correct set code for (now revealed) The Last Airbender
  magic/seasons.py
Due: magic

Better typing for menu iterable
  shared_web/menu.py
Due: shared, shared_web

Add the major tournaments to the site menu
  decksite/__init__.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

[download_scryfall_card_image] fix for dfc with version=border_crop
  magic/image_fetcher.py
Due: magic

[templates] revert kickoffnotice changes, add supersaturdaynotice
  decksite/templates/kickoffnotice.mustache
  decksite/templates/supersaturdaynotice.mustache
Due: decksite

Just checking something
  find/find_test.py
Due: none

Don't blank out a deck name because it uses the same color word twice
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Increase contrast in dark mode
  shared_web/static/css/pd.css
Due: shared, shared_web

Colorblind-friendly mana colors for dark mode via Tygrak
  shared_web/static/css/pd.css
Due: shared, shared_web

Don't dim images in dark mode, turns out that's not what people want
  shared_web/static/css/pd.css
Due: shared, shared_web

Teach the bot about the new supplemental rotations
  discordbot/commands/explain.py
Due: discordbot

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
