Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Record sticky metagame sort audit
  journal.jsonl
  snapshot.json
Due: none

Record metagame sort options audit
  journal.jsonl
  snapshot.json
Due: none

Record pre-commit coverage audit
  journal.jsonl
  snapshot.json
Due: none

Record reverted deck-count icon audit
  journal.jsonl
  snapshot.json
Due: none

Record abandoned Discord escaping fix
  journal.jsonl
  snapshot.json
Due: none

Test optional table class names in browser
  decksite/browser_test.py
Due: decksite

Record table class regression test
  journal.jsonl
  snapshot.json
Due: none

Record factor-of-24 grid audit
  journal.jsonl
  snapshot.json
Due: none

Record metagame quality tooltip audit
  journal.jsonl
  snapshot.json
Due: none

Record incomplete number localization audit
  journal.jsonl
  snapshot.json
Due: none

Record key card refactor audit
  journal.jsonl
  snapshot.json
Due: none

Record GitHub news datetime audit
  journal.jsonl
  snapshot.json
Due: none

Record scoped key card query audit
  journal.jsonl
  snapshot.json
Due: none

Record mobile menu hover audit
  journal.jsonl
  snapshot.json
Due: none

Normalize bug report Discord mentions (#5503)
  discordbot/commands/bug.py
  discordbot/commands/bug_test.py
Due: discordbot

Handle decksite outages in resources command
  discordbot/commands/network_io_test.py
  discordbot/commands/resources.py
Due: discordbot

Add show chat explanation
  discordbot/commands/explain.py
  discordbot/commands/explain_test.py
Due: discordbot

Skip businesses in time location searches
  magic/fetcher.py
  magic/fetcher_test.py
Due: magic

Replace checkbox season picker with animated button
  decksite/browser_test.py
  decksite/templates/seasonchooser.mustache
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Add helper to load decks by ID
  decksite/data/deck.py
  decksite/data/deck_test.py
  decksite/data/rule.py
  decksite/data/rule_test.py
Due: decksite

Enforce auth decorator ordering
  decksite/controllers/api.py
  dev.py
  dev_test.py
Due: decksite

Add Open Graph metadata to marquee pages
  decksite/view.py
  decksite/views/metadata_test.py
Due: decksite

Speed up deck sorting with integer ranks
  magic/oracle.py
  magic/oracle_test.py
Due: magic

Add first and last page pagination controls (#6657)
  decksite/browser_test.py
  shared_web/static/css/pd.css
  shared_web/static/js/datamanager.jsx
  shared_web/static/js/grid.jsx
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Add Scryfall link to card details page
  decksite/templates/card.mustache
  decksite/views/card.py
  decksite/views/card_test.py
Due: decksite

Add rule when creating an archetype
  decksite/controllers/admin.py
  decksite/controllers/admin_test.py
  decksite/data/archetype.py
  decksite/data/archetype_test.py
  decksite/templates/editarchetypes.mustache
Due: decksite

Disable sorting for tournament calendar
  decksite/browser_test.py
  shared_web/static/js/pd.js
Due: decksite, shared, shared_web

Show unique player counts in community stats (#1558)
  decksite/data/match.py
  decksite/data/match_test.py
  decksite/views/home.py
  decksite/views/home_test.py
Due: decksite

Add matchup summaries to link previews (#6212)
  decksite/views/matchups.py
  decksite/views/matchups_test.py
Due: decksite

Show competition season and exact dates
  decksite/templates/subtitle.mustache
  decksite/views/competition.py
  decksite/views/competition_test.py
Due: decksite

Roll back database transactions on errors
  decksite/data/archetype.py
  decksite/data/archetype_test.py
  decksite/data/competition.py
  decksite/data/deck.py
  decksite/data/deck_test.py
  decksite/data/elo.py
  decksite/data/match.py
  decksite/data/match_test.py
  decksite/data/person.py
  decksite/data/rotation.py
  decksite/data/rule.py
  decksite/scrapers/gatherling.py
  magic/multiverse.py
  price_grabber/price.py
  price_grabber/price_grabber.py
  shared/database.py
  shared/database_test.py
Due: decksite, magic, price_grabber, shared

Add seeit preview command for agents
  .claude/commands/seeit.md
  .conductor/README.md
Due: none

Tailor Open Graph descriptions for marquee pages
  decksite/views/about.py
  decksite/views/competitions.py
  decksite/views/league_info.py
  decksite/views/metadata_test.py
  decksite/views/metagame.py
  decksite/views/resources.py
  decksite/views/tournaments.py
Due: decksite

Compact competition metadata
  decksite/templates/subtitle.mustache
  decksite/views/competition_test.py
Due: decksite

Validate archetype rules before creation
  decksite/controllers/admin.py
  decksite/controllers/admin_test.py
  decksite/data/rule.py
  decksite/data/rule_test.py
  decksite/templates/editarchetypes.mustache
  decksite/views/edit_archetypes.py
Due: decksite

Share preview workflow as a Codex skill
  .agents/skills/seeit/SKILL.md
  .claude/commands/seeit.md
  .conductor/README.md
Due: none

Keep archetype form errors in view
  decksite/controllers/admin_test.py
  decksite/templates/editarchetypes.mustache
Due: decksite

Validate archetype creation fields
  decksite/controllers/admin.py
  decksite/controllers/admin_test.py
  decksite/data/archetype.py
  decksite/data/archetype_test.py
  decksite/templates/editarchetypes.mustache
  decksite/views/edit_archetypes.py
Due: decksite

Refine pagination controls
  decksite/browser_test.py
  shared_web/static/css/pd.css
  shared_web/static/js/grid.jsx
  shared_web/static/js/pagination.jsx
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Add safe cloud Discord test runner
  .conductor/README.md
  .conductor/discordbot-cloud.sh
  .conductor/settings.toml
  AGENTS.md
  discordbot/background.py
  discordbot/background_test.py
  discordbot/bot.py
  discordbot/bot_test.py
  discordbot/commands/mos_league.py
  discordbot/commands/sync.py
  magic/fetcher.py
  magic/fetcher_test.py
  shared/configuration.py
  shared/configuration_test.py
  shared/settings.py
  shared/settings_test.py
Due: discordbot, magic, shared
