Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Avoid type issue with pyhumps upgrade by making a new func for camelized output
  decksite/controllers/api.py
  shared_web/api.py
Due: decksite, shared, shared_web

Fix default value for flask menu
  shared_web/flask_app.py
Due: shared, shared_web

Re-enable !swiss
  discordbot/commands/swiss.py
Due: discordbot

Use my common framework and its vastly improved Sentry wrapper
  Pipfile
  discordbot/bot.py
Due: discordbot

Remove unused import
  discordbot/bot.py
Due: discordbot

Lockfile
  Pipfile.lock
Due: none

Whoo, rotation issues!
  magic/seasons.py
Due: magic

*screams*
  magic/seasons.py
Due: magic

A much better fix for the issue we saw tonight
  magic/seasons.py
Due: magic

SNC setcode
  magic/seasons.py
Due: magic

Catch error if Github credentials are revoked
  decksite/data/news.py
Due: decksite

Add EU Wednesdays
  magic/tournaments.py
  shared/dtutil.py
Due: magic, shared

Correct import for timestamp_converter
  discordbot/bot.py
Due: discordbot

Typing for inflect
  decksite/view.py
  magic/tournaments.py
  shared/dtutil.py
Due: decksite, magic, shared

Handle TestFailedException, so we don't have 40 lines of traceback for a single line of linter warning
  dev.py
Due: none

ISSUE-9819 - Guarded the Download, Buy, and Decklist source while the deck is_in_current_run since each exposes the decklist.
  decksite/templates/buttons.mustache
Due: decksite

ISSUE-9820 - Not a solution for the lack of gzipping, but a stopgap if you can't get around to figuring out why that endpoint isn't zipped.
  Pipfile
  Pipfile.lock
  docker_dev/mysql/dev-db.sh
Due: none

Add EU Wednesdays to the decksite db, so it can be scraped
  decksite/sql/63.sql
Due: decksite

Improve bot startup
  discordbot/bot.py
Due: discordbot

Fix emoji
  discordbot/emoji.py
Due: discordbot

Fix explain
  discordbot/commands/explain.py
Due: discordbot

Make !quality work again
  discordbot/commands/quality.py
Due: discordbot

Use Context in /mana
  discordbot/commands/mana.py
Due: discordbot

Fix /p1p1
  discordbot/command.py
  discordbot/commands/p1p1.py
Due: discordbot

Linting
  discordbot/commands/debug.py
  discordbot/commands/p1p1.py
  discordbot/commands/version.py
  discordbot/functional_test.py
Due: discordbot

More linting
  discordbot/commands/debug.py
  magic/multiverse.py
Due: discordbot, magic

Even more linting
  discordbot/bot.py
  discordbot/commands/__init__.py
  discordbot/commands/configure.py
  discordbot/commands/debug.py
  discordbot/functional_test.py
  discordbot/shared.py
Due: discordbot

The more I dig, the more errors I find
  discordbot/bot.py
  discordbot/command.py
  discordbot/functional_test.py
  discordbot/shared.py
Due: discordbot

I think this is the last one for now
  discordbot/bot.py
  discordbot/functional_test.py
Due: discordbot

More improvements to bot startup
  discordbot/bot.py
Due: discordbot

Smarter banner
  decksite/main.py
  magic/models/card.py
Due: decksite, magic

Traps no longer contribute to deck colour
  decksite/data/deck.py
Due: decksite

Turn off codecov patch coverage
  .codecov.yml
Due: none

The background image in the banner always looks better when we're not using a scan.
  decksite/main.py
  hq_artcrops.json
  magic/fetcher.py
  magic/image_fetcher.py
Due: decksite, magic

Whitelist some deck names.
  decksite/deck_name.py
Due: decksite

Fix new B020 check (and also optimize loop)
  decksite/view.py
Due: decksite

Bot improvements
  discordbot/bot.py
  discordbot/commands/bug.py
  discordbot/functional_test.py
Due: discordbot

Use SendableContext from dis-taipan
  discordbot/command.py
  discordbot/commands/__init__.py
  discordbot/shared.py
Due: discordbot

I forgot about the unused imports
  discordbot/shared.py
Due: discordbot
