Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

I am a fool
  discordbot/bot.py
Due: discordbot

Add draftsim article to resources page
  decksite/resources.json
Due: decksite

Actually check the naff version
  discordbot/commands/version.py
Due: discordbot

Scryfall API is returning a HTML 503 timeout page. This is very not good
  magic/fetcher.py
Due: magic

from e
  magic/fetcher.py
Due: magic

Revert "Bump types-redis from 4.3.9 to 4.3.12"
  Pipfile.lock
Due: none

Pin Werkzeug until flask-restx can support the latest version
  .gitignore
  Pipfile
  Pipfile.lock
Due: none

Fix modo-bugs code
  modo_bugs/fetcher.py
  modo_bugs/main.py
  modo_bugs/scrape_announcements.py
Due: none

More resilience
  modo_bugs/fetcher.py
Due: none

typing
  modo_bugs/fetcher.py
  modo_bugs/scrape_announcements.py
Due: none

Don't block dependency updates because typings become correct
  dev.py
  mypy.ini
Due: none

Appease mypy
  discordbot/commands/configure.py
Due: discordbot

Appease new Flake8 warnings
  dev.py
  discordbot/commands/explain.py
  logsite/views/__init__.py
Due: discordbot

Add Brothers War to known set codes
  magic/seasons.py
Due: magic

Remove unused type: ignore comments, for mypy
  discordbot/bot.py
Due: discordbot

Clean up background tasks a bits
  discordbot/bot.py
Due: discordbot

Remove Tuesdays, and refactor tournaments to improve on #10068
  magic/tournaments.py
Due: magic

They resurrected Ertai, and it broke our tests
  discordbot/unit_test.py
Due: discordbot

Re-enable sentry integration
  discordbot/bot.py
Due: discordbot

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Discord Banner, and cleanup of reboot command
  decksite/controllers/__init__.py
  decksite/controllers/api.py
  decksite/controllers/banners.py
  decksite/controllers/metagame.py
  decksite/controllers/resources.py
  decksite/main.py
  discordbot/background.py
  discordbot/bot.py
  discordbot/commands/restartbot.py
  magic/fetcher.py
  magic/image_fetcher.py
Due: decksite, discordbot, magic

Linting
  decksite/controllers/banners.py
  decksite/main.py
  discordbot/background.py
Due: decksite, discordbot

oops
  discordbot/background.py
Due: discordbot

/dreadrise has some required arguments
  discordbot/commands/drc.py
Due: discordbot

Discord Banner should have lower cards, so it doesn't overlap the server name
  magic/image_fetcher.py
Due: magic

Make Tournament announcements work again
  discordbot/background.py
  discordbot/bot.py
Due: discordbot

Split events and reminders
  discordbot/background.py
Due: discordbot

Fix and refactor hype message
  discordbot/background.py
  discordbot/bot.py
  discordbot/commands/hype.py
  magic/rotation.py
Due: discordbot, magic

Remove extra whitespace
  discordbot/background.py
Due: discordbot

Clear redis cache when calling hype command
  discordbot/commands/hype.py
Due: discordbot

Always report hype message even if there are no new hits etc.
  magic/rotation.py
Due: magic

fix #10063 and the datro bug
  discordbot/commands/drc.py
Due: discordbot

Determine league name more sanely
  decksite/league.py
  decksite/league_test.py
Due: decksite

HQ Vines of Vastwood
  hq_artcrops.json
Due: none

Improve Rotation Background task
  discordbot/background.py
Due: discordbot

Fix docker-compose decksite
  Dockerfile
  docker-compose.yml
Due: none

HQ bop while we're at it
  hq_artcrops.json
Due: none

Deduplicate card autocomplete.
  discordbot/command.py
Due: discordbot

Make migration prefixed commands more obnoxious, and disable the buggy !price entirely
  discordbot/command.py
  discordbot/commands/price.py
  discordbot/commands/tournament.py
Due: discordbot
