Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

readme: list local ports for docker compose environment
  README.md
Due: none

ci(Mergify): configuration update
  .mergify.yml
Due: none

Thousands of errors here daily, full investigation later
  logsite/api.py
Due: none

[decksite/deck_name#file_name] add fallback if no safe characters
  decksite/deck_name.py
Due: decksite

[docker-compose] add a persistent volume for the database
  docker-compose.yml
Due: none

[deck_name#file_name] use anyascii to generate safe filenames
  decksite/deck_name.py
Due: decksite

Do db backup via socket not via TCP
  maintenance/dev_db.py
  shared/configuration.py
Due: shared

Switch off deprecated name for dump command
  maintenance/dev_db.py
Due: none

[docker] simplify dockerfile, add separate assets builder to compose
  Dockerfile
  docker-compose.yml
Due: none

Add Spider-Man to magic.seasons.SEASONS
  magic/seasons.py
Due: magic

Workaround a temporary scryfall issue
  magic/multiverse.py
Due: magic

Remove special case code for playtest cards, we exclude those en masse now
  magic/multiverse.py
Due: magic

Update test now that Inferno Fist uses "sacrifice this Aura" not "sacrifice ~"
  find/find_test.py
Due: none

WGD alias
  card_aliases.tsv
Due: none

Fix a bunch of stuff now that oracle rules text doesn't use tildes so much
  find/find_test.py
  find/search.py
Due: none

Readd supplemental rotations
  magic/rotation.py
  magic/seasons.py
  rotation_script/rotation_script.py
Due: magic

type checking
  Pipfile
  magic/rotation.py
  magic/seasons.py
  modo_bugs/update.py
  rotation_script/rotation_script.py
Due: magic

lint
  magic/seasons.py
Due: magic

I'm confused
  modo_bugs/update.py
Due: none

More robots.txt stuff
  shared_web/static/robots.txt
Due: shared, shared_web

[download_scryfall_card_image] fix double-sided images when not JPG
  magic/image_fetcher.py
Due: magic

[paste_card] don't use download_scryfall_png for banner composition
  magic/image_fetcher.py
Due: magic

scoped bot command for premodern league
  discordbot/commands/mos_league.py
  discordbot/commands/whois.py
Due: discordbot

lint
  discordbot/commands/mos_league.py
  discordbot/commands/whois.py
Due: discordbot

No clue if bots will respect this, but let's try
  decksite/templates/language_switcher.mustache
Due: decksite

More linting
  discordbot/commands/mos_league.py
Due: discordbot

More cleanup
  discordbot/commands/mos_league.py
  magic/fetcher.py
Due: discordbot, magic

[templates/deckmatches] don't make BYE rows js-clickable
  decksite/templates/deckmatches.mustache
Due: decksite

[prepare_matches] set BYE deck names to '-'
  decksite/prepare.py
Due: decksite

Revert "Workaround a temporary scryfall issue"
  magic/multiverse.py
Due: magic

Update rotation_test.py
  magic/rotation_test.py
Due: magic

fix bug
  discordbot/commands/mos_league.py
Due: discordbot

Whitelist a deck name that gets mistaken for a versioned deck name
  decksite/deck_name.py
Due: decksite

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

Ignore type issues stemming from Beautiful Soup's new(ish) type hints
  modo_bugs/fetcher.py
  modo_bugs/scrape_announcements.py
Due: none

Interactions.py typing fixes
  .flake8
  discordbot/background.py
  discordbot/command.py
  discordbot/commands/modobug.py
  discordbot/commands/sync.py
  discordbot/generate_readme.py
  docker-compose.yml
Due: discordbot

linting
  discordbot/command.py
  pyproject.toml
Due: discordbot

Re-teach rotation command about supplemental rotations
  magic/seasons.py
Due: magic

Update to eslint 9 config format, tweak a few things to make it work
  .eslintrc.js
  dev.py
  eslint.config.mjs
  package-lock.json
  package.json
  shared_web/static/js/datamanager.jsx
  shared_web/static/js/grid.jsx
  shared_web/static/js/pd.js
  shared_web/static/js/table.jsx
Due: shared, shared_web
