Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Output to the log when issue creation fails
  shared/repo.py
Due: shared

Try and fix codecov stalls
  .github/workflows/build.yml
Due: none

Don't include modal dfcs when determining a deck's colors
  decksite/data/deck.py
  decksite/data/deck_test.py
Due: decksite

Temporarily disable codecov
  dev.py
Due: none

Enforce singleton and 100 cards for Duel commander legality
  magic/legality.py
  magic/legality_test.py
Due: magic

Seasonize decks, competitions, leaderboards
  decksite/data/achievements.py
  decksite/data/competition.py
  decksite/prepare.py
Due: decksite

Only show the "start from a recent deck" dropdown if you have a recent deck
  decksite/league.py
  decksite/templates/deckcheck.mustache
  decksite/templates/signup.mustache
Due: decksite

Try reenabling codecov
  dev.py
Due: none

Standardize on using a bullet to join lists of card names
  discordbot/command.py
  discordbot/commands/explain.py
  magic/image_fetcher.py
  magic/rotation.py
  magic/rotation_test.py
Due: discordbot, magic

Verbose codecov for debugging
  dev.py
Due: none

More codecov debug stuff
  codecov2.sh
  dev.py
Due: none

More debug
  codecov2.sh
Due: none

Debug
  codecov2.sh
Due: none

Debug less to see HTTP error more clearly, maybe
  codecov2.sh
  dev.py
Due: none

Mark the PD500, Kick Off, and season champs as special, show past winners
  decksite/controllers/api.py
  decksite/data/clauses.py
  decksite/data/deck_test.py
  decksite/sql/71.sql
  decksite/templates/kickoff.mustache
  decksite/templates/livedecktable.mustache
  decksite/templates/pd500.mustache
  decksite/tournament.py
  decksite/views/kickoff.py
  decksite/views/pd500.py
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Improve spacing in card results when no price present
  discordbot/command.py
Due: discordbot

Space additional results text correctly
  discordbot/commands/search.py
Due: discordbot

Fix bug I created in logs when hiding from non-admins
  logsite/templates/match.mustache
Due: none

Fix issues with achievements that should show other people's decks
  decksite/data/clauses.py
Due: decksite

Make sideboard cards count 20% of a deck towards playability/rank not zero
  decksite/data/playability.py
Due: decksite

Don't include Damn in card colors as you might only be using the overload
  decksite/data/deck.py
Due: decksite

Mark the 500 and Kick Offs as special at scrape time
  decksite/data/competition.py
  decksite/scrapers/gatherling.py
Due: decksite

Lint
  decksite/data/playability.py
Due: decksite

Improve the display and speed of /rotation/changes
  decksite/controllers/api.py
  decksite/controllers/metagame.py
  decksite/controllers/resources.py
  decksite/data/card.py
  decksite/data/clauses.py
  decksite/data/clauses_test.py
  decksite/templates/buttons.mustache
  decksite/templates/cards.mustache
  decksite/templates/changesdownloads.mustache
  decksite/templates/livecardtable.mustache
  decksite/templates/rotation.mustache
  decksite/templates/rotationchanges.mustache
  decksite/templates/rotationkey.mustache
  decksite/templates/rotationspeculation.mustache
  decksite/templates/scryfallfilter.mustache
  decksite/templates/singlecard.mustache
  decksite/view.py
  decksite/views/__init__.py
  decksite/views/cards.py
  decksite/views/rotation_changes.py
  decksite/views/rotation_speculation.py
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Better error messages for illegal formats
  find/search.py
Due: none

Remove rotation key, replace with mouseover help
  decksite/templates/rotation.mustache
  shared_web/static/css/pd.css
  shared_web/static/js/rotationtable.jsx
Due: decksite, shared, shared_web

Add a report link to status bar when signed in with active league run
  shared_web/static/js/pd.js
Due: shared, shared_web

Always set the value of t before using t
  find/search.py
Due: none

Support 'has' in Scryfall-like search
  find/search.py
Due: none

Prefer exact set matches over partial matches in bot set preference
  magic/oracle.py
Due: magic

Store Scryfall's oracle_id in cards db and emit it in /api/cardfeed
  decksite/controllers/api.py
  decksite/controllers/resources.py
  magic/abc/card_description.py
  magic/card.py
  magic/database.py
  magic/multiverse.py
Due: decksite, magic

Support produces: in card search
  find/find_test.py
  find/search.py
  magic/abc/card_description.py
  magic/database.py
  magic/multiverse.py
Due: magic

Upgrade to Python 3.12
  .github/workflows/build.yml
  .github/workflows/isort.yml
  .github/workflows/repip.yml
  Dockerfile
  Pipfile
  Pipfile.lock
  README.md
Due: none

Move shared.types to type - conflict with stdlib types under docker/py3.12
  discordbot/commands/modobug.py
  magic/fetcher.py
  modo_bugs/update.py
  shared/type.py
Due: discordbot, magic, shared

Add manabase generator, hidden from the menu for now
  Pipfile
  Pipfile.lock
  decksite/controllers/resources.py
  decksite/data/form.py
  decksite/form.py
  decksite/league.py
  decksite/manabase.py
  decksite/templates/deckcheck.mustache
  decksite/templates/decklistinput.mustache
  decksite/templates/manabase.mustache
  decksite/templates/recentdecks.mustache
  decksite/templates/signup.mustache
  decksite/views/__init__.py
  decksite/views/admin_retire.py
  decksite/views/deck_check.py
  decksite/views/decklist_form.py
  decksite/views/league_form.py
  decksite/views/manabase.py
  decksite/views/report.py
  decksite/views/retire.py
  decksite/views/signup.py
Due: decksite

Revert "Add manabase generator, hidden from the menu for now"
  Pipfile
  Pipfile.lock
  decksite/controllers/resources.py
  decksite/data/form.py
  decksite/form.py
  decksite/league.py
  decksite/manabase.py
  decksite/templates/deckcheck.mustache
  decksite/templates/decklistinput.mustache
  decksite/templates/manabase.mustache
  decksite/templates/recentdecks.mustache
  decksite/templates/signup.mustache
  decksite/views/__init__.py
  decksite/views/admin_retire.py
  decksite/views/deck_check.py
  decksite/views/decklist_form.py
  decksite/views/league_form.py
  decksite/views/manabase.py
  decksite/views/report.py
  decksite/views/retire.py
  decksite/views/signup.py
Due: decksite

Revert "Move shared.types to type - conflict with stdlib types under docker/py3.12"
  discordbot/commands/modobug.py
  magic/fetcher.py
  modo_bugs/update.py
  shared/types.py
Due: discordbot, magic, shared

Revert "Upgrade to Python 3.12"
  .github/workflows/build.yml
  .github/workflows/isort.yml
  .github/workflows/repip.yml
  Dockerfile
  Pipfile
  Pipfile.lock
  README.md
Due: none

Revert "Revert "Upgrade to Python 3.12""
  .github/workflows/build.yml
  .github/workflows/isort.yml
  .github/workflows/repip.yml
  Dockerfile
  Pipfile
  Pipfile.lock
  README.md
Due: none
