Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Show a meta share history graph on /seasons/all/archetypes/{archetype}
  decksite/controllers/metagame.py
  decksite/data/archetype.py
  decksite/templates/archetype.mustache
  decksite/views/archetype.py
Due: decksite

Account for season 1 in total matches query, which had no tournaments
  decksite/data/archetype.py
Due: decksite

Add Home to menu as top-level item
  decksite/__init__.py
Due: decksite

Mark both menu items and submenu items as current if you are on that page
  decksite/__init__.py
Due: decksite

Add missing tr from table head
  decksite/templates/competitions.mustache
Due: decksite

Move nav outside of the page content for new menu
  decksite/templates/footer.mustache
  decksite/templates/header.mustache
Due: decksite

Apparently mustache comments don't end with an asterisk, just start with one
  decksite/templates/footer.mustache
Due: decksite

Re-jig menu and language switcher HTML for move to new menu style
  decksite/templates/language_switcher.mustache
  decksite/templates/menu.mustache
  logsite/templates/menu.mustache
Due: decksite

Work around Chrome/iOS and Safari issues by merging all our symbol fonts
  maintenance/fonts.py
Due: none

Fix a snafu where the Meyer reset was incorrectly updated to use a var
  shared_web/static/css/pd.css
Due: shared, shared_web

CSS changes for the new menu
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: shared, shared_web

Lint
  decksite/__init__.py
  maintenance/fonts.py
Due: decksite

Add missing semicolon
  shared_web/static/js/pd.js
Due: shared, shared_web

Make the menu less ugly of Win/Firefox when it doesn't need to scroll
  shared_web/static/css/pd.css
Due: shared, shared_web

Escape % signs correctly in text searches
  decksite/data/clauses.py
Due: decksite

Status bar is being hidden by some Android browsers
  shared_web/static/css/pd.css
Due: shared, shared_web

Bring logs into line with new menu style
  logsite/templates/footer.mustache
  logsite/templates/header.mustache
  logsite/templates/menu.mustache
  shared_web/static/css/pd.css
Due: shared, shared_web

Show admin menu for demimods
  decksite/__init__.py
  decksite/controllers/admin.py
  decksite/templates/footer.mustache
  decksite/templates/menu.mustache
Due: decksite

Improve the status bar's behavior in narrow and short screens
  shared_web/static/css/pd.css
Due: shared, shared_web

Improve season chooser spacing and semantics
  decksite/templates/buttons.mustache
  decksite/templates/seasonchooser.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Refactor site menu into dataclasses
  decksite/__init__.py
  decksite/controllers/admin.py
  decksite/views/admin.py
  logsite/__init__.py
  shared_web/menu.py
Due: decksite, shared, shared_web

Make Past Seasons show as current when you're on that page
  shared_web/menu.py
Due: shared, shared_web

Use source maps in dev js build for better debugging
  README.md
  decksite/webpack.config.js
Due: decksite

Don't break the archetype sorting badge
  decksite/templates/menu.mustache
  shared_web/menu.py
Due: decksite, shared, shared_web

Add the scrim color to the site colors officially
  shared_web/static/css/pd.css
Due: shared, shared_web

Update exciting cards list in /about/pd, and use bullets not commas
  decksite/templates/about.mustache
  decksite/views/about.py
Due: decksite

Add WotC standard disclaimer to logsite and decksite
  decksite/templates/footer.mustache
  logsite/templates/footer.mustache
Due: decksite

Add scrim to logsite, it's needed to make the mobile menu dismissable
  logsite/templates/footer.mustache
Due: none

Determine a deck's colors in a more sophisticated way
  magic/colors.py
  magic/colors_test.py
Due: magic

Switch to using ch units not (r)em for line width
  decksite/templates/bugs.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Clean up display of /bugs
  shared_web/static/css/pd.css
Due: shared, shared_web

Add types
  magic/colors.py
Due: magic

Lint
  decksite/views/about.py
  magic/colors_test.py
Due: decksite, magic

Speed up /admin/archetypes
  decksite/sql/72.sql
  decksite/views/edit_archetypes.py
Due: decksite

Fix test now that find_colors works differently
  decksite/data/deck_test.py
Due: decksite

Fix chart font on Safari
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: shared, shared_web

Make search work with new Menu/MenuItem structure
  decksite/controllers/api.py
Due: decksite

Use a good name for language menu hover text color change
  shared_web/static/css/pd.css
Due: shared, shared_web

Put the scrim above the status bar and below the menu drawer
  shared_web/static/css/pd.css
Due: shared, shared_web

Highlight table rows on hover
  shared_web/static/css/pd.css
Due: shared, shared_web

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
