Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Revert "Revert "Move shared.types to type - conflict with stdlib types under docker/py3.12""
  discordbot/commands/modobug.py
  magic/fetcher.py
  modo_bugs/update.py
  shared/type.py
Due: discordbot, magic, shared

Revert "Revert "Add manabase generator, hidden from the menu for now""
  Pipfile
  Pipfile.lock
  decksite/controllers/resources.py
  decksite/data/form.py
  decksite/form.py
  decksite/league.py
  decksite/manabase.py
  decksite/templates/deckcheck.mustache
  decksite/templates/decklistinput.mustache
  decksite/templates/manabase.mustache
  decksite/templates/recentdecks.mustache
  decksite/templates/signup.mustache
  decksite/views/__init__.py
  decksite/views/admin_retire.py
  decksite/views/deck_check.py
  decksite/views/decklist_form.py
  decksite/views/league_form.py
  decksite/views/manabase.py
  decksite/views/report.py
  decksite/views/retire.py
  decksite/views/signup.py
Due: decksite

Update pre-commit with `add-trailing-comma`, as that's the recommended alternative to the now-removed flake8-commas
  .pre-commit-config.yaml
Due: none

Revert "Revert "Revert "Add manabase generator, hidden from the menu for now"""
  Pipfile
  Pipfile.lock
  decksite/controllers/resources.py
  decksite/data/form.py
  decksite/form.py
  decksite/league.py
  decksite/manabase.py
  decksite/templates/deckcheck.mustache
  decksite/templates/decklistinput.mustache
  decksite/templates/manabase.mustache
  decksite/templates/recentdecks.mustache
  decksite/templates/signup.mustache
  decksite/views/__init__.py
  decksite/views/admin_retire.py
  decksite/views/deck_check.py
  decksite/views/decklist_form.py
  decksite/views/league_form.py
  decksite/views/manabase.py
  decksite/views/report.py
  decksite/views/retire.py
  decksite/views/signup.py
Due: decksite

Revert "Revert "Revert "Move shared.types to type - conflict with stdlib types under docker/py3.12"""
  discordbot/commands/modobug.py
  magic/fetcher.py
  modo_bugs/update.py
  shared/types.py
Due: discordbot, magic, shared

Revert "Revert "Revert "Upgrade to Python 3.12"""
  .github/workflows/build.yml
  .github/workflows/isort.yml
  .github/workflows/repip.yml
  Dockerfile
  Pipfile
  Pipfile.lock
  README.md
Due: none

Revert "Revert "Revert "Revert "Add manabase generator, hidden from the menu for now""""
  Pipfile
  Pipfile.lock
  decksite/controllers/resources.py
  decksite/data/form.py
  decksite/form.py
  decksite/league.py
  decksite/manabase.py
  decksite/templates/deckcheck.mustache
  decksite/templates/decklistinput.mustache
  decksite/templates/manabase.mustache
  decksite/templates/recentdecks.mustache
  decksite/templates/signup.mustache
  decksite/views/__init__.py
  decksite/views/admin_retire.py
  decksite/views/deck_check.py
  decksite/views/decklist_form.py
  decksite/views/league_form.py
  decksite/views/manabase.py
  decksite/views/report.py
  decksite/views/retire.py
  decksite/views/signup.py
Due: decksite

Update client dependencies.
  shared_web/templates/jsdependencies.mustache
Due: shared, shared_web

Remove old chart image generation in favor of Chart.js
  .gitignore
  .isort.cfg
  decksite/charts/chart.py
  decksite/main.py
  decksite/prepare.py
  decksite/templates/deck.mustache
  decksite/templates/deckembed.mustache
  decksite/views/deck.py
  decksite/views/person.py
  shared/configuration.py
  shared_web/jsdependencies.txt
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
  shared_web/templates/jsdependencies.mustache
Due: decksite, shared, shared_web

Recent chnages to charts adversely affected logsite, correct
  shared_web/static/js/charts.js
  shared_web/static/js/pd.js
Due: shared, shared_web

Try reenabling codecov
  dev.py
Due: none

Defend against decks that have no cards or are all lands in chart generation
  decksite/views/deck.py
  decksite/views/person.py
Due: decksite

Update font documentation in CSS, use variables for font-family
  shared_web/static/css/pd.css
Due: shared, shared_web

Add brotli as a dev dependency as it is required for the fonts maintenance task
  Pipfile
  Pipfile.lock
Due: none

Bring isort into line with our "we don't really have a max line length" policy
  .isort.cfg
  decksite/controllers/admin.py
  decksite/controllers/api.py
  decksite/controllers/competitions.py
  decksite/controllers/metagame.py
  decksite/controllers/resources.py
  decksite/league.py
  decksite/manabase.py
  discordbot/command.py
  discordbot/commands/__init__.py
  discordbot/commands/drc.py
  discordbot/commands/explain.py
  discordbot/shared.py
  magic/fetcher.py
  magic/oracle.py
  magic/whoosh_constants.py
  shared/configuration.py
  shared/database.py
  shared_web/flask_app.py
Due: decksite, discordbot, magic, shared, shared_web

Fix a bad test annotation
  find/find_test.py
Due: none

Remove deprecated (in Python 3.12) function calls
  shared/dtutil.py
  shared/dtutil_test.py
Due: shared

Minor improvement to tournaments mention of 500/kick off
  decksite/templates/tournaments.mustache
  decksite/views/tournaments.py
  shared/dtutil.py
  shared/dtutil_test.py
Due: decksite, shared

Fix emoji on Safari and iOS/Chrome, fix font on iOS/Chrome charts
  shared_web/static/css/pd.css
Due: shared, shared_web

Fix /sync of achievements
  decksite/data/achievements.py
  discordbot/commands/sync.py
Due: decksite, discordbot

Add scipy as a dependency, we use it for /odds command
  Pipfile
  Pipfile.lock
Due: none

Highlight cards that are/were newly-legal on /rotation/changes
  decksite/prepare.py
  shared_web/static/css/pd.css
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Replace load_decks_count with a COUNT(*) OVER () query
  decksite/controllers/about.py
  decksite/controllers/api.py
  decksite/controllers/competitions.py
  decksite/data/achievements.py
  decksite/data/competition.py
  decksite/data/deck.py
  decksite/data/matchup.py
  decksite/data/models/person.py
  decksite/data/rule.py
  decksite/league.py
  decksite/views/edit_archetypes.py
  maintenance/deck_hash.py
  maintenance/gatherling_substitutions.py
  maintenance/guess_league_archetypes.py
Due: decksite

Use COUNT(*) OVER () to get totals instead of separate queries
  decksite/controllers/admin.py
  decksite/controllers/api.py
  decksite/controllers/metagame.py
  decksite/data/competition.py
  decksite/data/elo.py
  decksite/data/match.py
  decksite/data/matchup.py
  decksite/data/person.py
  decksite/data/rotation.py
  decksite/scrapers/gatherling_test.py
  maintenance/elo.py
  maintenance/typeahead.py
Due: decksite

Get total results when fetching slice of results for cards
  decksite/controllers/api.py
  decksite/controllers/metagame.py
  decksite/data/card.py
  decksite/main.py
Due: decksite

Fix a type in our js
  shared_web/static/js/table.jsx
Due: shared, shared_web

Debounce card mouseover preload requests on pages other than the first
  shared_web/static/js/table.jsx
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Don't allow commit to master
  .pre-commit-config.yaml
Due: none

Only load the number of cards we need on the homepage
  decksite/main.py
Due: decksite

Preload images for cards from top-left not bottom-right
  shared_web/static/js/tooltips.js
Due: shared, shared_web

Put line heights and font sizes into CSS variables
  decksite/templates/tournamenthosting.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

New, more-compact season picker
  decksite/templates/seasonchooser.mustache
  decksite/view.py
  decksite/views/person.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Disallow text selection of pagination arrows
  shared_web/static/css/pd.css
Due: shared, shared_web

Remove some browser-prefixed CSS stuff that's now widely supported
  shared_web/static/css/pd.css
Due: shared, shared_web

Make four space indent consistent in our CSS
  shared_web/static/css/pd.css
Due: shared, shared_web

Give the site a bit more depth
  decksite/templates/achievements.mustache
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Disable illegal seasons (card) or unplayed seasons (person) in season picker
  decksite/templates/seasonchooser.mustache
  decksite/view.py
  decksite/views/person.py
  shared_web/static/css/pd.css
Due: decksite, shared, shared_web

Refactor Table into DataManager and Table for reuse by new Grid
  shared_web/static/js/datamanager.jsx
  shared_web/static/js/table.jsx
Due: shared, shared_web

Change /metagame to be a grid of tiles representing each archetype
  decksite/controllers/api.py
  decksite/controllers/metagame.py
  decksite/data/archetype.py
  decksite/data/clauses.py
  decksite/data/deck.py
  decksite/data/playability.py
  decksite/prepare.py
  decksite/templates/archetypesearch.mustache
  decksite/templates/deckrow.mustache
  decksite/templates/editarchetypes.mustache
  decksite/templates/editrules.mustache
  decksite/templates/metagame.mustache
  decksite/view.py
  decksite/views/archetype.py
  decksite/views/metagame.py
  decksite/webpack.config.js
  magic/colors.py
  shared_web/static/css/pd.css
  shared_web/static/js/datamanager.jsx
  shared_web/static/js/decktable.jsx
  shared_web/static/js/grid.jsx
  shared_web/static/js/metagamegrid.jsx
  shared_web/static/js/pd.js
  shared_web/static/js/rotationtable.jsx
  shared_web/static/js/table.jsx
  shared_web/static/js/tooltips.js
Due: decksite, magic, shared, shared_web

Use number of matches not number of decks for all meta share concerns
  decksite/data/archetype.py
  decksite/data/clauses.py
  shared_web/static/js/metagamegrid.jsx
Due: decksite, shared, shared_web

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
