Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Do not attempt to re-cache emoji for an hour regardless of result
  discordbot/emoji.py
Due: discordbot

Cache all emoji when we query the server, not just the one you asked for
  discordbot/emoji.py
Due: discordbot

Fill the cache with all emoji, rather than just those of the last server it joined
  discordbot/emoji.py
Due: discordbot

Refactor image_fetcher to reduce code duplication
  magic/image_fetcher.py
Due: magic

Abrupt Decay hq image
  hq_artcrops.json
  magic/image_fetcher.py
Due: magic

A couple more banner cards from previous seasons
  hq_artcrops.json
Due: none

Don't return "1" for all time number of decks for folks with 0 decks
  decksite/data/person.py
Due: decksite

Remove failing test - it doesn't really make sense to hardcode a format id
  find/find_test.py
Due: none

Shift x position with each card we paste in an image
  magic/image_fetcher.py
Due: magic

Enters the battlefield is (mostly) no more
  find/find_test.py
  find/search.py
Due: none

Some recent update has made this type: ignore unnecessary now
  modo_bugs/update.py
Due: none

Look for companions in sideboard and not main deck in archetype rules
  decksite/data/rule.py
  decksite/sql/74.sql
Due: decksite

Use the highest number of runs from this season for calculations, not all time
  decksite/data/rotation.py
Due: decksite

Refuse to proceed with rotation script if URLs are not congfigured
  rotation_script/rotation_script.py
Due: none

Lighter rotation cache bust via API to avoid timeouts
  decksite/data/rotation.py
Due: decksite

Support is:historic in search, for Monumental Henge
  find/find_test.py
  find/search.py
Due: none

Top aliases
  card_aliases.tsv
Due: none

Say how many runs before the next confirmed cards in hype message
  magic/rotation.py
Due: magic

Support odd/even in math operations in card search
  find/find_test.py
  find/search.py
Due: none

Exclude a bunch of terrible playtest cards from the db, for sanity
  magic/multiverse.py
  magic/whoosh_write.py
Due: magic

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

Avoid issue creation being rejected by github by truncating overly long values
  shared/repo.py
Due: shared

Rename custom types module to avoid name collision
  discordbot/commands/modobug.py
  magic/fetcher.py
  modo_bugs/update.py
  shared/custom_types.py
Due: discordbot, magic, shared

Remove obsolete docker version param
  docker-compose.yml
Due: none

Better docker setup instructions
  README.md
Due: none

Use the correct pypi name for interactions.py
  Pipfile
  Pipfile.lock
  shared/fetch_tools.py
Due: shared

Try and figure out where charts 404s are coming from
  shared_web/flask_app.py
Due: shared, shared_web

Move price serving to port 8080 on new box
  magic/fetcher.py
  price_grabber/srv_prices.py
Due: magic, price_grabber

Use IP not domain to avoid SSL redirect
  magic/fetcher.py
Due: magic

Upgrade to latest Flask and Flask-Babel and track latest stable from now on
  Pipfile
  Pipfile.lock
  shared_web/flask_app.py
  shared_web/localization.py
Due: shared, shared_web

Revert "Upgrade to latest Flask and Flask-Babel and track latest stable from now on"
  Pipfile
  Pipfile.lock
  shared_web/flask_app.py
  shared_web/localization.py
Due: shared, shared_web

Revert "Revert "Upgrade to latest Flask and Flask-Babel and track latest stable from now on""
  Pipfile
  Pipfile.lock
  shared_web/flask_app.py
  shared_web/localization.py
Due: shared, shared_web

Set locale selector correctly
  shared_web/flask_app.py
Due: shared, shared_web

Disable sentry for now as we're not currently using it
  shared_web/flask_app.py
Due: shared, shared_web

Revert "Disable sentry for now as we're not currently using it"
  shared_web/flask_app.py
Due: shared, shared_web

Downgrade interactions.py to see if it fixes the bot
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
Due: none

Add Foundations to seasons
  magic/seasons.py
Due: magic

Switch to new eslint 9 "flat config"
  .eslintrc.js
  eslint.config.js
  package-lock.json
  package.json
Due: none

Remove eslint directives that aren't necessary with eslint 9/new config
  shared_web/static/js/datamanager.jsx
  shared_web/static/js/grid.jsx
  shared_web/static/js/pd.js
  shared_web/static/js/table.jsx
Due: shared, shared_web

Move mypy-extensions for packages to dev packages
  Pipfile
  Pipfile.lock
Due: none

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
