Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

Better handling of Deleted forum threads (Duplicates?)
  discordbot/bot.py
  discordbot/commands/buginfo.py
  discordbot/commands/modobug.py
  modo_bugs/fetcher.py
  modo_bugs/scrape_forum.py
Due: discordbot

Remove print statements
  modo_bugs/scrape_forum.py
Due: none

Don't reconfirm closed issues
  modo_bugs/scrape_forum.py
Due: none

Autoclose
  modo_bugs/update.py
Due: none

Clean up corrupted images automatically
  magic/image_fetcher.py
Due: magic

Allow autocomplete to tolerate Market Research Elemental's excessively long name
  discordbot/command.py
Due: discordbot

Lochmere Serpent
  hq_artcrops.json
Due: none

Don't import logsite unless we plan on running analysis.
  maintenance/process_logs.py
Due: none

Remove unused imports
  Pipfile
  Pipfile.lock
  decksite/__init__.py
Due: decksite

Install celery
  Pipfile
  Pipfile.lock
Due: none

Add ONE to season.py
  magic/seasons.py
Due: magic

Include user info in sentry errors
  decksite/main.py
Due: decksite

Disable the import of reversable cards. They just cause issues
  magic/multiverse.py
  modo_bugs/update.py
Due: magic

Option to run reprime_cache only once a week
  maintenance/deck_hash.py
  maintenance/delete_unplayed_retired_decks.py
  maintenance/dev_db.py
  maintenance/elo.py
  maintenance/insert_seasons.py
  maintenance/reprime_cache.py
  maintenance/squash_people.py
  maintenance/typeahead.py
  maintenance/update_translations.py
  run.py
  shared_web/oauth.py
Due: shared, shared_web

Sentry for tasks and modo-bugs
  run.py
  shared/sentry.py
  shared_web/flask_app.py
Due: shared, shared_web

Missed a file
  maintenance/calculate_similar_decks.py
Due: none

Digital date is now officially after paper prerelease again
  magic/seasons.py
  maintenance/insert_seasons.py
Due: magic

WIS is giving us a non-set in their API. Ignore it.
  magic/seasons.py
Due: magic

lint
  magic/seasons.py
Due: magic

Fix easy typos in modo-bugs cardnames
  modo_bugs/update.py
Due: none

More error reporting in the rotation process
  price_grabber/srv_prices.py
  rotation_script/rotation_script.py
  run.py
Due: price_grabber

Fallback for MySql Server Gone Away
  shared/database.py
Due: shared

Ignore Penny Dreadful-legality Tribal Apocalypse tournaments in scraper
  decksite/scrapers/gatherling.py
Due: decksite

Clean up pricefile badnames, and add a few more to ther list
  price_grabber/parser.py
Due: price_grabber

Sentry Monitor for rotation script
  Pipfile
  rotation_script/rotation_script.py
  shared/configuration.py
  shared/sentry.py
Due: shared

fix: upgrade @babel/core from 7.21.0 to 7.21.3
  package-lock.json
  package.json
Due: none

Preaggregate _card_stats season-by-season instead of in a single query
  decksite/data/card.py
  decksite/data/preaggregation.py
Due: decksite

Revert "Preaggregate _card_stats season-by-season instead of in a single query"
  decksite/data/card.py
  decksite/data/preaggregation.py
Due: decksite

Ensure card db is set up before running pytest
  .github/workflows/build.yml
Due: none

Go dangerously unchecked when building new aggregate tables, for speed
  decksite/data/preaggregation.py
Due: decksite

Set the transaction isolation level for the session to get the benefit
  decksite/data/preaggregation.py
Due: decksite

Make init-cards slightly less hacky
  Pipfile
  run.py
Due: none

Centralize most everything about card layout and add the 'battle' layout
  decksite/controllers/api.py
  find/search.py
  magic/card.py
  magic/fetcher.py
  magic/image_fetcher.py
  magic/layout.py
  magic/models/card.py
  magic/multiverse.py
  magic/oracle.py
  magic/rotation.py
  magic/whoosh_write.py
  modo_bugs/fetcher.py
Due: decksite, magic

Initalize whoosh index if it's not initialized in command
  discordbot/command.py
Due: discordbot

Battles actually use the transform layout
  magic/layout.py
Due: magic

Update wotc community guidelines link
  decksite/templates/communityguidelines.mustache
Due: decksite

Try updating to Node latest to see if it fixes issues
  .github/workflows/build.yml
Due: none

Override default stacklevel of 1 to appease linter
  shared/recursive_update.py
Due: shared

Disable !swiss
  analysis/analysis_test.py
  discordbot/commands/swiss.py
Due: discordbot

Path conditions:
  decksite: any of: decksite, but not: dev.py, run.py
  discordbot: any of: discordbot, but not: dev.py, run.py
  magic: any of: magic, but not: dev.py, run.py
  price_grabber: any of: price_grabber, but not: dev.py, run.py
  shared: any of: shared, but not: dev.py, run.py
  shared_web: any of: shared_web, but not: dev.py, run.py
