Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Add ruff full-lint and mypy hooks to pre-commit (#12573)
  .pre-commit-config.yaml
Due: none

Make pre-commit hooks work locally and in CI
  .pre-commit-config.yaml
Due: none

Fix metagame grid ragged end by using factor-of-24 column counts (#12563)
  shared_web/static/css/pd.css
Due: shared, shared_web

Explain Quality sort via descriptive tooltip on /metagame (#12555)
  shared_web/static/js/metagamegrid.jsx
Due: shared, shared_web

Move archetypes2 decoration into dedicated preparation path (#12590)
  decksite/controllers/api.py
  decksite/controllers/api_test.py
  decksite/prepare.py
  decksite/prepare_test.py
Due: decksite

sweep state 2026-09-02T20:53:34Z
  escalations/12579.json
  escalations/8372.json
  evidence/11165.json
  evidence/8341.json
  journal.jsonl
  metrics.json
  reports/adjudicated-8075.json
  reports/adjudicated-8341.json
  reports/adjudicated-8372.json
  reports/human_digest.md
  snapshot.json
Due: none

sweep state 2026-09-02T21:15:40Z
  journal.jsonl
Due: none

sweep state 2026-09-02T21:18:41Z
  journal.jsonl
Due: none

Add AUTO sort order resolution to all order_by functions, remove grid.jsx override (#12564)
  decksite/data/clauses.py
  decksite/data/clauses_test.py
  shared_web/static/js/datamanager.jsx
Due: decksite, shared, shared_web

sweep state 2026-09-02T21:39:01Z
  journal.jsonl
Due: none

sweep state 2026-09-02T21:40:56Z
  journal.jsonl
Due: none

sweep state 2026-09-02T21:42:26Z
  journal.jsonl
Due: none

sweep state 2026-09-02T21:44:59Z
  journal.jsonl
Due: none

sweep state 2026-09-02T21:58:13Z
  journal.jsonl
Due: none

sweep state 2026-09-02T22:06:18Z
  journal.jsonl
Due: none

sweep state 2026-09-02T22:15:55Z
  journal.jsonl
Due: none

Fix menu submenu clipped by scroll container after badge containing-block change
  shared_web/static/css/pd.css
Due: shared, shared_web

sweep state 2026-09-02T22:22:45Z
  journal.jsonl
Due: none

Separate load_decks/load_people/etc from their paginated _with_total variants (#12490)
  decksite/controllers/about.py
  decksite/controllers/admin.py
  decksite/controllers/admin_test.py
  decksite/controllers/api.py
  decksite/controllers/competitions.py
  decksite/controllers/metagame.py
  decksite/data/achievements.py
  decksite/data/archetype_classifier.py
  decksite/data/archetype_classifier_test.py
  decksite/data/card.py
  decksite/data/competition.py
  decksite/data/deck.py
  decksite/data/deck_test.py
  decksite/data/elo.py
  decksite/data/match.py
  decksite/data/matchup.py
  decksite/data/models/person.py
  decksite/data/person.py
  decksite/data/rotation.py
  decksite/data/rule.py
  decksite/league.py
  decksite/league_test.py
  decksite/main.py
  decksite/scrapers/gatherling_test.py
  decksite/views/edit_archetypes.py
Due: decksite

sweep state 2026-09-02T23:06:33Z
  journal.jsonl
Due: none

Support multi-card deck search and win-rate filtering (#12550)
  decksite/controllers/api.py
  decksite/data/clauses.py
  decksite/data/clauses_test.py
Due: decksite

sweep state 2026-09-02T23:14:34Z
  journal.jsonl
Due: none

sweep state 2026-09-02T23:21:01Z
  journal.jsonl
Due: none

sweep state 2026-09-02T23:27:09Z
  journal.jsonl
Due: none

Anchor submenu to viewport top and make it sticky on touch
  shared_web/static/css/pd.css
  shared_web/static/js/pd.js
Due: shared, shared_web

Scope key_cards_long to current page's archetypes in /api/archetypes2 (#12554)
  decksite/controllers/api.py
  decksite/data/playability.py
Due: decksite

sweep state 2026-09-02T23:54:57Z
  journal.jsonl
Due: none

Fix /decks/ showing zero decks: ignore empty cardName filter
  decksite/data/clauses.py
  decksite/data/clauses_test.py
Due: decksite

Fix daily maintenance jobs crashing on load_decks/load_people list return
  maintenance/deck_hash.py
  maintenance/deck_hash_test.py
  maintenance/deck_name.py
  maintenance/elo.py
  maintenance/elo_test.py
  maintenance/gatherling_substitutions.py
  maintenance/typeahead.py
  maintenance/typeahead_test.py
Due: none

Revert "Adopt box-sizing: border-box globally (#12528)"
  shared_web/static/css/pd.css
Due: shared, shared_web

Show real archetypes on the home page, not taxonomy roots (#12568)
  decksite/data/archetype_test.py
  decksite/main.py
  decksite/main_test.py
Due: decksite

Revert "Show top archetypes by deck count on home page (#12568)"
  decksite/main.py
  decksite/templates/home.mustache
  decksite/views/home.py
Due: decksite

Add live-table contract tests and Playwright browser tests with a CI browser job
  .github/workflows/build.yml
  decksite/browser_test.py
  decksite/conftest.py
  decksite/live_table_test.py
  dev.py
  pyproject.toml
  pytest.ini
  uv.lock
Due: decksite

Verify the seeded database is visible to the site, build the symbols font in the browser job
  .github/workflows/build.yml
  decksite/conftest.py
Due: decksite

Drop the cached season list when switching to the seeded database; fetch LFS font sources in the browser job
  .github/workflows/build.yml
  decksite/conftest.py
Due: decksite

Show archetypes moving in the metagame on the home page (#12568)
  decksite/data/archetype.py
  decksite/data/archetype_test.py
  decksite/main.py
  decksite/templates/home.mustache
  decksite/views/home.py
  decksite/views/home_test.py
Due: decksite

Stop configuration lookups clobbering test overrides; make the browser tests prove they hit the seeded database
  decksite/browser_test.py
  shared/configuration.py
Due: decksite, shared

Match archetype URL names with one normalisation, not two (#12494)
  decksite/controllers/metagame.py
  decksite/data/archetype.py
  decksite/data/archetype_test.py
  shared/text.py
Due: decksite, shared

Build production JSX in production mode regardless of NODE_ENV
  package.json
Due: none
