Repository PennyDreadfulMTG/Penny-Dreadful-Tools: changes, and which Codecov flags are due for each by the changed paths.
All: decksite, discordbot, magic, price_grabber, shared, shared_web

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: auto
        threshold: 10
        base: auto
    project:
      default:
        target: auto
        threshold: 5
        base: auto
ignore:
  - dev.py
  - run.py
flags:
  decksite:
    paths:
      - decksite
  discordbot:
    paths:
      - discordbot
  magic:
    paths:
      - magic
  price_grabber:
    paths:
      - price_grabber
  shared:
    paths:
      - shared
  shared_web:
    paths:
      - shared_web

Support searching past seasons or all seasons in scryfall-like search
  find/find_test.py
  find/search.py
  magic/seasons.py
  magic/seasons_test.py
Due: magic

Support is:mdfc and is:dfc in card search
  find/find_test.py
  find/search.py
Due: none

is:gainland should not find Glimmerpost
  find/find_test.py
  find/search.py
Due: none

Support not: in card search (including not:permanent)
  find/find_test.py
  find/search.py
  find/tokens.py
Due: none

Support is:companion in card search
  find/find_test.py
  find/search.py
Due: none

Support various scryfall search features, bring others into line with Scryfall
  find/find_test.py
  find/search.py
Due: none

Show cards in order of interestingness in rotation hype message
  discordbot/commands/hype.py
  magic/fetcher.py
  magic/rotation.py
  magic/rotation_test.py
  shared/redis_wrapper.py
Due: discordbot, magic, shared

Add a comma to pd 500 winner banner
  decksite/templates/pd500winner.mustache
Due: decksite

Add chaosblackdoom as tournament organizer in achievements
  decksite/data/achievements.py
Due: decksite

Make /rotation much faster by introducing a decksite db caching layer
  analysis/analysis.py
  decksite/controllers/api.py
  decksite/controllers/resources.py
  decksite/data/playability.py
  decksite/data/query.py
  decksite/data/query_test.py
  decksite/data/rotation.py
  decksite/prepare.py
  decksite/sql/70.sql
  decksite/templates/rotation.mustache
  decksite/views/rotation.py
  discordbot/emoji.py
  find/find_test.py
  find/search.py
  magic/multiverse.py
  magic/rotation.py
  magic/rotation_test.py
  magic/seasons.py
Due: decksite, discordbot, magic

Don't refer to a table that doesn't exist
  decksite/data/rotation.py
Due: decksite

Saner behavior for rank sort
  decksite/data/query.py
Due: decksite

Return card mouseover to working order on /rotation
  decksite/views/rotation.py
Due: decksite

isort --fix the current codebase
  decksite/auth.py
  decksite/cache.py
  decksite/controllers/api.py
  decksite/controllers/resources.py
  decksite/data/competition.py
  decksite/data/deck.py
  decksite/data/rotation.py
  decksite/testutil.py
  decksite/view.py
  decksite/views/archetype.py
  decksite/views/person.py
  decksite/views/resources.py
  decksite/views/rotation_changes.py
  discordbot/command.py
  discordbot/commands/odds.py
  find/find_test.py
  find/search.py
  magic/abc/card_description.py
  magic/card.py
  maintenance/generate_translations.py
  modo_bugs/strings.py
  shared/database.py
  shared/decorators.py
  shared/dtutil.py
  shared/guarantee.py
  shared/lazy.py
  shared/perf.py
  shared/recursive_update.py
  shared/settings.py
  shared_web/decorators.py
  shared_web/template.py
Due: decksite, discordbot, magic, shared, shared_web

Support is:outlaw in card search
  find/find_test.py
  find/search.py
Due: none

Don't allow leagues that are zero seconds long
  decksite/league.py
  decksite/league_test.py
Due: decksite

Reactify achievement detail page
  decksite/controllers/api.py
  decksite/data/achievements.py
  decksite/data/clauses.py
  decksite/data/clauses_test.py
  decksite/data/playability.py
  decksite/data/query.py
  decksite/data/rotation.py
  decksite/league_test.py
  decksite/templates/livedecktable.mustache
  decksite/templates/personachievements.mustache
  decksite/views/person_achievements.py
  shared_web/static/js/table.jsx
Due: decksite, shared, shared_web

Add Duskmourn set code to SEASONS
  magic/seasons.py
Due: magic

We must always include name in the ORDER BY so that it's always a definite order
  decksite/data/clauses.py
Due: decksite

Fix issues with playability where a card was not played when legal
  decksite/data/playability.py
  shared/database.py
  shared/pd_exception.py
Due: decksite, shared

Fix imports
  decksite/controllers/api.py
  decksite/league.py
  shared/database.py
Due: decksite, shared

Better default sort order on /rotation, especially for admins
  decksite/data/clauses.py
Due: decksite

A little tweak to default sort order to put hit-in-last-run higher
  decksite/data/clauses.py
Due: decksite

Fix /mana command
  discordbot/commands/mana.py
Due: discordbot

Use the correct JOIN to solve the Kapsho Kitefins problem
  decksite/data/playability.py
Due: decksite

Account for unplayed cards in playability
  decksite/data/playability.py
Due: decksite

Update season_id when updating deck_cache and an existing row is found
  decksite/data/deck.py
Due: decksite

Fix flakey test
  magic/rotation_test.py
Due: magic

Allow rotation info to show after rotation so we can search til Scryfall update
  decksite/data/rotation.py
Due: decksite

Give cards that have never been played a rank of NULL, not a high number
  decksite/data/query.py
Due: decksite

Fix bug in rotation count when _rotation doesn't exist
  decksite/data/rotation.py
Due: decksite

Use the right variable name to prevent NULL percent_needed
  decksite/data/rotation.py
Due: decksite

Blacklist an offensive deck name
  decksite/deck_name.py
  decksite/deck_name_test.py
Due: decksite

Remove a bit of unnecessary math
  decksite/data/rotation.py
Due: decksite

Make the message on /rotation make sense after rotation
  decksite/controllers/resources.py
  decksite/templates/rotation.mustache
  decksite/views/rotation.py
Due: decksite

Exclude cards that were not legal in the season from playability calculations
  decksite/data/playability.py
Due: decksite

Teach the system that Oathbreaker is singleton
  magic/legality.py
  magic/legality_test.py
Due: magic

Lint
  decksite/controllers/resources.py
Due: decksite

Whitelist a deck name
  decksite/deck_name.py
Due: decksite

Make it more obvious when the bot fails to log a /bug
  discordbot/commands/bug.py
Due: discordbot
